# Collecting and Organizing all data.
---

In [1]:
ROOT_DIR = 'zillow_data/'
all_csvFiles = [ROOT_DIR + f for f in os.listdir(ROOT_DIR)]

In [2]:
bedroom_csvfiles = [f for f in all_csvFiles if 'bedroom' in f or 'Bedroom' in f]

In [3]:
import pandas as pd

bedroom_dataframes=[]

for f in bedroom_csvfiles:
    data = pd.read_csv(f, encoding='latin1',header=0)
    bedroom_dataframes.append(data)

In [4]:
 bedroom_dataframes

[     Unnamed: 0          RegionName State  \
 0             0            New York    NY
 1             1         Los Angeles    CA
 2             2             Houston    TX
 3             3             Chicago    IL
 4             4         San Antonio    TX
 ..          ...                 ...   ...
 813         813            Bee Cave    TX
 814         814     Century Village    FL
 815         815            Surfside    FL
 816         816  Bay Harbor Islands    FL
 817         817         Bal Harbour    FL

                                      Metro          CountyName  SizeRank  \
 0              New York-Newark-Jersey City       Queens County         1
 1           Los Angeles-Long Beach-Anaheim  Los Angeles County         2
 2         Houston-The Woodlands-Sugar Land       Harris County         3
 3                 Chicago-Naperville-Elgin         Cook County         4
 4                San Antonio-New Braunfels        Bexar County         5
 ..                                     ...                 ...       ...
 813                      Austin-Round Rock       Travis County       814
 814  Miami-Fort Lauderdale-West Palm Beach   Palm Beach County       815
 815  Miami-Fort Lauderdale-West Palm Beach   Miami-Dade County       816
 816  Miami-Fort Lauderdale-West Palm Beach   Miami-Dade County       817
 817  Miami-Fort Lauderdale-West Palm Beach   Miami-Dade County       818

      2010-02  2010-03  2010-04  2010-05  ...  2019-03  2019-04  2019-05  \
 0        NaN      NaN      NaN   2250.0  ...   2350.0   2400.0   2400.0
 1        NaN      NaN      NaN      NaN  ...   2360.0   2395.0   2370.0
 2        NaN      NaN      NaN      NaN  ...   1265.0   1270.0   1269.0
 3        NaN      NaN      NaN      NaN  ...   1695.0   1650.0   1650.0
 4        NaN      NaN      NaN      NaN  ...    985.0    981.0    985.0
 ..       ...      ...      ...      ...  ...      ...      ...      ...
 813      NaN      NaN      NaN      NaN  ...   1185.0   1202.0   1179.0
 814      NaN      NaN      NaN      NaN  ...    900.0    900.0    900.0
 815      NaN      NaN      NaN      NaN  ...   1875.0   1850.0   1750.0
 816      NaN      NaN      NaN      NaN  ...   1565.0   1550.0   1512.5
 817      NaN      NaN      NaN      NaN  ...   2500.0   2500.0   2700.0

      2019-06  2019-07  2019-08  2019-09  2019-10  2019-11  2019-12
 0     2450.0   2450.0   2475.0   2475.0   2400.0   2400.0   2425.0
 1     2395.0   2395.0   2400.0   2425.0   2350.0   2330.0   2340.0
 2     1286.0   1275.0   1275.0   1270.0   1264.0   1245.0   1249.0
 3     1634.0   1600.0   1582.0   1595.0   1542.0   1550.0   1550.0
 4      999.0   1000.0   1000.0    991.0    985.0    974.5    967.5
 ..       ...      ...      ...      ...      ...      ...      ...
 813   1203.0   1264.0   1304.0   1326.0   1299.0   1250.0   1315.5
 814    900.0    900.0    925.0    925.0    925.0    925.0    950.0
 815   1800.0   1800.0   1750.0   1750.0   1800.0   1800.0   1850.0
 816   1537.5   1600.0   1597.5   1550.0   1550.0   1550.0   1595.0
 817   2550.0   2500.0   2675.0   2662.5   2700.0   2600.0   2700.0

 [818 rows x 125 columns],
       Unnamed: 0          RegionName State  \
 0              0            New York    NY
 1              1         Los Angeles    CA
 2              2             Houston    TX
 3              3             Chicago    IL
 4              4         San Antonio    TX
 ...          ...                 ...   ...
 1260        1260          Siesta Key    FL
 1261        1261  Bay Harbor Islands    FL
 1262        1262      Highland Beach    FL
 1263        1263            Loughman    FL
 1264        1264        Longboat Key    FL

                                       Metro          CountyName  SizeRank  \
 0               New York-Newark-Jersey City       Queens County         1
 1            Los Angeles-Long Beach-Anaheim  Los Angeles County         2
 2          Houston-The Woodlands-Sugar Land       Harris County         3
 3                  Chicago-Naperville-Elgin         Cook County         4
 4                 San Antonio-New Braunfels        Bexar County         5
 ...                                     ...                 ...       ...
 1260          North Port-Sarasota-Bradenton     Sarasota County      1261
 1261  Miami-Fort Lauderdale-West Palm Beach   Miami-Dade County      1262
 1262  Miami-Fort Lauderdale-West Palm Beach   Palm Beach County      1263
 1263                  Lakeland-Winter Haven         Polk County      1264
 1264          North Port-Sarasota-Bradenton     Sarasota County      1265

       2010-02  2010-03  2010-04  2010-05  ...  2019-03  2019-04  2019-05  \
 0         NaN      NaN      NaN      NaN  ...   2500.0   2595.0   2600.0
 1      1800.0   1850.0   2000.0   2100.0  ...   2978.0   3000.0   2995.0
 2         NaN      NaN      NaN      NaN  ...   1529.0   1523.0   1520.0
 3         NaN   1500.0   1500.0   1475.0  ...   1950.0   1895.0   1850.0
 4         NaN      NaN      NaN      NaN  ...   1225.0   1230.0   1265.0
 ...       ...      ...      ...      ...  ...      ...      ...      ...
 1260      NaN      NaN      NaN      NaN  ...   3950.0   3650.0   4000.0
 1261      NaN      NaN      NaN      NaN  ...   2100.0   2150.0   2400.0
 1262      NaN      NaN      NaN      NaN  ...   3500.0   3700.0   3900.0
 1263      NaN      NaN      NaN      NaN  ...   1395.0   1380.0   1395.0
 1264      NaN      NaN      NaN      NaN  ...   4500.0   4000.0   3950.0

       2019-06  2019-07  2019-08  2019-09  2019-10  2019-11  2019-12
 0      2695.0   2695.0   2700.0   2650.0   2650.0   2600.0   2600.0
 1      3000.0   3000.0   3050.0   3100.0   3000.0   2985.0   2995.0
 2      1510.0   1527.5   1522.0   1500.0   1495.0   1471.0   1480.0
 3      1850.0   1850.0   1825.0   1825.0   1750.0   1730.0   1700.0
 4      1269.0   1255.0   1235.0   1245.0   1234.0   1227.0   1208.0
 ...       ...      ...      ...      ...      ...      ...      ...
 1260   4000.0   4200.0   4200.0   4200.0   4200.0   4300.0   4600.0
 1261   2300.0   2295.0   2150.0   2225.0   2500.0   2500.0   2400.0
 1262   3800.0   3600.0   3947.5   4000.0   4050.0   4047.5   3500.0
 1263   1395.0   1415.0   1415.0   1435.0   1415.0   1415.0   1415.0
 1264   3750.0   3900.0   4500.0   4600.0   5000.0   5000.0   5000.0

 [1265 rows x 125 columns],
      Unnamed: 0         RegionName State                             Metro  \
 0             0           New York    NY       New York-Newark-Jersey City
 1             1        Los Angeles    CA    Los Angeles-Long Beach-Anaheim
 2             2            Houston    TX  Houston-The Woodlands-Sugar Land
 3             3            Chicago    IL          Chicago-Naperville-Elgin
 4             4        San Antonio    TX         San Antonio-New Braunfels
 ..          ...                ...   ...                               ...
 985         985         Siesta Key    FL     North Port-Sarasota-Bradenton
 986         986    Glasgow Village    MO                         St. Louis
 987         987      Bridgehampton    NY       New York-Newark-Jersey City
 988         988            Montauk    NY       New York-Newark-Jersey City
 989         989  Westhampton Beach    NY       New York-Newark-Jersey City

              CountyName  SizeRank  2010-02  2010-03  2010-04  2010-05  ...  \
 0         Queens County         1      NaN      NaN      NaN      NaN  ...
 1    Los Angeles County         2   2350.0   2400.0   2411.0   2500.0  ...
 2         Harris County         3      NaN      NaN      NaN      NaN  ...
 3           Cook County         4      NaN      NaN      NaN      NaN  ...
 4          Bexar County         5      NaN      NaN      NaN      NaN  ...
 ..                  ...       ...      ...      ...      ...      ...  ...
 985     Sarasota County       986      NaN      NaN      NaN      NaN  ...
 986  Saint Louis County       987      NaN      NaN      NaN      NaN  ...
 987      Suffolk County       988      NaN      NaN      NaN      NaN  ...
 988      Suffolk County       989      NaN      NaN      NaN      NaN  ...
 989      Suffolk County       990      NaN      NaN      NaN      NaN  ...

      2019-03  2019-04  2019-05  2019-06  2019-07  2019-08  2019-09  2019-10  \
 0     2600.0   2699.0   2750.0   2800.0   2800.0   2800.0   2734.0   2700.0
 1     3550.0   3645.0   3695.0   3750.0   3772.5   3750.0   3795.0   3795.0
 2     1600.0   1600.0   1650.0   1647.0   1625.0   1625.0   1600.0   1599.0
 3     2100.0   2200.0   2300.0   2295.0   2225.0   2100.0   2000.0   1950.0
 4     1425.0   1450.0   1450.0   1475.0   1475.0   1450.0   1449.0   1435.0
 ..       ...      ...      ...      ...      ...      ...      ...      ...
 985   5000.0   4895.0   4650.0   4350.0   4350.0   4800.0   4800.0   5000.0
 986    825.0    825.0    825.0    825.0    849.5    832.5    825.0    800.0
 987  30000.0  28416.5  30000.0  28333.0  28333.0  28333.0  25000.0  25000.0
 988  18000.0  20000.0  21000.0  20000.0  20750.0  21000.0  20000.0  20000.0
 989  23000.0  23000.0  23125.0  23000.0  24750.0  22000.0  20250.0  20500.0

      2019-11  2019-12
 0     2650.0   2650.0
 1     3750.0   3795.0
 2     1595.0   1575.0
 3     1895.0   1825.0
 4     1425.0   1450.0
 ..       ...      ...
 985   5000.0   5100.0
 986    815.0    817.5
 987  29166.5  30000.0
 988  20500.0  21333.0
 989  20000.0  20250.0

 [990 rows x 125 columns],
      Unnamed: 0         RegionName State                             Metro  \
 0             0           New York    NY       New York-Newark-Jersey City
 1             1        Los Angeles    CA    Los Angeles-Long Beach-Anaheim
 2             2            Houston    TX  Houston-The Woodlands-Sugar Land
 3             3            Chicago    IL          Chicago-Naperville-Elgin
 4             4        San Antonio    TX         San Antonio-New Braunfels
 ..          ...                ...   ...                               ...
 311         311         Sag Harbor    NY       New York-Newark-Jersey City
 312         312      Bridgehampton    NY       New York-Newark-Jersey City
 313         313  Westhampton Beach    NY       New York-Newark-Jersey City
 314         314         Water Mill    NY       New York-Newark-Jersey City
 315         315             Quogue    NY       New York-Newark-Jersey City

              CountyName  SizeRank  2010-02  2010-03  2010-04  2010-05  ...  \
 0         Queens County         1      NaN      NaN      NaN      NaN  ...
 1    Los Angeles County         2      NaN      NaN      NaN      NaN  ...
 2         Harris County         3      NaN      NaN      NaN      NaN  ...
 3           Cook County         4      NaN      NaN      NaN      NaN  ...
 4          Bexar County         5      NaN      NaN      NaN      NaN  ...
 ..                  ...       ...      ...      ...      ...      ...  ...
 311      Suffolk County       312      NaN      NaN      NaN      NaN  ...
 312      Suffolk County       313      NaN      NaN      NaN      NaN  ...
 313      Suffolk County       314      NaN      NaN      NaN      NaN  ...
 314      Suffolk County       315      NaN      NaN      NaN      NaN  ...
 315      Suffolk County       316      NaN      NaN      NaN      NaN  ...

      2019-03  2019-04  2019-05  2019-06  2019-07  2019-08  2019-09  2019-10  \
 0     3400.0   3600.0   3700.0   3795.0   3700.0   3750.0   3750.0   3750.0
 1     4110.5   4250.0   4350.0   4500.0   4500.0   4500.0   4397.5   4495.0
 2     1776.0   1850.0   1880.0   1875.0   1895.0   1890.0   1900.0   1800.0
 3     2500.0   2800.0   3095.0   3200.0   3000.0   2800.0   2600.0   2400.0
 4     1680.0   1700.0   1730.0   1745.0   1750.0   1695.0   1695.0   1695.0
 ..       ...      ...      ...      ...      ...      ...      ...      ...
 311  30000.0  30000.0  30000.0  30000.0  29000.0  30000.0  26666.0  27750.0
 312  40000.0  40000.0  45000.0  43333.0  40000.0  39250.0  39000.0  42500.0
 313  33000.0  28000.0  31250.0  31250.0  29500.0  27500.0  26333.0  24000.0
 314  40000.0  45000.0  41333.0  41333.0  42000.0  37750.0  39750.0  41000.0
 315  30000.0  28000.0  28000.0  30000.0  28000.0  28000.0  26000.0  30000.0

      2019-11  2019-12
 0     3700.0   3597.5
 1     4250.0   4262.5
 2     1800.0   1790.0
 3     2395.0   2350.0
 4     1650.0   1650.0
 ..       ...      ...
 311  30000.0  30000.0
 312  35000.0  36333.0
 313  25000.0  28166.5
 314  40000.0  40000.0
 315  30000.0  28000.0

 [316 rows x 125 columns],
     Unnamed: 0        RegionName State  \
 0            0       Los Angeles    CA
 1            1           Houston    TX
 2            2       San Antonio    TX
 3            3      Philadelphia    PA
 4            4         Las Vegas    NV
 5            5         San Diego    CA
 6            6            Austin    TX
 7            7          San Jose    CA
 8            8      Jacksonville    FL
 9            9         Charlotte    NC
 10          10        Fort Worth    TX
 11          11           Orlando    FL
 12          12            Boston    MA
 13          13         Nashville    TN
 14          14        Sacramento    CA
 15          15         Milwaukee    WI
 16          16       Kansas City    MO
 17          17  Colorado Springs    CO
 18          18        Long Beach    CA
 19          19    Virginia Beach    VA
 20          20          Honolulu    HI
 21          21         Cleveland    OH
 22          22       New Orleans    LA
 23          23           Wichita    KS
 24          24         Anchorage    AK
 25          25             Plano    TX
 26          26         Henderson    NV
 27          27           Buffalo    NY
 28          28     Lawrenceville    GA
 29          29            Irvine    CA
 30          30           Yonkers    NY
 31          31        Providence    RI
 32          32        Sugar Land    TX
 33          33           Cumming    GA
 34          34            Frisco    TX
 35          35          Bellevue    WA
 36          36         New Haven    CT
 37          37          Murrieta    CA
 38          38          Temecula    CA
 39          39             Tracy    CA
 40          40         Waterbury    CT
 41          41            Newton    MA
 42          42     Newport Beach    CA
 43          43        Somerville    MA
 44          44     West Hartford    CT
 45          45             Doral    FL
 46          46          Eastvale    CA
 47          47     Beverly Hills    CA

                                          Metro           CountyName  SizeRank  \
 0               Los Angeles-Long Beach-Anaheim   Los Angeles County         1
 1             Houston-The Woodlands-Sugar Land        Harris County         2
 2                    San Antonio-New Braunfels         Bexar County         3
 3               Philadelphia-Camden-Wilmington  Philadelphia County         4
 4                 Las Vegas-Henderson-Paradise         Clark County         5
 5                           San Diego-Carlsbad     San Diego County         6
 6                            Austin-Round Rock        Travis County         7
 7               San Jose-Sunnyvale-Santa Clara   Santa Clara County         8
 8                                 Jacksonville         Duval County         9
 9                   Charlotte-Concord-Gastonia   Mecklenburg County        10
 10                 Dallas-Fort Worth-Arlington       Tarrant County        11
 11                   Orlando-Kissimmee-Sanford        Orange County        12
 12                     Boston-Cambridge-Newton       Suffolk County        13
 13  Nashville-Davidson--Murfreesboro--Franklin      Davidson County        14
 14         Sacramento--Roseville--Arden-Arcade    Sacramento County        15
 15               Milwaukee-Waukesha-West Allis     Milwaukee County        16
 16                                 Kansas City       Jackson County        17
 17                            Colorado Springs       El Paso County        18
 18              Los Angeles-Long Beach-Anaheim   Los Angeles County        19
 19         Virginia Beach-Norfolk-Newport News  Virginia Beach City        20
 20                              Urban Honolulu      Honolulu County        21
 21                            Cleveland-Elyria      Cuyahoga County        22
 22                        New Orleans-Metairie       Orleans Parish        23
 23                                     Wichita      Sedgwick County        24
 24                                   Anchorage    Anchorage Borough        25
 25                 Dallas-Fort Worth-Arlington        Collin County        26
 26                Las Vegas-Henderson-Paradise         Clark County        27
 27           Buffalo-Cheektowaga-Niagara Falls          Erie County        28
 28               Atlanta-Sandy Springs-Roswell      Gwinnett County        29
 29              Los Angeles-Long Beach-Anaheim        Orange County        30
 30                 New York-Newark-Jersey City   Westchester County        31
 31                          Providence-Warwick    Providence County        32
 32            Houston-The Woodlands-Sugar Land     Fort Bend County        33
 33               Atlanta-Sandy Springs-Roswell       Forsyth County        34
 34                 Dallas-Fort Worth-Arlington        Collin County        35
 35                     Seattle-Tacoma-Bellevue          King County        36
 36                           New Haven-Milford     New Haven County        37
 37            Riverside-San Bernardino-Ontario     Riverside County        38
 38            Riverside-San Bernardino-Ontario     Riverside County        39
 39                               Stockton-Lodi   San Joaquin County        40
 40                           New Haven-Milford     New Haven County        41
 41                     Boston-Cambridge-Newton     Middlesex County        42
 42              Los Angeles-Long Beach-Anaheim        Orange County        43
 43                     Boston-Cambridge-Newton     Middlesex County        44
 44        Hartford-West Hartford-East Hartford      Hartford County        45
 45       Miami-Fort Lauderdale-West Palm Beach    Miami-Dade County        46
 46            Riverside-San Bernardino-Ontario     Riverside County        47
 47              Los Angeles-Long Beach-Anaheim   Los Angeles County        48

     2011-01  2011-02  2011-03  2011-04  ...  2019-03  2019-04  2019-05  \
 0       NaN      NaN      NaN      NaN  ...   4000.0   4150.0   3972.5
 1       NaN      NaN      NaN      NaN  ...   2600.0   2700.0   2850.0
 2       NaN      NaN      NaN      NaN  ...   1800.0   1850.0   1950.0
 3       NaN      NaN      NaN      NaN  ...   2725.0   2655.0   2600.0
 4       NaN   1795.0   1800.0   1900.0  ...   2221.0   2396.5   2495.0
 5       NaN      NaN      NaN      NaN  ...   5400.0   5500.0   5450.0
 6       NaN      NaN      NaN      NaN  ...   3800.0   3700.0   3800.0
 7       NaN      NaN      NaN      NaN  ...   4800.0   4700.0   4395.0
 8       NaN      NaN      NaN      NaN  ...   1800.0   1849.5   1750.0
 9       NaN      NaN      NaN      NaN  ...   2212.5   2285.0   2322.5
 10      NaN      NaN      NaN      NaN  ...   2320.0   2500.0   2300.0
 11      NaN      NaN      NaN      NaN  ...   2300.0   2300.0   2398.0
 12      NaN      NaN      NaN      NaN  ...   4750.0   4650.0   4595.0
 13      NaN      NaN      NaN      NaN  ...   1872.5   1745.0   1797.0
 14      NaN      NaN      NaN      NaN  ...   2125.0   2295.0   2197.5
 15      NaN      NaN      NaN      NaN  ...    925.0   1050.0   1050.0
 16      NaN      NaN      NaN      NaN  ...   1150.0   1137.5   1150.0
 17      NaN      NaN      NaN   1850.0  ...   2192.5   2195.0   2000.0
 18      NaN      NaN      NaN      NaN  ...   2218.0   2195.0   2195.0
 19      NaN      NaN      NaN      NaN  ...   2400.0   2600.0   2500.0
 20      NaN      NaN      NaN      NaN  ...   2600.0   2650.0   2495.0
 21      NaN      NaN      NaN      NaN  ...    937.5    950.0    900.0

In [5]:
def clean_data(dataframe):
    if('Unnamed: 0' in dataframe.columns):
        dataframe.drop('Unnamed: 0', inplace=True, axis=1)
    if('index' in dataframe.columns):
        dataframe.drop('index', inplace=True, axis=1)

In [6]:
# Simple function to split categorical and numerical data in given dataframe.
import numpy as np

def organize_df(dataframe):
    organized_df = pd.DataFrame
    clean_data(dataframe)
    categorical_data = dataframe.select_dtypes(exclude=[np.number])
    numerical_data = dataframe.select_dtypes(include=[np.number])
    data = [categorical_data, numerical_data]
    organized_df = pd.concat(data)
    return organized_df

In [7]:
cleaned_dataframes = []
for i in range(0,len(bedroom_dataframes)):
    cleaned_data = organize_df(bedroom_dataframes[i])
    print(cleaned_data)
    cleaned_dataframes.append(cleaned_data)

      RegionName State                             Metro          CountyName  \
0       New York    NY       New York-Newark-Jersey City       Queens County
1    Los Angeles    CA    Los Angeles-Long Beach-Anaheim  Los Angeles County
2        Houston    TX  Houston-The Woodlands-Sugar Land       Harris County
3        Chicago    IL          Chicago-Naperville-Elgin         Cook County
4    San Antonio    TX         San Antonio-New Braunfels        Bexar County
..           ...   ...                               ...                 ...
813          NaN   NaN                               NaN                 NaN
814          NaN   NaN                               NaN                 NaN
815          NaN   NaN                               NaN                 NaN
816          NaN   NaN                               NaN                 NaN
817          NaN   NaN                               NaN                 NaN

     SizeRank  2010-02  2010-03  2010-04  2010-05  2010-06  ...  2019-03  \
0         NaN      NaN      NaN      NaN      NaN      NaN  ...      NaN
1         NaN      NaN      NaN      NaN      NaN      NaN  ...      NaN
2         NaN      NaN      NaN      NaN      NaN      NaN  ...      NaN
3         NaN      NaN      NaN      NaN      NaN      NaN  ...      NaN
4         NaN      NaN      NaN      NaN      NaN      NaN  ...      NaN
..        ...      ...      ...      ...      ...      ...  ...      ...
813     814.0      NaN      NaN      NaN      NaN      NaN  ...   1185.0
814     815.0      NaN      NaN      NaN      NaN      NaN  ...    900.0
815     816.0      NaN      NaN      NaN      NaN      NaN  ...   1875.0
816     817.0      NaN      NaN      NaN      NaN      NaN  ...   1565.0
817     818.0      NaN      NaN      NaN      NaN      NaN  ...   2500.0

     2019-04  2019-05  2019-06  2019-07  2019-08  2019-09  2019-10  2019-11  \
0        NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN
1        NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN
2        NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN
3        NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN
4        NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN
..       ...      ...      ...      ...      ...      ...      ...      ...
813   1202.0   1179.0   1203.0   1264.0   1304.0   1326.0   1299.0   1250.0
814    900.0    900.0    900.0    900.0    925.0    925.0    925.0    925.0
815   1850.0   1750.0   1800.0   1800.0   1750.0   1750.0   1800.0   1800.0
816   1550.0   1512.5   1537.5   1600.0   1597.5   1550.0   1550.0   1550.0
817   2500.0   2700.0   2550.0   2500.0   2675.0   2662.5   2700.0   2600.0

     2019-12
0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
..       ...
813   1315.5
814    950.0
815   1850.0
816   1595.0
817   2700.0

[1636 rows x 124 columns]
       RegionName State                             Metro          CountyName  \
0        New York    NY       New York-Newark-Jersey City       Queens County
1     Los Angeles    CA    Los Angeles-Long Beach-Anaheim  Los Angeles County
2         Houston    TX  Houston-The Woodlands-Sugar Land       Harris County
3         Chicago    IL          Chicago-Naperville-Elgin         Cook County
4     San Antonio    TX         San Antonio-New Braunfels        Bexar County
...           ...   ...                               ...                 ...
1260          NaN   NaN                               NaN                 NaN
1261          NaN   NaN                               NaN                 NaN
1262          NaN   NaN                               NaN                 NaN
1263          NaN   NaN                               NaN                 NaN
1264          NaN   NaN                               NaN                 NaN

      SizeRank  2010-02  2010-03  2010-04  2010-05  2010-06  ...  2019-03  \
0          NaN      NaN      NaN      NaN      NaN      NaN  ...      NaN
1          NaN      NaN      NaN      NaN      NaN      NaN  ...      NaN
2          NaN      NaN      NaN      NaN      NaN      NaN  ...      NaN
3          NaN      NaN      NaN      NaN      NaN      NaN  ...      NaN
4          NaN      NaN      NaN      NaN      NaN      NaN  ...      NaN
...        ...      ...      ...      ...      ...      ...  ...      ...
1260    1261.0      NaN      NaN      NaN      NaN      NaN  ...   3950.0
1261    1262.0      NaN      NaN      NaN      NaN      NaN  ...   2100.0
1262    1263.0      NaN      NaN      NaN      NaN      NaN  ...   3500.0
1263    1264.0      NaN      NaN      NaN      NaN      NaN  ...   1395.0
1264    1265.0      NaN      NaN      NaN      NaN      NaN  ...   4500.0

      2019-04  2019-05  2019-06  2019-07  2019-08  2019-09  2019-10  2019-11  \
0         NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN
1         NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN
2         NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN
3         NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN
4         NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN
...       ...      ...      ...      ...      ...      ...      ...      ...
1260   3650.0   4000.0   4000.0   4200.0   4200.0   4200.0   4200.0   4300.0
1261   2150.0   2400.0   2300.0   2295.0   2150.0   2225.0   2500.0   2500.0
1262   3700.0   3900.0   3800.0   3600.0   3947.5   4000.0   4050.0   4047.5
1263   1380.0   1395.0   1395.0   1415.0   1415.0   1435.0   1415.0   1415.0
1264   4000.0   3950.0   3750.0   3900.0   4500.0   4600.0   5000.0   5000.0

      2019-12
0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
...       ...
1260   4600.0
1261   2400.0
1262   3500.0
1263   1415.0
1264   5000.0

[2530 rows x 124 columns]
      RegionName State                             Metro          CountyName  \
0       New York    NY       New York-Newark-Jersey City       Queens County
1    Los Angeles    CA    Los Angeles-Long Beach-Anaheim  Los Angeles County
2        Houston    TX  Houston-The Woodlands-Sugar Land       Harris County
3        Chicago    IL          Chicago-Naperville-Elgin         Cook County
4    San Antonio    TX         San Antonio-New Braunfels        Bexar County
..           ...   ...                               ...                 ...
985          NaN   NaN                               NaN                 NaN
986          NaN   NaN                               NaN                 NaN
987          NaN   NaN                               NaN                 NaN
988          NaN   NaN                               NaN                 NaN
989          NaN   NaN                               NaN                 NaN

     SizeRank  2010-02  2010-03  2010-04  2010-05  2010-06  ...  2019-03  \
0         NaN      NaN      NaN      NaN      NaN      NaN  ...      NaN
1         NaN      NaN      NaN      NaN      NaN      NaN  ...      NaN
2         NaN      NaN      NaN      NaN      NaN      NaN  ...      NaN
3         NaN      NaN      NaN      NaN      NaN      NaN  ...      NaN
4         NaN      NaN      NaN      NaN      NaN      NaN  ...      NaN
..        ...      ...      ...      ...      ...      ...  ...      ...
985     986.0      NaN      NaN      NaN      NaN      NaN  ...   5000.0
986     987.0      NaN      NaN      NaN      NaN      NaN  ...    825.0
987     988.0      NaN      NaN      NaN      NaN      NaN  ...  30000.0
988     989.0      NaN      NaN      NaN      NaN      NaN  ...  18000.0
989     990.0      NaN      NaN      NaN      NaN      NaN  ...  23000.0

     2019-04  2019-05  2019-06  2019-07  2019-08  2019-09  2019-10  2019-11  \
0        NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN
1        NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN
2        NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN
3        NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN
4        NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN
..       ...      ...      ...      ...      ...      ...      ...      ...
985   4895.0   4650.0   4350.0   4350.0   4800.0   4800.0   5000.0   5000.0
986    825.0    825.0    825.0    849.5    832.5    825.0    800.0    815.0
987  28416.5  30000.0  28333.0  28333.0  28333.0  25000.0  25000.0  29166.5
988  20000.0  21000.0  20000.0  20750.0  21000.0  20000.0  20000.0  20500.0
989  23000.0  23125.0  23000.0  24750.0  22000.0  20250.0  20500.0  20000.0

     2019-12
0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
..       ...
985   5100.0
986    817.5
987  30000.0
988  21333.0
989  20250.0

[1980 rows x 124 columns]
      RegionName State                             Metro          CountyName  \
0       New York    NY       New York-Newark-Jersey City       Queens County
1    Los Angeles    CA    Los Angeles-Long Beach-Anaheim  Los Angeles County
2        Houston    TX  Houston-The Woodlands-Sugar Land       Harris County
3        Chicago    IL          Chicago-Naperville-Elgin         Cook County
4    San Antonio    TX         San Antonio-New Braunfels        Bexar County
..           ...   ...                               ...                 ...
311          NaN   NaN                               NaN                 NaN
312          NaN   NaN                               NaN                 NaN
313          NaN   NaN                               NaN                 NaN
314          NaN   NaN                               NaN                 NaN
315          NaN   NaN                               NaN                 NaN

     SizeRank  2010-02  2010-03  2010-04  2010-05  2010-06  ...  2019-03  \
0         NaN      NaN      NaN      NaN      NaN      NaN  ...      NaN
1         NaN      NaN      NaN      NaN      NaN      NaN  ...      NaN
2         NaN      NaN      NaN      NaN      NaN      NaN  ...      NaN
3         NaN      NaN      NaN      NaN      NaN      NaN  ...      NaN
4         NaN      NaN      NaN      NaN      NaN      NaN  ...      NaN
..        ...      ...      ...      ...      ...      ...  ...      ...
311     312.0      NaN      NaN      NaN      NaN      NaN  ...  30000.0
312     313.0      NaN      NaN      NaN      NaN      NaN  ...  40000.0
313     314.0      NaN      NaN      NaN      NaN      NaN  ...  33000.0
314     315.0      NaN      NaN      NaN      NaN      NaN  ...  40000.0
315     316.0      NaN      NaN      NaN      NaN      NaN  ...  30000.0

     2019-04  2019-05  2019-06  2019-07  2019-08  2019-09  2019-10  2019-11  \
0        NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN
1        NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN
2        NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN
3        NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN
4        NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN
..       ...      ...      ...      ...      ...      ...      ...      ...
311  30000.0  30000.0  30000.0  29000.0  30000.0  26666.0  27750.0  30000.0
312  40000.0  45000.0  43333.0  40000.0  39250.0  39000.0  42500.0  35000.0
313  28000.0  31250.0  31250.0  29500.0  27500.0  26333.0  24000.0  25000.0
314  45000.0  41333.0  41333.0  42000.0  37750.0  39750.0  41000.0  40000.0
315  28000.0  28000.0  30000.0  28000.0  28000.0  26000.0  30000.0  30000.0

     2019-12
0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
..       ...
311  30000.0
312  36333.0
313  28166.5
314  40000.0
315  28000.0

[632 rows x 124 columns]
      RegionName State                             Metro           CountyName  \
0    Los Angeles    CA    Los Angeles-Long Beach-Anaheim   Los Angeles County
1        Houston    TX  Houston-The Woodlands-Sugar Land        Harris County
2    San Antonio    TX         San Antonio-New Braunfels         Bexar County
3   Philadelphia    PA    Philadelphia-Camden-Wilmington  Philadelphia County
4      Las Vegas    NV      Las Vegas-Henderson-Paradise         Clark County
..           ...   ...                               ...                  ...
43           NaN   NaN                               NaN                  NaN
44           NaN   NaN                               NaN                  NaN
45           NaN   NaN                               NaN                  NaN
46           NaN   NaN                               NaN                  NaN
47           NaN   NaN                               NaN                  NaN

    SizeRank  2011-01  2011-02  2011-03  2011-04  2011-05  ...  2019-03  \
0        NaN      NaN      NaN      NaN      NaN      NaN  ...      NaN
1        NaN      NaN      NaN      NaN      NaN      NaN  ...      NaN
2        NaN      NaN      NaN      NaN      NaN      NaN  ...      NaN
3        NaN      NaN      NaN      NaN      NaN      NaN  ...      NaN
4        NaN      NaN      NaN      NaN      NaN      NaN  ...      NaN
..       ...      ...      ...      ...      ...      ...  ...      ...
43      44.0      NaN      NaN      NaN      NaN      NaN  ...   4400.0
44      45.0      NaN      NaN      NaN      NaN      NaN  ...   1495.0
45      46.0      NaN      NaN      NaN      NaN      NaN  ...   4100.0
46      47.0      NaN      NaN      NaN      NaN   2485.0  ...   2997.0
47      48.0      NaN      NaN      NaN      NaN      NaN  ...  25000.0

    2019-04  2019-05  2019-06  2019-07  2019-08  2019-09  2019-10  2019-11  \
0       NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN
1       NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN
2       NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN
3       NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN
4       NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN
..      ...      ...      ...      ...      ...      ...      ...      ...
43   4500.0   4500.0   4250.0   4000.0   4000.0   4250.0   4300.0   4000.0
44   1495.0   1500.0   1492.5   1600.0   1700.0   1650.0   1700.0   1600.0
45   4400.0   4600.0   4600.0   4575.0   4800.0   4500.0   4900.0   4900.0
46   2950.0   2950.0   2900.0   2900.0   2925.0   2900.0   2925.0   2890.0
47  25000.0  25500.0  25900.0  25000.0  26400.0  27250.0  27150.0  26000.0

    2019-12
0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
..      ...
43   3900.0
44   1750.0
45   4900.0
46   2950.0
47  26800.0

[96 rows x 113 columns]
        RegionName RegionType StateName State  \
0         New York       City        NY    NY
1      Los Angeles       City        CA    CA
2          Houston       City        TX    TX
3          Chicago       City        IL    IL
4      San Antonio       City        TX    TX
...            ...        ...       ...   ...
14922          NaN        NaN       NaN   NaN
14923          NaN        NaN       NaN   NaN
14924          NaN        NaN       NaN   NaN
14925          NaN        NaN       NaN   NaN
14926          NaN        NaN       NaN   NaN

                                  Metro          CountyName  RegionID  \
0           New York-Newark-Jersey City       Queens County       NaN
1        Los Angeles-Long Beach-Anaheim  Los Angeles County       NaN
2      Houston-The Woodlands-Sugar Land       Harris County       NaN
3              Chicago-Naperville-Elgin         Cook County       NaN
4             San Antonio-New Braunfels        Bexar County       NaN
...                                 ...                 ...       ...
14922                               NaN                 NaN   46631.0
14923                               NaN                 NaN   36413.0
14924                               NaN                 NaN   47188.0
14925                               NaN                 NaN   50522.0
14926                               NaN                 NaN  171699.0

       SizeRank  1996-01-31  1996-02-29  ...  2019-06-30  2019-07-31  \
0           NaN         NaN         NaN  ...         NaN         NaN
1           NaN         NaN         NaN  ...         NaN         NaN
2           NaN         NaN         NaN  ...         NaN         NaN
3           NaN         NaN         NaN  ...         NaN         NaN
4           NaN         NaN         NaN  ...         NaN         NaN
...         ...         ...         ...  ...         ...         ...
14922   29449.0         NaN         NaN  ...    265433.0    265416.0
14923   29449.0         NaN         NaN  ...    266859.0    264830.0
14924   29449.0         NaN         NaN  ...    319362.0    320613.0
14925   29449.0         NaN         NaN  ...     84853.0     84590.0
14926   29449.0         NaN         NaN  ...     87861.0     86737.0

       2019-08-31  2019-09-30  2019-10-31  2019-11-30  2019-12-31  2020-01-31  \
0             NaN         NaN         NaN         NaN         NaN         NaN
1             NaN         NaN         NaN         NaN         NaN         NaN
2             NaN         NaN         NaN         NaN         NaN         NaN
3             NaN         NaN         NaN         NaN         NaN         NaN
4             NaN         NaN         NaN         NaN         NaN         NaN
...           ...         ...         ...         ...         ...         ...
14922    264521.0    263834.0    264721.0    266037.0    267942.0    270804.0
14923    262533.0    260316.0    260430.0    260157.0    260289.0    259156.0
14924    321779.0    322437.0    323805.0    325514.0    325813.0    325566.0
14925     84192.0     83679.0     83629.0     83772.0     83926.0     83878.0
14926     85964.0     85173.0     84496.0     83595.0     82262.0     80709.0

       2020-02-29  2020-03-31
0             NaN         NaN
1             NaN         NaN
2             NaN         NaN
3             NaN         NaN
4             NaN         NaN
...           ...         ...
14922    274046.0    277787.0
14923    257962.0    253995.0
14924    323627.0    321894.0
14925     83718.0     83805.0
14926     78897.0     77120.0

[29854 rows x 299 columns]
        RegionName RegionType StateName State  \
0         New York       City        NY    NY
1      Los Angeles       City        CA    CA
2          Houston       City        TX    TX
3          Chicago       City        IL    IL
4      San Antonio       City        TX    TX
...            ...        ...       ...   ...
23391          NaN        NaN       NaN   NaN
23392          NaN        NaN       NaN   NaN
23393          NaN        NaN       NaN   NaN
23394          NaN        NaN       NaN   NaN
23395          NaN        NaN       NaN   NaN

                                  Metro          CountyName  RegionID  \
0           New York-Newark-Jersey City       Queens County       NaN
1        Los Angeles-Long Beach-Anaheim  Los Angeles County       NaN
2      Houston-The Woodlands-Sugar Land       Harris County       NaN
3              Chicago-Naperville-Elgin         Cook County       NaN
4             San Antonio-New Braunfels        Bexar County       NaN
...                                 ...                 ...       ...
23391                               NaN                 NaN   52073.0
23392                               NaN                 NaN   31730.0
23393                               NaN                 NaN   51148.0
23394                               NaN                 NaN    5133.0
23395                               NaN                 NaN   45077.0

       SizeRank  1996-01-31  1996-02-29  ...  2019-06-30  2019-07-31  \
0           NaN         NaN         NaN  ...         NaN         NaN
1           NaN         NaN         NaN  ...         NaN         NaN
2           NaN         NaN         NaN  ...         NaN         NaN
3           NaN         NaN         NaN  ...         NaN         NaN
4           NaN         NaN         NaN  ...         NaN         NaN

In [8]:
for i in range(len(cleaned_dataframes)):
    print(cleaned_dataframes[i].head())

    RegionName State                             Metro          CountyName  \
0     New York    NY       New York-Newark-Jersey City       Queens County
1  Los Angeles    CA    Los Angeles-Long Beach-Anaheim  Los Angeles County
2      Houston    TX  Houston-The Woodlands-Sugar Land       Harris County
3      Chicago    IL          Chicago-Naperville-Elgin         Cook County
4  San Antonio    TX         San Antonio-New Braunfels        Bexar County

   SizeRank  2010-02  2010-03  2010-04  2010-05  2010-06  ...  2019-03  \
0       NaN      NaN      NaN      NaN      NaN      NaN  ...      NaN
1       NaN      NaN      NaN      NaN      NaN      NaN  ...      NaN
2       NaN      NaN      NaN      NaN      NaN      NaN  ...      NaN
3       NaN      NaN      NaN      NaN      NaN      NaN  ...      NaN
4       NaN      NaN      NaN      NaN      NaN      NaN  ...      NaN

   2019-04  2019-05  2019-06  2019-07  2019-08  2019-09  2019-10  2019-11  \
0      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN
1      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN
2      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN
3      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN
4      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN

   2019-12
0      NaN
1      NaN
2      NaN
3      NaN
4      NaN

[5 rows x 124 columns]
    RegionName State                             Metro          CountyName  \
0     New York    NY       New York-Newark-Jersey City       Queens County
1  Los Angeles    CA    Los Angeles-Long Beach-Anaheim  Los Angeles County
2      Houston    TX  Houston-The Woodlands-Sugar Land       Harris County
3      Chicago    IL          Chicago-Naperville-Elgin         Cook County
4  San Antonio    TX         San Antonio-New Braunfels        Bexar County

   SizeRank  2010-02  2010-03  2010-04  2010-05  2010-06  ...  2019-03  \
0       NaN      NaN      NaN      NaN      NaN      NaN  ...      NaN
1       NaN      NaN      NaN      NaN      NaN      NaN  ...      NaN
2       NaN      NaN      NaN      NaN      NaN      NaN  ...      NaN
3       NaN      NaN      NaN      NaN      NaN      NaN  ...      NaN
4       NaN      NaN      NaN      NaN      NaN      NaN  ...      NaN

   2019-04  2019-05  2019-06  2019-07  2019-08  2019-09  2019-10  2019-11  \
0      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN
1      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN
2      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN
3      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN
4      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN

   2019-12
0      NaN
1      NaN
2      NaN
3      NaN
4      NaN

[5 rows x 124 columns]
    RegionName State                             Metro          CountyName  \
0     New York    NY       New York-Newark-Jersey City       Queens County
1  Los Angeles    CA    Los Angeles-Long Beach-Anaheim  Los Angeles County
2      Houston    TX  Houston-The Woodlands-Sugar Land       Harris County
3      Chicago    IL          Chicago-Naperville-Elgin         Cook County
4  San Antonio    TX         San Antonio-New Braunfels        Bexar County

   SizeRank  2010-02  2010-03  2010-04  2010-05  2010-06  ...  2019-03  \
0       NaN      NaN      NaN      NaN      NaN      NaN  ...      NaN
1       NaN      NaN      NaN      NaN      NaN      NaN  ...      NaN
2       NaN      NaN      NaN      NaN      NaN      NaN  ...      NaN
3       NaN      NaN      NaN      NaN      NaN      NaN  ...      NaN
4       NaN      NaN      NaN      NaN      NaN      NaN  ...      NaN

   2019-04  2019-05  2019-06  2019-07  2019-08  2019-09  2019-10  2019-11  \
0      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN
1      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN
2      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN
3      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN
4      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN

   2019-12
0      NaN
1      NaN
2      NaN
3      NaN
4      NaN

[5 rows x 124 columns]
    RegionName State                             Metro          CountyName  \
0     New York    NY       New York-Newark-Jersey City       Queens County
1  Los Angeles    CA    Los Angeles-Long Beach-Anaheim  Los Angeles County
2      Houston    TX  Houston-The Woodlands-Sugar Land       Harris County
3      Chicago    IL          Chicago-Naperville-Elgin         Cook County
4  San Antonio    TX         San Antonio-New Braunfels        Bexar County

   SizeRank  2010-02  2010-03  2010-04  2010-05  2010-06  ...  2019-03  \
0       NaN      NaN      NaN      NaN      NaN      NaN  ...      NaN
1       NaN      NaN      NaN      NaN      NaN      NaN  ...      NaN
2       NaN      NaN      NaN      NaN      NaN      NaN  ...      NaN
3       NaN      NaN      NaN      NaN      NaN      NaN  ...      NaN
4       NaN      NaN      NaN      NaN      NaN      NaN  ...      NaN

   2019-04  2019-05  2019-06  2019-07  2019-08  2019-09  2019-10  2019-11  \
0      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN
1      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN
2      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN
3      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN
4      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN

   2019-12
0      NaN
1      NaN
2      NaN
3      NaN
4      NaN

[5 rows x 124 columns]
     RegionName State                             Metro           CountyName  \
0   Los Angeles    CA    Los Angeles-Long Beach-Anaheim   Los Angeles County
1       Houston    TX  Houston-The Woodlands-Sugar Land        Harris County
2   San Antonio    TX         San Antonio-New Braunfels         Bexar County
3  Philadelphia    PA    Philadelphia-Camden-Wilmington  Philadelphia County
4     Las Vegas    NV      Las Vegas-Henderson-Paradise         Clark County

   SizeRank  2011-01  2011-02  2011-03  2011-04  2011-05  ...  2019-03  \
0       NaN      NaN      NaN      NaN      NaN      NaN  ...      NaN
1       NaN      NaN      NaN      NaN      NaN      NaN  ...      NaN
2       NaN      NaN      NaN      NaN      NaN      NaN  ...      NaN
3       NaN      NaN      NaN      NaN      NaN      NaN  ...      NaN
4       NaN      NaN      NaN      NaN      NaN      NaN  ...      NaN

   2019-04  2019-05  2019-06  2019-07  2019-08  2019-09  2019-10  2019-11  \
0      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN
1      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN
2      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN
3      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN
4      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN

   2019-12
0      NaN
1      NaN
2      NaN
3      NaN
4      NaN

[5 rows x 113 columns]
    RegionName RegionType StateName State                             Metro  \
0     New York       City        NY    NY       New York-Newark-Jersey City
1  Los Angeles       City        CA    CA    Los Angeles-Long Beach-Anaheim
2      Houston       City        TX    TX  Houston-The Woodlands-Sugar Land
3      Chicago       City        IL    IL          Chicago-Naperville-Elgin
4  San Antonio       City        TX    TX         San Antonio-New Braunfels

           CountyName  RegionID  SizeRank  1996-01-31  1996-02-29  ...  \
0       Queens County       NaN       NaN         NaN         NaN  ...
1  Los Angeles County       NaN       NaN         NaN         NaN  ...
2       Harris County       NaN       NaN         NaN         NaN  ...
3         Cook County       NaN       NaN         NaN         NaN  ...
4        Bexar County       NaN       NaN         NaN         NaN  ...

   2019-06-30  2019-07-31  2019-08-31  2019-09-30  2019-10-31  2019-11-30  \
0         NaN         NaN         NaN         NaN         NaN         NaN
1         NaN         NaN         NaN         NaN         NaN         NaN
2         NaN         NaN         NaN         NaN         NaN         NaN
3         NaN         NaN         NaN         NaN         NaN         NaN
4         NaN         NaN         NaN         NaN         NaN         NaN

   2019-12-31  2020-01-31  2020-02-29  2020-03-31
0         NaN         NaN         NaN         NaN
1         NaN         NaN         NaN         NaN
2         NaN         NaN         NaN         NaN
3         NaN         NaN         NaN         NaN
4         NaN         NaN         NaN         NaN

[5 rows x 299 columns]
    RegionName RegionType StateName State                             Metro  \
0     New York       City        NY    NY       New York-Newark-Jersey City
1  Los Angeles       City        CA    CA    Los Angeles-Long Beach-Anaheim
2      Houston       City        TX    TX  Houston-The Woodlands-Sugar Land
3      Chicago       City        IL    IL          Chicago-Naperville-Elgin
4  San Antonio       City        TX    TX         San Antonio-New Braunfels

           CountyName  RegionID  SizeRank  1996-01-31  1996-02-29  ...  \
0       Queens County       NaN       NaN         NaN         NaN  ...
1  Los Angeles County       NaN       NaN         NaN         NaN  ...
2       Harris County       NaN       NaN         NaN         NaN  ...
3         Cook County       NaN       NaN         NaN         NaN  ...
4        Bexar County       NaN       NaN         NaN         NaN  ...

   2019-06-30  2019-07-31  2019-08-31  2019-09-30  2019-10-31  2019-11-30  \
0         NaN         NaN         NaN         NaN         NaN         NaN
1         NaN         NaN         NaN         NaN         NaN         NaN
2         NaN         NaN         NaN         NaN         NaN         NaN
3         NaN         NaN         NaN         NaN         NaN         NaN
4         NaN         NaN         NaN         NaN         NaN         NaN

   2019-12-31  2020-01-31  2020-02-29  2020-03-31
0         NaN         NaN         NaN         NaN
1         NaN         NaN         NaN         NaN
2         NaN         NaN         NaN         NaN
3         NaN         NaN         NaN         NaN
4         NaN         NaN         NaN         NaN

[5 rows x 299 columns]
    RegionName RegionType StateName State                             Metro  \
0     New York       City        NY    NY       New York-Newark-Jersey City
1  Los Angeles       City        CA    CA    Los Angeles-Long Beach-Anaheim
2      Houston       City        TX    TX  Houston-The Woodlands-Sugar Land
3      Chicago       City        IL    IL          Chicago-Naperville-Elgin
4  San Antonio       City        TX    TX         San Antonio-New Braunfels

           CountyName  RegionID  SizeRank  1996-01-31  1996-02-29  ...  \
0       Queens County       NaN       NaN         NaN         NaN  ...
1  Los Angeles County       NaN       NaN         NaN         NaN  ...
2       Harris County       NaN       NaN         NaN         NaN  ...
3         Cook County       NaN       NaN         NaN         NaN  ...
4        Bexar County       NaN       NaN         NaN         NaN  ...

   2019-06-30  2019-07-31  2019-08-31  2019-09-30  2019-10-31  2019-11-30  \
0         NaN         NaN         NaN         NaN         NaN         NaN
1         NaN         NaN         NaN         NaN         NaN         NaN
2         NaN         NaN         NaN         NaN         NaN         NaN
3         NaN         NaN         NaN         NaN         NaN         NaN
4         NaN         NaN         NaN         NaN         NaN         NaN

   2019-12-31  2020-01-31  2020-02-29  2020-03-31
0         NaN         NaN         NaN         NaN
1         NaN         NaN         NaN         NaN
2         NaN         NaN         NaN         NaN
3         NaN         NaN         NaN         NaN
4         NaN         NaN         NaN         NaN

[5 rows x 299 columns]
    RegionName RegionType StateName State                             Metro  \
0     New York       City        NY    NY       New York-Newark-Jersey City
1  Los Angeles       City        CA    CA    Los Angeles-Long Beach-Anaheim
2      Houston       City        TX    TX  Houston-The Woodlands-Sugar Land
3      Chicago       City        IL    IL          Chicago-Naperville-Elgin
4  San Antonio       City        TX    TX         San Antonio-New Braunfels

           CountyName  RegionID  SizeRank  1996-01-31  1996-02-29  ...  \
0       Queens County       NaN       NaN         NaN         NaN  ...
1  Los Angeles County       NaN       NaN         NaN         NaN  ...
2       Harris County       NaN       NaN         NaN         NaN  ...
3         Cook County       NaN       NaN         NaN         NaN  ...
4        Bexar County       NaN       NaN         NaN         NaN  ...

   2019-06-30  2019-07-31  2019-08-31  2019-09-30  2019-10-31  2019-11-30  \
0         NaN         NaN         NaN         NaN         NaN         NaN
1         NaN         NaN         NaN         NaN         NaN         NaN
2         NaN         NaN         NaN         NaN         NaN         NaN
3         NaN         NaN         NaN         NaN         NaN         NaN
4         NaN         NaN         NaN         NaN         NaN         NaN

   2019-12-31  2020-01-31  2020-02-29  2020-03-31
0         NaN         NaN         NaN         NaN
1         NaN         NaN         NaN         NaN
2         NaN         NaN         NaN         NaN
3         NaN         NaN         NaN         NaN
4         NaN         NaN         NaN         NaN

[5 rows x 299 columns]
    RegionName RegionType StateName State                             Metro  \
0     New York       City        NY    NY       New York-Newark-Jersey City
1  Los Angeles       City        CA    CA    Los Angeles-Long Beach-Anaheim
2      Houston       City        TX    TX  Houston-The Woodlands-Sugar Land
3      Chicago       City        IL    IL          Chicago-Naperville-Elgin
4  San Antonio       City        TX    TX         San Antonio-New Braunfels

           CountyName  RegionID  SizeRank  1996-01-31  1996-02-29  ...  \
0       Queens County       NaN       NaN         NaN         NaN  ...
1  Los Angeles County       NaN       NaN         NaN         NaN  ...
2       Harris County       NaN       NaN         NaN         NaN  ...
3         Cook County       NaN       NaN         NaN         NaN  ...
4        Bexar County       NaN       NaN         NaN         NaN  ...

   2019-06-30  2019-07-31  2019-08-31  2019-09-30  2019-10-31  2019-11-30  \
0         NaN         NaN         NaN         NaN         NaN         NaN
1         NaN         NaN         NaN         NaN         NaN         NaN
2         NaN         NaN         NaN         NaN         NaN         NaN
3         NaN         NaN         NaN         NaN         NaN         NaN
4         NaN         NaN         NaN         NaN         NaN         NaN

   2019-12-31  2020-01-31  2020-02-29  2020-03-31
0         NaN         NaN         NaN         NaN
1         NaN         NaN         NaN         NaN
2         NaN         NaN         NaN         NaN
3         NaN         NaN         NaN         NaN
4         NaN         NaN         NaN         NaN

[5 rows x 299 columns]
   RegionName  SizeRank  2010-02  2010-03  2010-04  2010-05  2010-06  2010-07  \
0  California       NaN      NaN      NaN      NaN      NaN      NaN      NaN
1       Texas       NaN      NaN      NaN      NaN      NaN      NaN      NaN
2    New York       NaN      NaN      NaN      NaN      NaN      NaN      NaN
3     Florida       NaN      NaN      NaN      NaN      NaN      NaN      NaN
4    Illinois       NaN      NaN      NaN      NaN      NaN      NaN      NaN

   2010-08  2010-09  ...  2019-03  2019-04  2019-05  2019-06  2019-07  \
0      NaN      NaN  ...      NaN      NaN      NaN      NaN      NaN
1      NaN      NaN  ...      NaN      NaN      NaN      NaN      NaN
2      NaN      NaN  ...      NaN      NaN      NaN      NaN      NaN
3      NaN      NaN  ...      NaN      NaN      NaN      NaN      NaN
4      NaN      NaN  ...      NaN      NaN      NaN      NaN      NaN

   2019-08  2019-09  2019-10  2019-11  2019-12
0      NaN      NaN      NaN      NaN      NaN
1      NaN      NaN      NaN      NaN      NaN
2      NaN      NaN      NaN      NaN      NaN
3      NaN      NaN      NaN      NaN      NaN
4      NaN      NaN      NaN      NaN      NaN

[5 rows x 121 columns]
   RegionName  SizeRank  2010-01  2010-02  2010-03  2010-04  2010-05  2010-06  \
0  California       NaN      NaN      NaN      NaN      NaN      NaN      NaN
1       Texas       NaN      NaN      NaN      NaN      NaN      NaN      NaN
2    New York       NaN      NaN      NaN      NaN      NaN      NaN      NaN
3     Florida       NaN      NaN      NaN      NaN      NaN      NaN      NaN
4    Illinois       NaN      NaN      NaN      NaN      NaN      NaN      NaN

   2010-07  2010-08  ...  2019-03  2019-04  2019-05  2019-06  2019-07  \
0      NaN      NaN  ...      NaN      NaN      NaN      NaN      NaN
1      NaN      NaN  ...      NaN      NaN      NaN      NaN      NaN
2      NaN      NaN  ...      NaN      NaN      NaN      NaN      NaN
3      NaN      NaN  ...      NaN      NaN      NaN      NaN      NaN
4      NaN      NaN  ...      NaN      NaN      NaN      NaN      NaN

   2019-08  2019-09  2019-10  2019-11  2019-12
0      NaN      NaN      NaN      NaN      NaN
1      NaN      NaN      NaN      NaN      NaN
2      NaN      NaN      NaN      NaN      NaN
3      NaN      NaN      NaN      NaN      NaN
4      NaN      NaN      NaN      NaN      NaN

[5 rows x 122 columns]
   RegionName  SizeRank  2010-02  2010-03  2010-04  2010-05  2010-06  2010-07  \
0  California       NaN      NaN      NaN      NaN      NaN      NaN      NaN
1       Texas       NaN      NaN      NaN      NaN      NaN      NaN      NaN
2    New York       NaN      NaN      NaN      NaN      NaN      NaN      NaN
3     Florida       NaN      NaN      NaN      NaN      NaN      NaN      NaN
4    Illinois       NaN      NaN      NaN      NaN      NaN      NaN      NaN

   2010-08  2010-09  ...  2019-03  2019-04  2019-05  2019-06  2019-07  \
0      NaN      NaN  ...      NaN      NaN      NaN      NaN      NaN
1      NaN      NaN  ...      NaN      NaN      NaN      NaN      NaN
2      NaN      NaN  ...      NaN      NaN      NaN      NaN      NaN
3      NaN      NaN  ...      NaN      NaN      NaN      NaN      NaN
4      NaN      NaN  ...      NaN      NaN      NaN      NaN      NaN

   2019-08  2019-09  2019-10  2019-11  2019-12
0      NaN      NaN      NaN      NaN      NaN
1      NaN      NaN      NaN      NaN      NaN
2      NaN      NaN      NaN      NaN      NaN
3      NaN      NaN      NaN      NaN      NaN
4      NaN      NaN      NaN      NaN      NaN

[5 rows x 121 columns]
     RegionName  SizeRank  2010-02  2010-03  2010-04  2010-05  2010-06  \
0    California       NaN      NaN      NaN      NaN      NaN      NaN
1         Texas       NaN      NaN      NaN      NaN      NaN      NaN
2       Florida       NaN      NaN      NaN      NaN      NaN      NaN
3      Illinois       NaN      NaN      NaN      NaN      NaN      NaN
4  Pennsylvania       NaN      NaN      NaN      NaN      NaN      NaN

   2010-07  2010-08  2010-09  ...  2019-03  2019-04  2019-05  2019-06  \
0      NaN      NaN      NaN  ...      NaN      NaN      NaN      NaN
1      NaN      NaN      NaN  ...      NaN      NaN      NaN      NaN
2      NaN      NaN      NaN  ...      NaN      NaN      NaN      NaN
3      NaN      NaN      NaN  ...      NaN      NaN      NaN      NaN
4      NaN      NaN      NaN  ...      NaN      NaN      NaN      NaN

   2019-07  2019-08  2019-09  2019-10  2019-11  2019-12

In [9]:
from sklearn.impute import SimpleImputer
def impute_data(dataframe,impute_strategy='mean'):
    simp = SimpleImputer(strategy=impute_strategy)
    
    categorical_data = dataframe.select_dtypes(exclude=[np.number])
    numerical_data = dataframe.select_dtypes(include=[np.number])
    imputed_data = simp.fit_transform(numerical_data)
    imputed_dataframe = pd.DataFrame(imputed_data, columns=numerical_data.columns,index=numerical_data.index)
    return pd.concat([categorical_data,imputed_dataframe],axis=1)

In [10]:
bedroom_imputed_dataframes = []
for i in range(len(cleaned_dataframes)):
    d = impute_data(cleaned_dataframes[i])
    bedroom_imputed_dataframes.append(d)

In [11]:
for bd in enumerate(bedroom_imputed_dataframes):
    print(bd[0])
    print(bd[1].head())

0
    RegionName State                             Metro          CountyName  \
0     New York    NY       New York-Newark-Jersey City       Queens County
1  Los Angeles    CA    Los Angeles-Long Beach-Anaheim  Los Angeles County
2      Houston    TX  Houston-The Woodlands-Sugar Land       Harris County
3      Chicago    IL          Chicago-Naperville-Elgin         Cook County
4  San Antonio    TX         San Antonio-New Braunfels        Bexar County

     SizeRank      2010-02      2010-03      2010-04  2010-05  2010-06  ...  \
0  409.498778  1521.666667  1463.333333  1491.666667  1643.75  1692.25  ...
1  409.498778  1521.666667  1463.333333  1491.666667  1643.75  1692.25  ...
2  409.498778  1521.666667  1463.333333  1491.666667  1643.75  1692.25  ...
3  409.498778  1521.666667  1463.333333  1491.666667  1643.75  1692.25  ...
4  409.498778  1521.666667  1463.333333  1491.666667  1643.75  1692.25  ...

       2019-03      2019-04      2019-05      2019-06      2019-07  \
0  1367.775061  1375.256724  1383.422372  1391.526284  1393.319071
1  1367.775061  1375.256724  1383.422372  1391.526284  1393.319071
2  1367.775061  1375.256724  1383.422372  1391.526284  1393.319071
3  1367.775061  1375.256724  1383.422372  1391.526284  1393.319071
4  1367.775061  1375.256724  1383.422372  1391.526284  1393.319071

       2019-08      2019-09      2019-10      2019-11      2019-12
0  1390.609413  1386.911369  1384.099633  1381.577017  1384.483496
1  1390.609413  1386.911369  1384.099633  1381.577017  1384.483496
2  1390.609413  1386.911369  1384.099633  1381.577017  1384.483496
3  1390.609413  1386.911369  1384.099633  1381.577017  1384.483496
4  1390.609413  1386.911369  1384.099633  1381.577017  1384.483496

[5 rows x 124 columns]
1
    RegionName State                             Metro          CountyName  \
0     New York    NY       New York-Newark-Jersey City       Queens County
1  Los Angeles    CA    Los Angeles-Long Beach-Anaheim  Los Angeles County
2      Houston    TX  Houston-The Woodlands-Sugar Land       Harris County
3      Chicago    IL          Chicago-Naperville-Elgin         Cook County
4  San Antonio    TX         San Antonio-New Braunfels        Bexar County

     SizeRank  2010-02      2010-03     2010-04  2010-05  2010-06  ...  \
0  632.996047   1373.5  1298.466667  1280.46875   1305.0  1343.75  ...
1  632.996047   1373.5  1298.466667  1280.46875   1305.0  1343.75  ...
2  632.996047   1373.5  1298.466667  1280.46875   1305.0  1343.75  ...
3  632.996047   1373.5  1298.466667  1280.46875   1305.0  1343.75  ...
4  632.996047   1373.5  1298.466667  1280.46875   1305.0  1343.75  ...

       2019-03      2019-04      2019-05      2019-06     2019-07  \
0  1547.283004  1558.955731  1568.083794  1578.505534  1579.27668
1  1547.283004  1558.955731  1568.083794  1578.505534  1579.27668
2  1547.283004  1558.955731  1568.083794  1578.505534  1579.27668
3  1547.283004  1558.955731  1568.083794  1578.505534  1579.27668
4  1547.283004  1558.955731  1568.083794  1578.505534  1579.27668

       2019-08      2019-09      2019-10      2019-11      2019-12
0  1580.555731  1576.118972  1569.226087  1564.598024  1566.388142
1  1580.555731  1576.118972  1569.226087  1564.598024  1566.388142
2  1580.555731  1576.118972  1569.226087  1564.598024  1566.388142
3  1580.555731  1576.118972  1569.226087  1564.598024  1566.388142
4  1580.555731  1576.118972  1569.226087  1564.598024  1566.388142

[5 rows x 124 columns]
2
    RegionName State                             Metro          CountyName  \
0     New York    NY       New York-Newark-Jersey City       Queens County
1  Los Angeles    CA    Los Angeles-Long Beach-Anaheim  Los Angeles County
2      Houston    TX  Houston-The Woodlands-Sugar Land       Harris County
3      Chicago    IL          Chicago-Naperville-Elgin         Cook County
4  San Antonio    TX         San Antonio-New Braunfels        Bexar County

     SizeRank      2010-02      2010-03      2010-04      2010-05  \
0  495.493939  1184.772727  1261.833333  1295.470588  1332.305556
1  495.493939  1184.772727  1261.833333  1295.470588  1332.305556
2  495.493939  1184.772727  1261.833333  1295.470588  1332.305556
3  495.493939  1184.772727  1261.833333  1295.470588  1332.305556
4  495.493939  1184.772727  1261.833333  1295.470588  1332.305556

       2010-06  ...      2019-03      2019-04      2019-05  2019-06  \
0  1342.777778  ...  1948.180303  1967.066162  1981.621212   1985.7
1  1342.777778  ...  1948.180303  1967.066162  1981.621212   1985.7
2  1342.777778  ...  1948.180303  1967.066162  1981.621212   1985.7
3  1342.777778  ...  1948.180303  1967.066162  1981.621212   1985.7
4  1342.777778  ...  1948.180303  1967.066162  1981.621212   1985.7

       2019-07      2019-08      2019-09      2019-10      2019-11  \
0  1988.918687  1979.261111  1967.120707  1960.441919  1967.223737
1  1988.918687  1979.261111  1967.120707  1960.441919  1967.223737
2  1988.918687  1979.261111  1967.120707  1960.441919  1967.223737
3  1988.918687  1979.261111  1967.120707  1960.441919  1967.223737
4  1988.918687  1979.261111  1967.120707  1960.441919  1967.223737

       2019-12
0  1969.811616
1  1969.811616
2  1969.811616
3  1969.811616
4  1969.811616

[5 rows x 124 columns]
3
    RegionName State                             Metro          CountyName  \
0     New York    NY       New York-Newark-Jersey City       Queens County
1  Los Angeles    CA    Los Angeles-Long Beach-Anaheim  Los Angeles County
2      Houston    TX  Houston-The Woodlands-Sugar Land       Harris County
3      Chicago    IL          Chicago-Naperville-Elgin         Cook County
4  San Antonio    TX         San Antonio-New Braunfels        Bexar County

   SizeRank      2010-02  2010-03  2010-04  2010-05  2010-06  ...  \
0     158.5  1511.666667  1591.25   1592.0   1584.0   1616.5  ...
1     158.5  1511.666667  1591.25   1592.0   1584.0   1616.5  ...
2     158.5  1511.666667  1591.25   1592.0   1584.0   1616.5  ...
3     158.5  1511.666667  1591.25   1592.0   1584.0   1616.5  ...
4     158.5  1511.666667  1591.25   1592.0   1584.0   1616.5  ...

       2019-03  2019-04      2019-05      2019-06      2019-07      2019-08  \
0  3071.257911   3092.5  3113.131329  3127.049051  3107.004747  3059.968354
1  3071.257911   3092.5  3113.131329  3127.049051  3107.004747  3059.968354
2  3071.257911   3092.5  3113.131329  3127.049051  3107.004747  3059.968354
3  3071.257911   3092.5  3113.131329  3127.049051  3107.004747  3059.968354
4  3071.257911   3092.5  3113.131329  3127.049051  3107.004747  3059.968354

       2019-09      2019-10      2019-11     2019-12
0  3035.289557  3048.297468  3036.647152  3055.15981
1  3035.289557  3048.297468  3036.647152  3055.15981
2  3035.289557  3048.297468  3036.647152  3055.15981
3  3035.289557  3048.297468  3036.647152  3055.15981
4  3035.289557  3048.297468  3036.647152  3055.15981

[5 rows x 124 columns]
4
     RegionName State                             Metro           CountyName  \
0   Los Angeles    CA    Los Angeles-Long Beach-Anaheim   Los Angeles County
1       Houston    TX  Houston-The Woodlands-Sugar Land        Harris County
2   San Antonio    TX         San Antonio-New Braunfels         Bexar County
3  Philadelphia    PA    Philadelphia-Camden-Wilmington  Philadelphia County
4     Las Vegas    NV      Las Vegas-Henderson-Paradise         Clark County

   SizeRank  2011-01  2011-02  2011-03      2011-04   2011-05  ...  \
0      24.5    797.5   1297.5   1287.5  1508.333333  1685.625  ...
1      24.5    797.5   1297.5   1287.5  1508.333333  1685.625  ...
2      24.5    797.5   1297.5   1287.5  1508.333333  1685.625  ...
3      24.5    797.5   1297.5   1287.5  1508.333333  1685.625  ...
4      24.5    797.5   1297.5   1287.5  1508.333333  1685.625  ...

      2019-03      2019-04      2019-05    2019-06     2019-07      2019-08  \
0  3330.65625  3385.072917  3358.333333  3384.5625  3356.90625  3380.479167
1  3330.65625  3385.072917  3358.333333  3384.5625  3356.90625  3380.479167
2  3330.65625  3385.072917  3358.333333  3384.5625  3356.90625  3380.479167
3  3330.65625  3385.072917  3358.333333  3384.5625  3356.90625  3380.479167
4  3330.65625  3385.072917  3358.333333  3384.5625  3356.90625  3380.479167

       2019-09      2019-10  2019-11      2019-12
0  3407.072917  3377.395833  3356.25  3383.854167
1  3407.072917  3377.395833  3356.25  3383.854167
2  3407.072917  3377.395833  3356.25  3383.854167
3  3407.072917  3377.395833  3356.25  3383.854167
4  3407.072917  3377.395833  3356.25  3383.854167

[5 rows x 113 columns]
5
    RegionName RegionType StateName State                             Metro  \
0     New York       City        NY    NY       New York-Newark-Jersey City
1  Los Angeles       City        CA    CA    Los Angeles-Long Beach-Anaheim
2      Houston       City        TX    TX  Houston-The Woodlands-Sugar Land
3      Chicago       City        IL    IL          Chicago-Naperville-Elgin
4  San Antonio       City        TX    TX         San Antonio-New Braunfels

           CountyName     RegionID      SizeRank    1996-01-31    1996-02-29  \
0       Queens County  62002.39519  11023.768138  97987.753277  97487.608276
1  Los Angeles County  62002.39519  11023.768138  97987.753277  97487.608276
2       Harris County  62002.39519  11023.768138  97987.753277  97487.608276
3         Cook County  62002.39519  11023.768138  97987.753277  97487.608276
4        Bexar County  62002.39519  11023.768138  97987.753277  97487.608276

   ...     2019-06-30     2019-07-31     2019-08-31     2019-09-30  \
0  ...  151980.544785  152393.427949  152821.213305  153272.720707
1  ...  151980.544785  152393.427949  152821.213305  153272.720707
2  ...  151980.544785  152393.427949  152821.213305  153272.720707
3  ...  151980.544785  152393.427949  152821.213305  153272.720707
4  ...  151980.544785  152393.427949  152821.213305  153272.720707

      2019-10-31    2019-11-30     2019-12-31     2020-01-31     2020-02-29  \
0  153721.514504  154130.07195  154577.526228  155086.631607  155642.690963
1  153721.514504  154130.07195  154577.526228  155086.631607  155642.690963
2  153721.514504  154130.07195  154577.526228  155086.631607  155642.690963
3  153721.514504  154130.07195  154577.526228  155086.631607  155642.690963
4  153721.514504  154130.07195  154577.526228  155086.631607  155642.690963

      2020-03-31
0  156215.785891
1  156215.785891
2  156215.785891
3  156215.785891
4  156215.785891

[5 rows x 299 columns]
6
    RegionName RegionType StateName State                             Metro  \
0     New York       City        NY    NY       New York-Newark-Jersey City
1  Los Angeles       City        CA    CA    Los Angeles-Long Beach-Anaheim
2      Houston       City        TX    TX  Houston-The Woodlands-Sugar Land
3      Chicago       City        IL    IL          Chicago-Naperville-Elgin
4  San Antonio       City        TX    TX         San Antonio-New Braunfels

           CountyName      RegionID     SizeRank    1996-01-31    1996-02-29  \
0       Queens County  63527.160882  13522.75265  98735.190217  98507.653584
1  Los Angeles County  63527.160882  13522.75265  98735.190217  98507.653584
2       Harris County  63527.160882  13522.75265  98735.190217  98507.653584
3         Cook County  63527.160882  13522.75265  98735.190217  98507.653584
4        Bexar County  63527.160882  13522.75265  98735.190217  98507.653584

   ...     2019-06-30     2019-07-31     2019-08-31     2019-09-30  \
0  ...  158778.608181  159236.567063  159718.105702  160216.909771
1  ...  158778.608181  159236.567063  159718.105702  160216.909771
2  ...  158778.608181  159236.567063  159718.105702  160216.909771
3  ...  158778.608181  159236.567063  159718.105702  160216.909771
4  ...  158778.608181  159236.567063  159718.105702  160216.909771

      2019-10-31     2019-11-30     2019-12-31     2020-01-31     2020-02-29  \
0  160718.205206  161167.324158  161647.328817  162183.322833  162772.095871
1  160718.205206  161167.324158  161647.328817  162183.322833  162772.095871
2  160718.205206  161167.324158  161647.328817  162183.322833  162772.095871
3  160718.205206  161167.324158  161647.328817  162183.322833  162772.095871
4  160718.205206  161167.324158  161647.328817  162183.322833  162772.095871

    2020-03-31
0  163383.5212
1  163383.5212
2  163383.5212
3  163383.5212
4  163383.5212

[5 rows x 299 columns]
7
    RegionName RegionType StateName State                             Metro  \
0     New York       City        NY    NY       New York-Newark-Jersey City
1  Los Angeles       City        CA    CA    Los Angeles-Long Beach-Anaheim
2      Houston       City        TX    TX  Houston-The Woodlands-Sugar Land
3      Chicago       City        IL    IL          Chicago-Naperville-Elgin
4  San Antonio       City        TX    TX         San Antonio-New Braunfels

           CountyName      RegionID      SizeRank     1996-01-31  \
0       Queens County  64904.808626  14236.219001  119457.724857
1  Los Angeles County  64904.808626  14236.219001  119457.724857
2       Harris County  64904.808626  14236.219001  119457.724857
3         Cook County  64904.808626  14236.219001  119457.724857
4        Bexar County  64904.808626  14236.219001  119457.724857

      1996-02-29  ...    2019-06-30     2019-07-31     2019-08-31  \
0  119217.869806  ...  204190.85918  204764.137245  205363.797086
1  119217.869806  ...  204190.85918  204764.137245  205363.797086
2  119217.869806  ...  204190.85918  204764.137245  205363.797086
3  119217.869806  ...  204190.85918  204764.137245  205363.797086
4  119217.869806  ...  204190.85918  204764.137245  205363.797086

     2019-09-30     2019-10-31   2019-11-30     2019-12-31     2020-01-31  \
0  205992.93402  206604.739538  207149.4966  207724.110822  208354.198135
1  205992.93402  206604.739538  207149.4966  207724.110822  208354.198135
2  205992.93402  206604.739538  207149.4966  207724.110822  208354.198135
3  205992.93402  206604.739538  207149.4966  207724.110822  208354.198135
4  205992.93402  206604.739538  207149.4966  207724.110822  208354.198135

     2020-02-29     2020-03-31
0  209046.79219  209763.785817
1  209046.79219  209763.785817
2  209046.79219  209763.785817
3  209046.79219  209763.785817
4  209046.79219  209763.785817

[5 rows x 299 columns]
8
    RegionName RegionType StateName State                             Metro  \
0     New York       City        NY    NY       New York-Newark-Jersey City
1  Los Angeles       City        CA    CA    Los Angeles-Long Beach-Anaheim
2      Houston       City        TX    TX  Houston-The Woodlands-Sugar Land
3      Chicago       City        IL    IL          Chicago-Naperville-Elgin
4  San Antonio       City        TX    TX         San Antonio-New Braunfels

           CountyName      RegionID      SizeRank     1996-01-31  \
0       Queens County  64509.147594  13382.949367  158746.555795
1  Los Angeles County  64509.147594  13382.949367  158746.555795
2       Harris County  64509.147594  13382.949367  158746.555795
3         Cook County  64509.147594  13382.949367  158746.555795
4        Bexar County  64509.147594  13382.949367  158746.555795

      1996-02-29  ...     2019-06-30     2019-07-31     2019-08-31  \
0  158271.395192  ...  269647.429783  270362.944508  271094.541704
1  158271.395192  ...  269647.429783  270362.944508  271094.541704
2  158271.395192  ...  269647.429783  270362.944508  271094.541704
3  158271.395192  ...  269647.429783  270362.944508  271094.541704
4  158271.395192  ...  269647.429783  270362.944508  271094.541704

      2019-09-30     2019-10-31     2019-11-30     2019-12-31     2020-01-31  \
0  271864.224183  272605.282828  273255.692281  273940.189873  274677.628905
1  271864.224183  272605.282828  273255.692281  273940.189873  274677.628905
2  271864.224183  272605.282828  273255.692281  273940.189873  274677.628905
3  271864.224183  272605.282828  273255.692281  273940.189873  274677.628905
4  271864.224183  272605.282828  273255.692281  273940.189873  274677.628905

      2020-02-29     2020-03-31
0  275502.876145  276369.069812
1  275502.876145  276369.069812
2  275502.876145  276369.069812
3  275502.876145  276369.069812
4  275502.876145  276369.069812

[5 rows x 299 columns]
9
    RegionName RegionType StateName State                             Metro  \
0     New York       City        NY    NY       New York-Newark-Jersey City
1  Los Angeles       City        CA    CA    Los Angeles-Long Beach-Anaheim
2      Houston       City        TX    TX  Houston-The Woodlands-Sugar Land
3      Chicago       City        IL    IL          Chicago-Naperville-Elgin
4  San Antonio       City        TX    TX         San Antonio-New Braunfels

           CountyName      RegionID      SizeRank     1996-01-31  \
0       Queens County  64328.732925  11485.963079  216497.164915
1  Los Angeles County  64328.732925  11485.963079  216497.164915
2       Harris County  64328.732925  11485.963079  216497.164915
3         Cook County  64328.732925  11485.963079  216497.164915
4        Bexar County  64328.732925  11485.963079  216497.164915

      1996-02-29  ...     2019-06-30     2019-07-31     2019-08-31  \
0  214984.273023  ...  370156.820831  370995.808684  371833.449174
1  214984.273023  ...  370156.820831  370995.808684  371833.449174
2  214984.273023  ...  370156.820831  370995.808684  371833.449174
3  214984.273023  ...  370156.820831  370995.808684  371833.449174
4  214984.273023  ...  370156.820831  370995.808684  371833.449174

      2019-09-30     2019-10-31    2019-11-30     2019-12-31     2020-01-31  \
0  372725.590091  373580.202557  374328.78716  375162.693554  376078.486361
1  372725.590091  373580.202557  374328.78716  375162.693554  376078.486361
2  372725.590091  373580.202557  374328.78716  375162.693554  376078.486361
3  372725.590091  373580.202557  374328.78716  375162.693554  376078.486361
4  372725.590091  373580.202557  374328.78716  375162.693554  376078.486361

    2020-02-29     2020-03-31
0  377152.7813  378266.789984
1  377152.7813  378266.789984
2  377152.7813  378266.789984
3  377152.7813  378266.789984
4  377152.7813  378266.789984

[5 rows x 299 columns]
10
   RegionName  SizeRank      2010-02      2010-03      2010-04      2010-05  \
0  California      26.0  1065.833333  1005.083333  1049.583333  1022.083333
1       Texas      26.0  1065.833333  1005.083333  1049.583333  1022.083333
2    New York      26.0  1065.833333  1005.083333  1049.583333  1022.083333
3     Florida      26.0  1065.833333  1005.083333  1049.583333  1022.083333
4    Illinois      26.0  1065.833333  1005.083333  1049.583333  1022.083333

   2010-06      2010-07   2010-08     2010-09  ...  2019-03      2019-04  \
0   1076.5  1057.916667  954.6875  948.041667  ...   1151.5  1159.852941
1   1076.5  1057.916667  954.6875  948.041667  ...   1151.5  1159.852941
2   1076.5  1057.916667  954.6875  948.041667  ...   1151.5  1159.852941
3   1076.5  1057.916667  954.6875  948.041667  ...   1151.5  1159.852941
4   1076.5  1057.916667  954.6875  948.041667  ...   1151.5  1159.852941

       2019-05  2019-06      2019-07      2019-08      2019-09      2019-10  \
0  1160.833333   1167.5  1167.617647  1168.872549  1169.343137  1160.411765
1  1160.833333   1167.5  1167.617647  1168.872549  1169.343137  1160.411765
2  1160.833333   1167.5  1167.617647  1168.872549  1169.343137  1160.411765
3  1160.833333   1167.5  1167.617647  1168.872549  1169.343137  1160.411765
4  1160.833333   1167.5  1167.617647  1168.872549  1169.343137  1160.411765

       2019-11      2019-12
0  1162.019608  1163.892157
1  1162.019608  1163.892157
2  1162.019608  1163.892157
3  1162.019608  1163.892157
4  1162.019608  1163.892157

[5 rows x 121 columns]
11
   RegionName  SizeRank  2010-01  2010-02      2010-03      2010-04  \
0  California      26.0   2100.0   1100.0  1090.966667  1104.666667
1       Texas      26.0   2100.0   1100.0  1090.966667  1104.666667

In [12]:
mrp_csvfiles = [f for f in all_csvFiles if 'MedianRentalPrice' in f]

In [13]:
mrp_dataframes =[]

for csv in mrp_csvfiles:
    data = pd.read_csv(csv)
    mrp_dataframes.append(data)

In [14]:
for df in enumerate(mrp_dataframes):
    print(df[1].head())

   Unnamed: 0   RegionName State                             Metro  \
0           0     New York    NY       New York-Newark-Jersey City
1           1  Los Angeles    CA    Los Angeles-Long Beach-Anaheim
2           2      Houston    TX  Houston-The Woodlands-Sugar Land
3           3      Chicago    IL          Chicago-Naperville-Elgin
4           4  San Antonio    TX         San Antonio-New Braunfels

           CountyName  SizeRank  2010-02  2010-03  2010-04  2010-05  ...  \
0       Queens County         1      NaN      NaN      NaN   2250.0  ...
1  Los Angeles County         2      NaN      NaN      NaN      NaN  ...
2       Harris County         3      NaN      NaN      NaN      NaN  ...
3         Cook County         4      NaN      NaN      NaN      NaN  ...
4        Bexar County         5      NaN      NaN      NaN      NaN  ...

   2019-03  2019-04  2019-05  2019-06  2019-07  2019-08  2019-09  2019-10  \
0   2350.0   2400.0   2400.0   2450.0   2450.0   2475.0   2475.0   2400.0
1   2360.0   2395.0   2370.0   2395.0   2395.0   2400.0   2425.0   2350.0
2   1265.0   1270.0   1269.0   1286.0   1275.0   1275.0   1270.0   1264.0
3   1695.0   1650.0   1650.0   1634.0   1600.0   1582.0   1595.0   1542.0
4    985.0    981.0    985.0    999.0   1000.0   1000.0    991.0    985.0

   2019-11  2019-12
0   2400.0   2425.0
1   2330.0   2340.0
2   1245.0   1249.0
3   1550.0   1550.0
4    974.5    967.5

[5 rows x 125 columns]
   Unnamed: 0   RegionName State                             Metro  \
0           0     New York    NY       New York-Newark-Jersey City
1           1  Los Angeles    CA    Los Angeles-Long Beach-Anaheim
2           2      Houston    TX  Houston-The Woodlands-Sugar Land
3           3      Chicago    IL          Chicago-Naperville-Elgin
4           4  San Antonio    TX         San Antonio-New Braunfels

           CountyName  SizeRank  2010-02  2010-03  2010-04  2010-05  ...  \
0       Queens County         1      NaN      NaN      NaN      NaN  ...
1  Los Angeles County         2   1800.0   1850.0   2000.0   2100.0  ...
2       Harris County         3      NaN      NaN      NaN      NaN  ...
3         Cook County         4      NaN   1500.0   1500.0   1475.0  ...
4        Bexar County         5      NaN      NaN      NaN      NaN  ...

   2019-03  2019-04  2019-05  2019-06  2019-07  2019-08  2019-09  2019-10  \
0   2500.0   2595.0   2600.0   2695.0   2695.0   2700.0   2650.0   2650.0
1   2978.0   3000.0   2995.0   3000.0   3000.0   3050.0   3100.0   3000.0
2   1529.0   1523.0   1520.0   1510.0   1527.5   1522.0   1500.0   1495.0
3   1950.0   1895.0   1850.0   1850.0   1850.0   1825.0   1825.0   1750.0
4   1225.0   1230.0   1265.0   1269.0   1255.0   1235.0   1245.0   1234.0

   2019-11  2019-12
0   2600.0   2600.0
1   2985.0   2995.0
2   1471.0   1480.0
3   1730.0   1700.0
4   1227.0   1208.0

[5 rows x 125 columns]
   Unnamed: 0   RegionName State                             Metro  \
0           0     New York    NY       New York-Newark-Jersey City
1           1  Los Angeles    CA    Los Angeles-Long Beach-Anaheim
2           2      Houston    TX  Houston-The Woodlands-Sugar Land
3           3      Chicago    IL          Chicago-Naperville-Elgin
4           4  San Antonio    TX         San Antonio-New Braunfels

           CountyName  SizeRank  2010-02  2010-03  2010-04  2010-05  ...  \
0       Queens County         1      NaN      NaN      NaN      NaN  ...
1  Los Angeles County         2   2350.0   2400.0   2411.0   2500.0  ...
2       Harris County         3      NaN      NaN      NaN      NaN  ...
3         Cook County         4      NaN      NaN      NaN      NaN  ...
4        Bexar County         5      NaN      NaN      NaN      NaN  ...

   2019-03  2019-04  2019-05  2019-06  2019-07  2019-08  2019-09  2019-10  \
0   2600.0   2699.0   2750.0   2800.0   2800.0   2800.0   2734.0   2700.0
1   3550.0   3645.0   3695.0   3750.0   3772.5   3750.0   3795.0   3795.0
2   1600.0   1600.0   1650.0   1647.0   1625.0   1625.0   1600.0   1599.0
3   2100.0   2200.0   2300.0   2295.0   2225.0   2100.0   2000.0   1950.0
4   1425.0   1450.0   1450.0   1475.0   1475.0   1450.0   1449.0   1435.0

   2019-11  2019-12
0   2650.0   2650.0
1   3750.0   3795.0
2   1595.0   1575.0
3   1895.0   1825.0
4   1425.0   1450.0

[5 rows x 125 columns]
   Unnamed: 0   RegionName State                             Metro  \
0           0     New York    NY       New York-Newark-Jersey City
1           1  Los Angeles    CA    Los Angeles-Long Beach-Anaheim
2           2      Houston    TX  Houston-The Woodlands-Sugar Land
3           3      Chicago    IL          Chicago-Naperville-Elgin
4           4  San Antonio    TX         San Antonio-New Braunfels

           CountyName  SizeRank  2010-02  2010-03  2010-04  2010-05  ...  \
0       Queens County         1      NaN      NaN      NaN      NaN  ...
1  Los Angeles County         2      NaN      NaN      NaN      NaN  ...
2       Harris County         3      NaN      NaN      NaN      NaN  ...
3         Cook County         4      NaN      NaN      NaN      NaN  ...
4        Bexar County         5      NaN      NaN      NaN      NaN  ...

   2019-03  2019-04  2019-05  2019-06  2019-07  2019-08  2019-09  2019-10  \
0   3400.0   3600.0   3700.0   3795.0   3700.0   3750.0   3750.0   3750.0
1   4110.5   4250.0   4350.0   4500.0   4500.0   4500.0   4397.5   4495.0
2   1776.0   1850.0   1880.0   1875.0   1895.0   1890.0   1900.0   1800.0
3   2500.0   2800.0   3095.0   3200.0   3000.0   2800.0   2600.0   2400.0
4   1680.0   1700.0   1730.0   1745.0   1750.0   1695.0   1695.0   1695.0

   2019-11  2019-12
0   3700.0   3597.5
1   4250.0   4262.5
2   1800.0   1790.0
3   2395.0   2350.0
4   1650.0   1650.0

[5 rows x 125 columns]
   Unnamed: 0    RegionName State                             Metro  \
0           0   Los Angeles    CA    Los Angeles-Long Beach-Anaheim
1           1       Houston    TX  Houston-The Woodlands-Sugar Land
2           2   San Antonio    TX         San Antonio-New Braunfels
3           3  Philadelphia    PA    Philadelphia-Camden-Wilmington
4           4     Las Vegas    NV      Las Vegas-Henderson-Paradise

            CountyName  SizeRank  2011-01  2011-02  2011-03  2011-04  ...  \
0   Los Angeles County         1      NaN      NaN      NaN      NaN  ...
1        Harris County         2      NaN      NaN      NaN      NaN  ...
2         Bexar County         3      NaN      NaN      NaN      NaN  ...
3  Philadelphia County         4      NaN      NaN      NaN      NaN  ...
4         Clark County         5      NaN   1795.0   1800.0   1900.0  ...

   2019-03  2019-04  2019-05  2019-06  2019-07  2019-08  2019-09  2019-10  \
0   4000.0   4150.0   3972.5   3950.0   4195.0   4250.0   4500.0   4495.0
1   2600.0   2700.0   2850.0   3125.0   2925.0   3000.0   3200.0   2950.0
2   1800.0   1850.0   1950.0   2000.0   1995.0   1875.0   1800.0   1812.5
3   2725.0   2655.0   2600.0   2550.0   2500.0   2500.0   2500.0   2750.0
4   2221.0   2396.5   2495.0   2500.0   2425.0   2400.0   2300.0   2322.5

   2019-11  2019-12
0   4500.0   4495.0
1   2900.0   2900.0
2   1850.0   1850.0
3   2800.0   2875.0
4   2300.0   2395.0

[5 rows x 114 columns]
   Unnamed: 0   RegionName State                             Metro  \
0           0     New York    NY       New York-Newark-Jersey City
1           1  Los Angeles    CA    Los Angeles-Long Beach-Anaheim
2           2      Houston    TX  Houston-The Woodlands-Sugar Land
3           3      Chicago    IL          Chicago-Naperville-Elgin
4           4  San Antonio    TX         San Antonio-New Braunfels

           CountyName  SizeRank  2010-01  2010-02  2010-03  2010-04  ...  \
0       Queens County         1      NaN      NaN      NaN      NaN  ...
1  Los Angeles County         2      NaN      NaN      NaN      NaN  ...
2       Harris County         3      NaN      NaN      NaN      NaN  ...
3         Cook County         4      NaN   1600.0   1500.0   1500.0  ...
4        Bexar County         5      NaN      NaN      NaN      NaN  ...

   2019-03  2019-04  2019-05  2019-06  2019-07  2019-08  2019-09  2019-10  \
0   2800.0   2875.0   2900.0   2895.0   2850.0   2925.0   2900.0   2900.0
1   3500.0   3500.0   3500.0   3520.0   3500.0   3600.0   3607.0   3665.0
2   1500.0   1544.0   1550.0   1550.0   1550.0   1550.0   1550.0   1500.0
3   1775.0   1795.0   1800.0   1800.0   1800.0   1812.5   1800.0   1800.0
4   1300.0   1300.0   1325.0   1345.0   1349.0   1322.5   1299.0   1300.0

   2019-11  2019-12
0   2899.0   2900.0
1   3600.0   3550.0
2   1500.0   1500.0
3   1766.0   1750.0
4   1299.0   1300.0

[5 rows x 126 columns]
   Unnamed: 0   RegionName State                             Metro  \
0           0     New York    NY       New York-Newark-Jersey City
1           1  Los Angeles    CA    Los Angeles-Long Beach-Anaheim
2           2      Houston    TX  Houston-The Woodlands-Sugar Land
3           3      Chicago    IL          Chicago-Naperville-Elgin
4           4  San Antonio    TX         San Antonio-New Braunfels

           CountyName  SizeRank  2010-01  2010-02  2010-03  2010-04  ...  \
0       Queens County         1      NaN      NaN      NaN      NaN  ...
1  Los Angeles County         2      NaN      NaN      NaN      NaN  ...
2       Harris County         3      NaN      NaN      NaN      NaN  ...
3         Cook County         4      NaN      NaN   1542.5   1500.0  ...
4        Bexar County         5      NaN      NaN      NaN      NaN  ...

   2019-03  2019-04  2019-05  2019-06  2019-07  2019-08  2019-09  2019-10  \
0   2500.0   2500.0   2560.0   2500.0   2500.0   2600.0   2600.0   2595.0
1   3900.0   3990.0   4000.0   3999.0   3995.0   4000.0   4000.0   4000.0
2   1550.0   1600.0   1600.0   1625.0   1600.0   1600.0   1600.0   1595.0
3   1600.0   1600.0   1600.0   1600.0   1644.5   1600.0   1607.0   1600.0
4   1300.0   1300.0   1332.5   1350.0   1350.0   1336.0   1300.0   1300.0

   2019-11  2019-12
0   2595.0   2600.0
1   4000.0   3999.0
2   1550.0   1550.0
3   1600.0   1575.0
4   1300.0   1300.0

[5 rows x 126 columns]
   Unnamed: 0   RegionName State                             Metro  \
0           0     New York    NY       New York-Newark-Jersey City
1           1  Los Angeles    CA    Los Angeles-Long Beach-Anaheim
2           2      Houston    TX  Houston-The Woodlands-Sugar Land
3           3      Chicago    IL          Chicago-Naperville-Elgin
4           4  San Antonio    TX         San Antonio-New Braunfels

           CountyName  SizeRank  2010-02  2010-03  2010-04  2010-05  ...  \
0       Queens County         1   1972.5   2300.0   2495.0   2200.0  ...
1  Los Angeles County         2      NaN      NaN      NaN      NaN  ...
2       Harris County         3      NaN      NaN      NaN      NaN  ...
3         Cook County         4   1450.0   1425.0   1400.0   1495.0  ...
4        Bexar County         5      NaN      NaN      NaN      NaN  ...

   2019-03  2019-04  2019-05  2019-06  2019-07  2019-08  2019-09  2019-10  \
0   2400.0   2442.0   2450.0   2475.0   2450.0   2450.0   2400.0   2400.0
1   1900.0   1976.0   1964.0   1970.0   1936.0   1911.5   1904.0   1850.0
2   1232.0   1227.0   1250.0   1265.0   1100.0   1112.0   1210.0   1218.0
3   1569.0   1540.0   1500.0   1450.5   1410.0   1430.0   1458.0   1405.0
4   1092.5   1008.0   1023.0   1085.0    990.0    985.5    979.0    977.0

   2019-11  2019-12
0   2400.0   2400.0
1   1800.0   1835.0
2   1197.0   1215.0
3   1450.0   1500.0
4    943.0    900.0

[5 rows x 125 columns]
   Unnamed: 0  RegionName  SizeRank  2010-02  2010-03  2010-04  2010-05  \
0           0  California         1      NaN      NaN      NaN      NaN
1           1       Texas         2    800.0    800.0    875.0    850.0
2           2    New York         3      NaN      NaN      NaN      NaN
3           3     Florida         4      NaN      NaN      NaN      NaN
4           4    Illinois         5      NaN      NaN      NaN      NaN

   2010-06  2010-07  2010-08  ...  2019-03  2019-04  2019-05  2019-06  \
0      NaN      NaN      NaN  ...   2095.0   2100.0   2105.0   2125.0
1    850.0    895.0    800.0  ...   1205.0   1202.0   1209.0   1213.0
2      NaN      NaN      NaN  ...   2100.0   2150.0   2195.0   2200.0
3      NaN      NaN      NaN  ...   1405.0   1420.0   1429.0   1435.0
4      NaN      NaN      NaN  ...   1563.0   1520.0   1510.0   1495.0

   2019-07  2019-08  2019-09  2019-10  2019-11  2019-12
0   2150.0   2150.0   2150.0   2110.0   2100.0   2100.0
1   1204.0   1200.0   1199.0   1208.0   1200.0   1200.0
2   2200.0   2200.0   2200.0   2150.0   2100.0   2100.0
3   1429.0   1425.0   1409.0   1400.0   1398.0   1399.0
4   1475.0   1450.0   1461.0   1400.0   1395.0   1395.0

[5 rows x 122 columns]
   Unnamed: 0  RegionName  SizeRank  2010-01  2010-02  2010-03  2010-04  \
0           0  California         1   2100.0   2100.0   2000.0   1995.0
1           1       Texas         2      NaN    875.0    997.0   1050.0
2           2    New York         3      NaN      NaN      NaN      NaN
3           3     Florida         4      NaN      NaN      NaN      NaN
4           4    Illinois         5      NaN      NaN   1335.0   1350.0

   2010-05  2010-06  2010-07  ...  2019-03  2019-04  2019-05  2019-06  \
0   1950.0   1950.0   1995.0  ...     2425   2485.0   2492.0   2495.0
1    995.0    995.0    950.0  ...     1445   1445.0   1450.0   1450.0
2      NaN      NaN      NaN  ...     2329   2395.0   2400.0   2450.0
3      NaN      NaN      NaN  ...     1680   1690.0   1695.0   1680.0
4   1350.0   1400.0   1400.0  ...     1725   1700.0   1700.0   1695.0

   2019-07  2019-08  2019-09  2019-10  2019-11  2019-12
0   2500.0   2500.0   2500.0   2495.0   2495.0   2495.0
1   1449.0   1435.0   1427.0   1430.0   1420.0   1425.0
2   2430.0   2445.0   2400.0   2350.0   2300.0   2300.0
3   1684.0   1695.0   1669.0   1650.0   1629.0   1630.0
4   1695.0   1650.0   1650.0   1575.0   1550.0   1525.0

[5 rows x 123 columns]
   Unnamed: 0  RegionName  SizeRank  2010-02  2010-03  2010-04  2010-05  \
0           0  California         1      NaN   2500.0   2500.0   2500.0
1           1       Texas         2   1200.0   1200.0   1299.5   1287.5
2           2    New York         3      NaN      NaN      NaN      NaN
3           3     Florida         4      NaN   1450.0   1500.0   1495.0
4           4    Illinois         5   1600.0   1600.0   1600.0   1500.0

   2010-06  2010-07  2010-08  ...  2019-03  2019-04  2019-05  2019-06  \
0   2500.0   2500.0   2500.0  ...   2800.0   2895.0   2900.0   2900.0
1   1295.0   1300.0   1295.0  ...   1550.0   1570.0   1595.0   1595.0
2      NaN      NaN      NaN  ...   2589.0   2650.0   2685.0   2700.0
3   1550.0   1300.0   1300.0  ...   1900.0   1900.0   1900.0   1895.0
4   1500.0   1600.0   1600.0  ...   1895.0   1956.0   2000.0   2000.0

   2019-07  2019-08  2019-09  2019-10  2019-11  2019-12
0   2909.0   2900.0   2900.0   2850.0   2895.0   2895.0
1   1595.0   1569.0   1564.0   1550.0   1550.0   1550.0
2   2700.0   2700.0   2600.0   2500.0   2500.0   2500.0
3   1875.0   1890.0   1850.0   1800.0   1800.0   1800.0
4   1975.0   1895.0   1825.0   1795.0   1750.0   1700.0

[5 rows x 122 columns]
   Unnamed: 0    RegionName  SizeRank  2010-02  2010-03  2010-04  2010-05  \
0           0    California         1      NaN      NaN      NaN      NaN
1           1         Texas         2   1500.0   1495.0   1650.0   1800.0
2           2       Florida         3      NaN      NaN      NaN      NaN
3           3      Illinois         4   2500.0   2300.0   2300.0   2300.0
4           4  Pennsylvania         5      NaN      NaN      NaN      NaN

   2010-06  2010-07  2010-08  ...  2019-03  2019-04  2019-05  2019-06  \
0      NaN      NaN      NaN  ...   3100.0   3200.0   3250.0   3250.0
1   1850.0   1700.0   1695.0  ...   1850.0   1895.0   1900.0   1900.0
2      NaN      NaN      NaN  ...   2295.0   2300.0   2299.5   2270.0
3   2150.0   2300.0   2300.0  ...   2100.0   2400.0   2695.0   2800.0
4      NaN      NaN      NaN  ...   1800.0   1850.0   1800.0   1875.0

   2019-07  2019-08  2019-09  2019-10  2019-11  2019-12
0   3295.0   3250.0   3200.0   3195.0   3200.0   3150.0
1   1900.0   1900.0   1900.0   1895.0   1895.0   1875.0
2   2200.0   2200.0   2200.0   2050.0   2000.0   2000.0
3   2600.0   2400.0   2300.0   2180.0   2000.0   2000.0
4   1850.0   1795.0   1700.0   1797.0   1800.0   1800.0

[5 rows x 122 columns]
   Unnamed: 0      RegionName  SizeRank  2010-02  2010-03  2010-04  2010-05  \
0           0      California         1      NaN      NaN      NaN      NaN
1           1           Texas         2      NaN      NaN      NaN      NaN
2           2         Florida         3      NaN      NaN      NaN      NaN
3           3         Georgia         4      NaN      NaN      NaN      NaN
4           4  North Carolina         5      NaN      NaN   2500.0   2450.0

   2010-06  2010-07  2010-08  ...  2019-03  2019-04  2019-05  2019-06  \
0      NaN      NaN      NaN  ...   3500.0   3500.0   3500.0   3500.0
1      NaN      NaN      NaN  ...   2500.0   2585.0   2550.0   2595.0
2      NaN      NaN      NaN  ...   3000.0   3195.0   3137.5   3000.0
3      NaN      NaN      NaN  ...   2000.0   2095.0   2100.0   2095.0
4   2250.0   2147.5   1995.0  ...   2100.0   2099.5   2147.5   2100.0

   2019-07  2019-08  2019-09  2019-10  2019-11  2019-12
0   3500.0   3500.0   3500.0   3400.0   3500.0   3500.0
1   2587.5   2550.0   2692.5   2750.0   2695.0   2596.0
2   3000.0   3000.0   2999.0   2900.0   2899.5   2950.0
3   2095.0   2100.0   2100.0   2045.0   2031.5   2050.0
4   2100.0   2097.0   2095.0   2097.0   2100.0   2050.0

[5 rows x 122 columns]
   Unnamed: 0  RegionName  SizeRank  2010-01  2010-02  2010-03  2010-04  \
0           0  California         1      NaN      NaN   2400.0   2400.0
1           1       Texas         2      NaN      NaN      NaN      NaN
2           2    New York         3      NaN      NaN      NaN      NaN
3           3     Florida         4      NaN      NaN      NaN      NaN
4           4    Illinois         5   1575.0   1500.0   1500.0   1500.0

   2010-05  2010-06  2010-07  ...  2019-03  2019-04  2019-05  2019-06  \
0   2400.0   2495.0   2500.0  ...   2750.0     2800   2800.0   2800.0
1      NaN      NaN      NaN  ...   1550.0     1575   1595.0   1595.0
2      NaN      NaN      NaN  ...   3200.0     3495   3299.0   3295.0
3      NaN      NaN      NaN  ...   1850.0     1850   1850.0   1845.0
4   1500.0   1500.0   1550.0  ...   1600.0     1600   1600.0   1642.5

   2019-07  2019-08  2019-09  2019-10  2019-11  2019-12
0   2800.0     2850   2800.0   2800.0   2800.0   2800.0
1   1600.0     1595   1590.0   1550.0   1550.0   1550.0
2   3200.0     3395   3250.0   2950.0   3000.0   3200.0
3   1800.0     1800   1800.0   1800.0   1795.0   1790.0
4   1647.0     1650   1625.0   1600.0   1595.0   1590.0

[5 rows x 123 columns]
   Unnamed: 0    RegionName  SizeRank  2010-01  2010-02  2010-03  2010-04  \
0           0    California         1      NaN      NaN      NaN      NaN
1           1         Texas         2      NaN      NaN      NaN      NaN
2           2       Florida         3      NaN      NaN   1300.0   1350.0
3           3      Illinois         4      NaN   1640.0   1600.0   1600.0
4           4  Pennsylvania         5      NaN   1397.5   1395.0   1400.0

   2010-05  2010-06  2010-07  ...  2019-03  2019-04  2019-05  2019-06  \
0      NaN      NaN      NaN  ...     2800     2895   2900.0   2900.0
1      NaN      NaN      NaN  ...     1550     1595   1600.0   1600.0
2   1375.0   1450.0   1325.0  ...     1850     1866   1870.0   1850.0
3   1600.0   1688.5   1695.0  ...     1500     1515   1550.0   1575.0
4   1400.0   1400.0   1400.0  ...     1350     1380   1395.0   1395.0

   2019-07  2019-08  2019-09  2019-10  2019-11  2019-12
0   2895.0     2900     2899   2800.0   2825.0     2800
1   1600.0     1600     1599   1595.0   1590.0     1575
2   1815.0     1800     1800   1795.0   1750.0     1750

In [15]:
cleaned_mrp_dataframes = []

for df in enumerate(mrp_dataframes):
    data = organize_df(df[1])
    cleaned_mrp_dataframes.append(data)

In [16]:
for cdf in enumerate(cleaned_mrp_dataframes):
    print(cdf[1].head())

    RegionName State                             Metro          CountyName  \
0     New York    NY       New York-Newark-Jersey City       Queens County
1  Los Angeles    CA    Los Angeles-Long Beach-Anaheim  Los Angeles County
2      Houston    TX  Houston-The Woodlands-Sugar Land       Harris County
3      Chicago    IL          Chicago-Naperville-Elgin         Cook County
4  San Antonio    TX         San Antonio-New Braunfels        Bexar County

   SizeRank  2010-02  2010-03  2010-04  2010-05  2010-06  ...  2019-03  \
0       NaN      NaN      NaN      NaN      NaN      NaN  ...      NaN
1       NaN      NaN      NaN      NaN      NaN      NaN  ...      NaN
2       NaN      NaN      NaN      NaN      NaN      NaN  ...      NaN
3       NaN      NaN      NaN      NaN      NaN      NaN  ...      NaN
4       NaN      NaN      NaN      NaN      NaN      NaN  ...      NaN

   2019-04  2019-05  2019-06  2019-07  2019-08  2019-09  2019-10  2019-11  \
0      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN
1      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN
2      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN
3      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN
4      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN

   2019-12
0      NaN
1      NaN
2      NaN
3      NaN
4      NaN

[5 rows x 124 columns]
    RegionName State                             Metro          CountyName  \
0     New York    NY       New York-Newark-Jersey City       Queens County
1  Los Angeles    CA    Los Angeles-Long Beach-Anaheim  Los Angeles County
2      Houston    TX  Houston-The Woodlands-Sugar Land       Harris County
3      Chicago    IL          Chicago-Naperville-Elgin         Cook County
4  San Antonio    TX         San Antonio-New Braunfels        Bexar County

   SizeRank  2010-02  2010-03  2010-04  2010-05  2010-06  ...  2019-03  \
0       NaN      NaN      NaN      NaN      NaN      NaN  ...      NaN
1       NaN      NaN      NaN      NaN      NaN      NaN  ...      NaN
2       NaN      NaN      NaN      NaN      NaN      NaN  ...      NaN
3       NaN      NaN      NaN      NaN      NaN      NaN  ...      NaN
4       NaN      NaN      NaN      NaN      NaN      NaN  ...      NaN

   2019-04  2019-05  2019-06  2019-07  2019-08  2019-09  2019-10  2019-11  \
0      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN
1      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN
2      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN
3      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN
4      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN

   2019-12
0      NaN
1      NaN
2      NaN
3      NaN
4      NaN

[5 rows x 124 columns]
    RegionName State                             Metro          CountyName  \
0     New York    NY       New York-Newark-Jersey City       Queens County
1  Los Angeles    CA    Los Angeles-Long Beach-Anaheim  Los Angeles County
2      Houston    TX  Houston-The Woodlands-Sugar Land       Harris County
3      Chicago    IL          Chicago-Naperville-Elgin         Cook County
4  San Antonio    TX         San Antonio-New Braunfels        Bexar County

   SizeRank  2010-02  2010-03  2010-04  2010-05  2010-06  ...  2019-03  \
0       NaN      NaN      NaN      NaN      NaN      NaN  ...      NaN
1       NaN      NaN      NaN      NaN      NaN      NaN  ...      NaN
2       NaN      NaN      NaN      NaN      NaN      NaN  ...      NaN
3       NaN      NaN      NaN      NaN      NaN      NaN  ...      NaN
4       NaN      NaN      NaN      NaN      NaN      NaN  ...      NaN

   2019-04  2019-05  2019-06  2019-07  2019-08  2019-09  2019-10  2019-11  \
0      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN
1      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN
2      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN
3      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN
4      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN

   2019-12
0      NaN
1      NaN
2      NaN
3      NaN
4      NaN

[5 rows x 124 columns]
    RegionName State                             Metro          CountyName  \
0     New York    NY       New York-Newark-Jersey City       Queens County
1  Los Angeles    CA    Los Angeles-Long Beach-Anaheim  Los Angeles County
2      Houston    TX  Houston-The Woodlands-Sugar Land       Harris County
3      Chicago    IL          Chicago-Naperville-Elgin         Cook County
4  San Antonio    TX         San Antonio-New Braunfels        Bexar County

   SizeRank  2010-02  2010-03  2010-04  2010-05  2010-06  ...  2019-03  \
0       NaN      NaN      NaN      NaN      NaN      NaN  ...      NaN
1       NaN      NaN      NaN      NaN      NaN      NaN  ...      NaN
2       NaN      NaN      NaN      NaN      NaN      NaN  ...      NaN
3       NaN      NaN      NaN      NaN      NaN      NaN  ...      NaN
4       NaN      NaN      NaN      NaN      NaN      NaN  ...      NaN

   2019-04  2019-05  2019-06  2019-07  2019-08  2019-09  2019-10  2019-11  \
0      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN
1      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN
2      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN
3      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN
4      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN

   2019-12
0      NaN
1      NaN
2      NaN
3      NaN
4      NaN

[5 rows x 124 columns]
     RegionName State                             Metro           CountyName  \
0   Los Angeles    CA    Los Angeles-Long Beach-Anaheim   Los Angeles County
1       Houston    TX  Houston-The Woodlands-Sugar Land        Harris County
2   San Antonio    TX         San Antonio-New Braunfels         Bexar County
3  Philadelphia    PA    Philadelphia-Camden-Wilmington  Philadelphia County
4     Las Vegas    NV      Las Vegas-Henderson-Paradise         Clark County

   SizeRank  2011-01  2011-02  2011-03  2011-04  2011-05  ...  2019-03  \
0       NaN      NaN      NaN      NaN      NaN      NaN  ...      NaN
1       NaN      NaN      NaN      NaN      NaN      NaN  ...      NaN
2       NaN      NaN      NaN      NaN      NaN      NaN  ...      NaN
3       NaN      NaN      NaN      NaN      NaN      NaN  ...      NaN
4       NaN      NaN      NaN      NaN      NaN      NaN  ...      NaN

   2019-04  2019-05  2019-06  2019-07  2019-08  2019-09  2019-10  2019-11  \
0      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN
1      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN
2      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN
3      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN
4      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN

   2019-12
0      NaN
1      NaN
2      NaN
3      NaN
4      NaN

[5 rows x 113 columns]
    RegionName State                             Metro          CountyName  \
0     New York    NY       New York-Newark-Jersey City       Queens County
1  Los Angeles    CA    Los Angeles-Long Beach-Anaheim  Los Angeles County
2      Houston    TX  Houston-The Woodlands-Sugar Land       Harris County
3      Chicago    IL          Chicago-Naperville-Elgin         Cook County
4  San Antonio    TX         San Antonio-New Braunfels        Bexar County

   SizeRank  2010-01  2010-02  2010-03  2010-04  2010-05  ...  2019-03  \
0       NaN      NaN      NaN      NaN      NaN      NaN  ...      NaN
1       NaN      NaN      NaN      NaN      NaN      NaN  ...      NaN
2       NaN      NaN      NaN      NaN      NaN      NaN  ...      NaN
3       NaN      NaN      NaN      NaN      NaN      NaN  ...      NaN
4       NaN      NaN      NaN      NaN      NaN      NaN  ...      NaN

   2019-04  2019-05  2019-06  2019-07  2019-08  2019-09  2019-10  2019-11  \
0      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN
1      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN
2      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN
3      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN
4      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN

   2019-12
0      NaN
1      NaN
2      NaN
3      NaN
4      NaN

[5 rows x 125 columns]
    RegionName State                             Metro          CountyName  \
0     New York    NY       New York-Newark-Jersey City       Queens County
1  Los Angeles    CA    Los Angeles-Long Beach-Anaheim  Los Angeles County
2      Houston    TX  Houston-The Woodlands-Sugar Land       Harris County
3      Chicago    IL          Chicago-Naperville-Elgin         Cook County
4  San Antonio    TX         San Antonio-New Braunfels        Bexar County

   SizeRank  2010-01  2010-02  2010-03  2010-04  2010-05  ...  2019-03  \
0       NaN      NaN      NaN      NaN      NaN      NaN  ...      NaN
1       NaN      NaN      NaN      NaN      NaN      NaN  ...      NaN
2       NaN      NaN      NaN      NaN      NaN      NaN  ...      NaN
3       NaN      NaN      NaN      NaN      NaN      NaN  ...      NaN
4       NaN      NaN      NaN      NaN      NaN      NaN  ...      NaN

   2019-04  2019-05  2019-06  2019-07  2019-08  2019-09  2019-10  2019-11  \
0      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN
1      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN
2      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN
3      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN
4      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN

   2019-12
0      NaN
1      NaN
2      NaN
3      NaN
4      NaN

[5 rows x 125 columns]
    RegionName State                             Metro          CountyName  \
0     New York    NY       New York-Newark-Jersey City       Queens County
1  Los Angeles    CA    Los Angeles-Long Beach-Anaheim  Los Angeles County
2      Houston    TX  Houston-The Woodlands-Sugar Land       Harris County
3      Chicago    IL          Chicago-Naperville-Elgin         Cook County
4  San Antonio    TX         San Antonio-New Braunfels        Bexar County

   SizeRank  2010-02  2010-03  2010-04  2010-05  2010-06  ...  2019-03  \
0       NaN      NaN      NaN      NaN      NaN      NaN  ...      NaN
1       NaN      NaN      NaN      NaN      NaN      NaN  ...      NaN
2       NaN      NaN      NaN      NaN      NaN      NaN  ...      NaN
3       NaN      NaN      NaN      NaN      NaN      NaN  ...      NaN
4       NaN      NaN      NaN      NaN      NaN      NaN  ...      NaN

   2019-04  2019-05  2019-06  2019-07  2019-08  2019-09  2019-10  2019-11  \
0      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN
1      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN
2      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN
3      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN
4      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN

   2019-12
0      NaN
1      NaN
2      NaN
3      NaN
4      NaN

[5 rows x 124 columns]
   RegionName  SizeRank  2010-02  2010-03  2010-04  2010-05  2010-06  2010-07  \
0  California       NaN      NaN      NaN      NaN      NaN      NaN      NaN
1       Texas       NaN      NaN      NaN      NaN      NaN      NaN      NaN
2    New York       NaN      NaN      NaN      NaN      NaN      NaN      NaN
3     Florida       NaN      NaN      NaN      NaN      NaN      NaN      NaN
4    Illinois       NaN      NaN      NaN      NaN      NaN      NaN      NaN

   2010-08  2010-09  ...  2019-03  2019-04  2019-05  2019-06  2019-07  \
0      NaN      NaN  ...      NaN      NaN      NaN      NaN      NaN
1      NaN      NaN  ...      NaN      NaN      NaN      NaN      NaN
2      NaN      NaN  ...      NaN      NaN      NaN      NaN      NaN
3      NaN      NaN  ...      NaN      NaN      NaN      NaN      NaN
4      NaN      NaN  ...      NaN      NaN      NaN      NaN      NaN

   2019-08  2019-09  2019-10  2019-11  2019-12
0      NaN      NaN      NaN      NaN      NaN
1      NaN      NaN      NaN      NaN      NaN
2      NaN      NaN      NaN      NaN      NaN
3      NaN      NaN      NaN      NaN      NaN
4      NaN      NaN      NaN      NaN      NaN

[5 rows x 121 columns]
   RegionName  SizeRank  2010-01  2010-02  2010-03  2010-04  2010-05  2010-06  \
0  California       NaN      NaN      NaN      NaN      NaN      NaN      NaN
1       Texas       NaN      NaN      NaN      NaN      NaN      NaN      NaN
2    New York       NaN      NaN      NaN      NaN      NaN      NaN      NaN
3     Florida       NaN      NaN      NaN      NaN      NaN      NaN      NaN
4    Illinois       NaN      NaN      NaN      NaN      NaN      NaN      NaN

   2010-07  2010-08  ...  2019-03  2019-04  2019-05  2019-06  2019-07  \
0      NaN      NaN  ...      NaN      NaN      NaN      NaN      NaN
1      NaN      NaN  ...      NaN      NaN      NaN      NaN      NaN
2      NaN      NaN  ...      NaN      NaN      NaN      NaN      NaN
3      NaN      NaN  ...      NaN      NaN      NaN      NaN      NaN
4      NaN      NaN  ...      NaN      NaN      NaN      NaN      NaN

   2019-08  2019-09  2019-10  2019-11  2019-12
0      NaN      NaN      NaN      NaN      NaN
1      NaN      NaN      NaN      NaN      NaN
2      NaN      NaN      NaN      NaN      NaN
3      NaN      NaN      NaN      NaN      NaN
4      NaN      NaN      NaN      NaN      NaN

[5 rows x 122 columns]
   RegionName  SizeRank  2010-02  2010-03  2010-04  2010-05  2010-06  2010-07  \
0  California       NaN      NaN      NaN      NaN      NaN      NaN      NaN
1       Texas       NaN      NaN      NaN      NaN      NaN      NaN      NaN
2    New York       NaN      NaN      NaN      NaN      NaN      NaN      NaN
3     Florida       NaN      NaN      NaN      NaN      NaN      NaN      NaN
4    Illinois       NaN      NaN      NaN      NaN      NaN      NaN      NaN

   2010-08  2010-09  ...  2019-03  2019-04  2019-05  2019-06  2019-07  \
0      NaN      NaN  ...      NaN      NaN      NaN      NaN      NaN
1      NaN      NaN  ...      NaN      NaN      NaN      NaN      NaN
2      NaN      NaN  ...      NaN      NaN      NaN      NaN      NaN
3      NaN      NaN  ...      NaN      NaN      NaN      NaN      NaN
4      NaN      NaN  ...      NaN      NaN      NaN      NaN      NaN

   2019-08  2019-09  2019-10  2019-11  2019-12
0      NaN      NaN      NaN      NaN      NaN
1      NaN      NaN      NaN      NaN      NaN
2      NaN      NaN      NaN      NaN      NaN
3      NaN      NaN      NaN      NaN      NaN
4      NaN      NaN      NaN      NaN      NaN

[5 rows x 121 columns]
     RegionName  SizeRank  2010-02  2010-03  2010-04  2010-05  2010-06  \
0    California       NaN      NaN      NaN      NaN      NaN      NaN
1         Texas       NaN      NaN      NaN      NaN      NaN      NaN
2       Florida       NaN      NaN      NaN      NaN      NaN      NaN
3      Illinois       NaN      NaN      NaN      NaN      NaN      NaN
4  Pennsylvania       NaN      NaN      NaN      NaN      NaN      NaN

   2010-07  2010-08  2010-09  ...  2019-03  2019-04  2019-05  2019-06  \
0      NaN      NaN      NaN  ...      NaN      NaN      NaN      NaN
1      NaN      NaN      NaN  ...      NaN      NaN      NaN      NaN
2      NaN      NaN      NaN  ...      NaN      NaN      NaN      NaN
3      NaN      NaN      NaN  ...      NaN      NaN      NaN      NaN
4      NaN      NaN      NaN  ...      NaN      NaN      NaN      NaN

   2019-07  2019-08  2019-09  2019-10  2019-11  2019-12
0      NaN      NaN      NaN      NaN      NaN      NaN
1      NaN      NaN      NaN      NaN      NaN      NaN
2      NaN      NaN      NaN      NaN      NaN      NaN
3      NaN      NaN      NaN      NaN      NaN      NaN
4      NaN      NaN      NaN      NaN      NaN      NaN

[5 rows x 121 columns]
       RegionName  SizeRank  2010-02  2010-03  2010-04  2010-05  2010-06  \
0      California       NaN      NaN      NaN      NaN      NaN      NaN
1           Texas       NaN      NaN      NaN      NaN      NaN      NaN
2         Florida       NaN      NaN      NaN      NaN      NaN      NaN
3         Georgia       NaN      NaN      NaN      NaN      NaN      NaN
4  North Carolina       NaN      NaN      NaN      NaN      NaN      NaN

   2010-07  2010-08  2010-09  ...  2019-03  2019-04  2019-05  2019-06  \
0      NaN      NaN      NaN  ...      NaN      NaN      NaN      NaN
1      NaN      NaN      NaN  ...      NaN      NaN      NaN      NaN
2      NaN      NaN      NaN  ...      NaN      NaN      NaN      NaN
3      NaN      NaN      NaN  ...      NaN      NaN      NaN      NaN
4      NaN      NaN      NaN  ...      NaN      NaN      NaN      NaN

   2019-07  2019-08  2019-09  2019-10  2019-11  2019-12
0      NaN      NaN      NaN      NaN      NaN      NaN
1      NaN      NaN      NaN      NaN      NaN      NaN
2      NaN      NaN      NaN      NaN      NaN      NaN
3      NaN      NaN      NaN      NaN      NaN      NaN
4      NaN      NaN      NaN      NaN      NaN      NaN

[5 rows x 121 columns]
   RegionName  SizeRank  2010-01  2010-02  2010-03  2010-04  2010-05  2010-06  \
0  California       NaN      NaN      NaN      NaN      NaN      NaN      NaN
1       Texas       NaN      NaN      NaN      NaN      NaN      NaN      NaN
2    New York       NaN      NaN      NaN      NaN      NaN      NaN      NaN
3     Florida       NaN      NaN      NaN      NaN      NaN      NaN      NaN
4    Illinois       NaN      NaN      NaN      NaN      NaN      NaN      NaN

   2010-07  2010-08  ...  2019-03  2019-04  2019-05  2019-06  2019-07  \
0      NaN      NaN  ...      NaN      NaN      NaN      NaN      NaN
1      NaN      NaN  ...      NaN      NaN      NaN      NaN      NaN
2      NaN      NaN  ...      NaN      NaN      NaN      NaN      NaN
3      NaN      NaN  ...      NaN      NaN      NaN      NaN      NaN
4      NaN      NaN  ...      NaN      NaN      NaN      NaN      NaN

   2019-08  2019-09  2019-10  2019-11  2019-12
0      NaN      NaN      NaN      NaN      NaN
1      NaN      NaN      NaN      NaN      NaN
2      NaN      NaN      NaN      NaN      NaN
3      NaN      NaN      NaN      NaN      NaN
4      NaN      NaN      NaN      NaN      NaN

[5 rows x 122 columns]
     RegionName  SizeRank  2010-01  2010-02  2010-03  2010-04  2010-05  \
0    California       NaN      NaN      NaN      NaN      NaN      NaN
1         Texas       NaN      NaN      NaN      NaN      NaN      NaN
2       Florida       NaN      NaN      NaN      NaN      NaN      NaN
3      Illinois       NaN      NaN      NaN      NaN      NaN      NaN
4  Pennsylvania       NaN      NaN      NaN      NaN      NaN      NaN

   2010-06  2010-07  2010-08  ...  2019-03  2019-04  2019-05  2019-06  \
0      NaN      NaN      NaN  ...      NaN      NaN      NaN      NaN
1      NaN      NaN      NaN  ...      NaN      NaN      NaN      NaN
2      NaN      NaN      NaN  ...      NaN      NaN      NaN      NaN
3      NaN      NaN      NaN  ...      NaN      NaN      NaN      NaN
4      NaN      NaN      NaN  ...      NaN      NaN      NaN      NaN

   2019-07  2019-08  2019-09  2019-10  2019-11  2019-12
0      NaN      NaN      NaN      NaN      NaN      NaN
1      NaN      NaN      NaN      NaN      NaN      NaN
2      NaN      NaN      NaN      NaN      NaN      NaN
3      NaN      NaN      NaN      NaN      NaN      NaN
4      NaN      NaN      NaN      NaN      NaN      NaN

[5 rows x 122 columns]
   RegionName  SizeRank  2010-02  2010-03  2010-04  2010-05  2010-06  2010-07  \

In [17]:
imputed_cleaned_mrp_dataframes = []

for cdf in enumerate(cleaned_mrp_dataframes):
    data = impute_data(cdf[1])
    imputed_cleaned_mrp_dataframes.append(data)

In [18]:
for df in imputed_cleaned_mrp_dataframes:
    print(df.head())

    RegionName State                             Metro          CountyName  \
0     New York    NY       New York-Newark-Jersey City       Queens County
1  Los Angeles    CA    Los Angeles-Long Beach-Anaheim  Los Angeles County
2      Houston    TX  Houston-The Woodlands-Sugar Land       Harris County
3      Chicago    IL          Chicago-Naperville-Elgin         Cook County
4  San Antonio    TX         San Antonio-New Braunfels        Bexar County

     SizeRank      2010-02      2010-03      2010-04  2010-05  2010-06  ...  \
0  409.498778  1521.666667  1463.333333  1491.666667  1643.75  1692.25  ...
1  409.498778  1521.666667  1463.333333  1491.666667  1643.75  1692.25  ...
2  409.498778  1521.666667  1463.333333  1491.666667  1643.75  1692.25  ...
3  409.498778  1521.666667  1463.333333  1491.666667  1643.75  1692.25  ...
4  409.498778  1521.666667  1463.333333  1491.666667  1643.75  1692.25  ...

       2019-03      2019-04      2019-05      2019-06      2019-07  \
0  1367.775061  1375.256724  1383.422372  1391.526284  1393.319071
1  1367.775061  1375.256724  1383.422372  1391.526284  1393.319071
2  1367.775061  1375.256724  1383.422372  1391.526284  1393.319071
3  1367.775061  1375.256724  1383.422372  1391.526284  1393.319071
4  1367.775061  1375.256724  1383.422372  1391.526284  1393.319071

       2019-08      2019-09      2019-10      2019-11      2019-12
0  1390.609413  1386.911369  1384.099633  1381.577017  1384.483496
1  1390.609413  1386.911369  1384.099633  1381.577017  1384.483496
2  1390.609413  1386.911369  1384.099633  1381.577017  1384.483496
3  1390.609413  1386.911369  1384.099633  1381.577017  1384.483496
4  1390.609413  1386.911369  1384.099633  1381.577017  1384.483496

[5 rows x 124 columns]
    RegionName State                             Metro          CountyName  \
0     New York    NY       New York-Newark-Jersey City       Queens County
1  Los Angeles    CA    Los Angeles-Long Beach-Anaheim  Los Angeles County
2      Houston    TX  Houston-The Woodlands-Sugar Land       Harris County
3      Chicago    IL          Chicago-Naperville-Elgin         Cook County
4  San Antonio    TX         San Antonio-New Braunfels        Bexar County

     SizeRank  2010-02      2010-03     2010-04  2010-05  2010-06  ...  \
0  632.996047   1373.5  1298.466667  1280.46875   1305.0  1343.75  ...
1  632.996047   1373.5  1298.466667  1280.46875   1305.0  1343.75  ...
2  632.996047   1373.5  1298.466667  1280.46875   1305.0  1343.75  ...
3  632.996047   1373.5  1298.466667  1280.46875   1305.0  1343.75  ...
4  632.996047   1373.5  1298.466667  1280.46875   1305.0  1343.75  ...

       2019-03      2019-04      2019-05      2019-06     2019-07  \
0  1547.283004  1558.955731  1568.083794  1578.505534  1579.27668
1  1547.283004  1558.955731  1568.083794  1578.505534  1579.27668
2  1547.283004  1558.955731  1568.083794  1578.505534  1579.27668
3  1547.283004  1558.955731  1568.083794  1578.505534  1579.27668
4  1547.283004  1558.955731  1568.083794  1578.505534  1579.27668

       2019-08      2019-09      2019-10      2019-11      2019-12
0  1580.555731  1576.118972  1569.226087  1564.598024  1566.388142
1  1580.555731  1576.118972  1569.226087  1564.598024  1566.388142
2  1580.555731  1576.118972  1569.226087  1564.598024  1566.388142
3  1580.555731  1576.118972  1569.226087  1564.598024  1566.388142
4  1580.555731  1576.118972  1569.226087  1564.598024  1566.388142

[5 rows x 124 columns]
    RegionName State                             Metro          CountyName  \
0     New York    NY       New York-Newark-Jersey City       Queens County
1  Los Angeles    CA    Los Angeles-Long Beach-Anaheim  Los Angeles County
2      Houston    TX  Houston-The Woodlands-Sugar Land       Harris County
3      Chicago    IL          Chicago-Naperville-Elgin         Cook County
4  San Antonio    TX         San Antonio-New Braunfels        Bexar County

     SizeRank      2010-02      2010-03      2010-04      2010-05  \
0  495.493939  1184.772727  1261.833333  1295.470588  1332.305556
1  495.493939  1184.772727  1261.833333  1295.470588  1332.305556
2  495.493939  1184.772727  1261.833333  1295.470588  1332.305556
3  495.493939  1184.772727  1261.833333  1295.470588  1332.305556
4  495.493939  1184.772727  1261.833333  1295.470588  1332.305556

       2010-06  ...      2019-03      2019-04      2019-05  2019-06  \
0  1342.777778  ...  1948.180303  1967.066162  1981.621212   1985.7
1  1342.777778  ...  1948.180303  1967.066162  1981.621212   1985.7
2  1342.777778  ...  1948.180303  1967.066162  1981.621212   1985.7
3  1342.777778  ...  1948.180303  1967.066162  1981.621212   1985.7
4  1342.777778  ...  1948.180303  1967.066162  1981.621212   1985.7

       2019-07      2019-08      2019-09      2019-10      2019-11  \
0  1988.918687  1979.261111  1967.120707  1960.441919  1967.223737
1  1988.918687  1979.261111  1967.120707  1960.441919  1967.223737
2  1988.918687  1979.261111  1967.120707  1960.441919  1967.223737
3  1988.918687  1979.261111  1967.120707  1960.441919  1967.223737
4  1988.918687  1979.261111  1967.120707  1960.441919  1967.223737

       2019-12
0  1969.811616
1  1969.811616
2  1969.811616
3  1969.811616
4  1969.811616

[5 rows x 124 columns]
    RegionName State                             Metro          CountyName  \
0     New York    NY       New York-Newark-Jersey City       Queens County
1  Los Angeles    CA    Los Angeles-Long Beach-Anaheim  Los Angeles County
2      Houston    TX  Houston-The Woodlands-Sugar Land       Harris County
3      Chicago    IL          Chicago-Naperville-Elgin         Cook County
4  San Antonio    TX         San Antonio-New Braunfels        Bexar County

   SizeRank      2010-02  2010-03  2010-04  2010-05  2010-06  ...  \
0     158.5  1511.666667  1591.25   1592.0   1584.0   1616.5  ...
1     158.5  1511.666667  1591.25   1592.0   1584.0   1616.5  ...
2     158.5  1511.666667  1591.25   1592.0   1584.0   1616.5  ...
3     158.5  1511.666667  1591.25   1592.0   1584.0   1616.5  ...
4     158.5  1511.666667  1591.25   1592.0   1584.0   1616.5  ...

       2019-03  2019-04      2019-05      2019-06      2019-07      2019-08  \
0  3071.257911   3092.5  3113.131329  3127.049051  3107.004747  3059.968354
1  3071.257911   3092.5  3113.131329  3127.049051  3107.004747  3059.968354
2  3071.257911   3092.5  3113.131329  3127.049051  3107.004747  3059.968354
3  3071.257911   3092.5  3113.131329  3127.049051  3107.004747  3059.968354
4  3071.257911   3092.5  3113.131329  3127.049051  3107.004747  3059.968354

       2019-09      2019-10      2019-11     2019-12
0  3035.289557  3048.297468  3036.647152  3055.15981
1  3035.289557  3048.297468  3036.647152  3055.15981
2  3035.289557  3048.297468  3036.647152  3055.15981
3  3035.289557  3048.297468  3036.647152  3055.15981
4  3035.289557  3048.297468  3036.647152  3055.15981

[5 rows x 124 columns]
     RegionName State                             Metro           CountyName  \
0   Los Angeles    CA    Los Angeles-Long Beach-Anaheim   Los Angeles County
1       Houston    TX  Houston-The Woodlands-Sugar Land        Harris County
2   San Antonio    TX         San Antonio-New Braunfels         Bexar County
3  Philadelphia    PA    Philadelphia-Camden-Wilmington  Philadelphia County
4     Las Vegas    NV      Las Vegas-Henderson-Paradise         Clark County

   SizeRank  2011-01  2011-02  2011-03      2011-04   2011-05  ...  \
0      24.5    797.5   1297.5   1287.5  1508.333333  1685.625  ...
1      24.5    797.5   1297.5   1287.5  1508.333333  1685.625  ...
2      24.5    797.5   1297.5   1287.5  1508.333333  1685.625  ...
3      24.5    797.5   1297.5   1287.5  1508.333333  1685.625  ...
4      24.5    797.5   1297.5   1287.5  1508.333333  1685.625  ...

      2019-03      2019-04      2019-05    2019-06     2019-07      2019-08  \
0  3330.65625  3385.072917  3358.333333  3384.5625  3356.90625  3380.479167
1  3330.65625  3385.072917  3358.333333  3384.5625  3356.90625  3380.479167
2  3330.65625  3385.072917  3358.333333  3384.5625  3356.90625  3380.479167
3  3330.65625  3385.072917  3358.333333  3384.5625  3356.90625  3380.479167
4  3330.65625  3385.072917  3358.333333  3384.5625  3356.90625  3380.479167

       2019-09      2019-10  2019-11      2019-12
0  3407.072917  3377.395833  3356.25  3383.854167
1  3407.072917  3377.395833  3356.25  3383.854167
2  3407.072917  3377.395833  3356.25  3383.854167
3  3407.072917  3377.395833  3356.25  3383.854167
4  3407.072917  3377.395833  3356.25  3383.854167

[5 rows x 113 columns]
    RegionName State                             Metro          CountyName  \
0     New York    NY       New York-Newark-Jersey City       Queens County
1  Los Angeles    CA    Los Angeles-Long Beach-Anaheim  Los Angeles County
2      Houston    TX  Houston-The Woodlands-Sugar Land       Harris County
3      Chicago    IL          Chicago-Naperville-Elgin         Cook County
4  San Antonio    TX         San Antonio-New Braunfels        Bexar County

     SizeRank  2010-01      2010-02      2010-03   2010-04      2010-05  ...  \
0  849.992348    895.0  1408.433333  1343.040323  1408.325  1420.361446  ...
1  849.992348    895.0  1408.433333  1343.040323  1408.325  1420.361446  ...
2  849.992348    895.0  1408.433333  1343.040323  1408.325  1420.361446  ...
3  849.992348    895.0  1408.433333  1343.040323  1408.325  1420.361446  ...
4  849.992348    895.0  1408.433333  1343.040323  1408.325  1420.361446  ...

       2019-03      2019-04      2019-05      2019-06      2019-07  \
0  1922.993231  1940.743967  1958.058564  1961.466157  1959.818128
1  1922.993231  1940.743967  1958.058564  1961.466157  1959.818128
2  1922.993231  1940.743967  1958.058564  1961.466157  1959.818128
3  1922.993231  1940.743967  1958.058564  1961.466157  1959.818128
4  1922.993231  1940.743967  1958.058564  1961.466157  1959.818128

       2019-08      2019-09      2019-10      2019-11      2019-12
0  1948.314891  1937.666569  1933.940259  1923.351383  1929.953208
1  1948.314891  1937.666569  1933.940259  1923.351383  1929.953208
2  1948.314891  1937.666569  1933.940259  1923.351383  1929.953208
3  1948.314891  1937.666569  1933.940259  1923.351383  1929.953208
4  1948.314891  1937.666569  1933.940259  1923.351383  1929.953208

[5 rows x 125 columns]
    RegionName State                             Metro          CountyName  \
0     New York    NY       New York-Newark-Jersey City       Queens County
1  Los Angeles    CA    Los Angeles-Long Beach-Anaheim  Los Angeles County
2      Houston    TX  Houston-The Woodlands-Sugar Land       Harris County
3      Chicago    IL          Chicago-Naperville-Elgin         Cook County
4  San Antonio    TX         San Antonio-New Braunfels        Bexar County

     SizeRank  2010-01      2010-02      2010-03      2010-04      2010-05  \
0  731.491792    925.0  1290.526316  1287.682692  1385.238095  1405.536765
1  731.491792    925.0  1290.526316  1287.682692  1385.238095  1405.536765
2  731.491792    925.0  1290.526316  1287.682692  1385.238095  1405.536765
3  731.491792    925.0  1290.526316  1287.682692  1385.238095  1405.536765
4  731.491792    925.0  1290.526316  1287.682692  1385.238095  1405.536765

   ...      2019-03      2019-04      2019-05      2019-06      2019-07  \
0  ...  2041.160055  2061.194938  2078.397059  2076.226402  2063.312585
1  ...  2041.160055  2061.194938  2078.397059  2076.226402  2063.312585
2  ...  2041.160055  2061.194938  2078.397059  2076.226402  2063.312585
3  ...  2041.160055  2061.194938  2078.397059  2076.226402  2063.312585
4  ...  2041.160055  2061.194938  2078.397059  2076.226402  2063.312585

       2019-08      2019-09      2019-10      2019-11      2019-12
0  2045.150821  2033.161423  2029.471956  2028.799248  2037.677839
1  2045.150821  2033.161423  2029.471956  2028.799248  2037.677839
2  2045.150821  2033.161423  2029.471956  2028.799248  2037.677839
3  2045.150821  2033.161423  2029.471956  2028.799248  2037.677839
4  2045.150821  2033.161423  2029.471956  2028.799248  2037.677839

[5 rows x 125 columns]
    RegionName State                             Metro          CountyName  \
0     New York    NY       New York-Newark-Jersey City       Queens County
1  Los Angeles    CA    Los Angeles-Long Beach-Anaheim  Los Angeles County
2      Houston    TX  Houston-The Woodlands-Sugar Land       Harris County
3      Chicago    IL          Chicago-Naperville-Elgin         Cook County
4  San Antonio    TX         San Antonio-New Braunfels        Bexar County

     SizeRank      2010-02      2010-03      2010-04      2010-05    2010-06  \
0  172.997101  1549.166667  1281.666667  1311.666667  1226.785714  1210.9375
1  172.997101  1549.166667  1281.666667  1311.666667  1226.785714  1210.9375
2  172.997101  1549.166667  1281.666667  1311.666667  1226.785714  1210.9375
3  172.997101  1549.166667  1281.666667  1311.666667  1226.785714  1210.9375
4  172.997101  1549.166667  1281.666667  1311.666667  1226.785714  1210.9375

   ...      2019-03      2019-04      2019-05      2019-06      2019-07  \
0  ...  1710.434783  1721.565217  1739.407246  1742.144928  1738.156522
1  ...  1710.434783  1721.565217  1739.407246  1742.144928  1738.156522
2  ...  1710.434783  1721.565217  1739.407246  1742.144928  1738.156522
3  ...  1710.434783  1721.565217  1739.407246  1742.144928  1738.156522
4  ...  1710.434783  1721.565217  1739.407246  1742.144928  1738.156522

       2019-08      2019-09      2019-10      2019-11      2019-12
0  1710.505797  1705.411594  1715.863768  1706.998551  1719.247826
1  1710.505797  1705.411594  1715.863768  1706.998551  1719.247826
2  1710.505797  1705.411594  1715.863768  1706.998551  1719.247826
3  1710.505797  1705.411594  1715.863768  1706.998551  1719.247826
4  1710.505797  1705.411594  1715.863768  1706.998551  1719.247826

[5 rows x 124 columns]
   RegionName  SizeRank      2010-02      2010-03      2010-04      2010-05  \
0  California      26.0  1065.833333  1005.083333  1049.583333  1022.083333
1       Texas      26.0  1065.833333  1005.083333  1049.583333  1022.083333
2    New York      26.0  1065.833333  1005.083333  1049.583333  1022.083333
3     Florida      26.0  1065.833333  1005.083333  1049.583333  1022.083333
4    Illinois      26.0  1065.833333  1005.083333  1049.583333  1022.083333

   2010-06      2010-07   2010-08     2010-09  ...  2019-03      2019-04  \
0   1076.5  1057.916667  954.6875  948.041667  ...   1151.5  1159.852941
1   1076.5  1057.916667  954.6875  948.041667  ...   1151.5  1159.852941
2   1076.5  1057.916667  954.6875  948.041667  ...   1151.5  1159.852941
3   1076.5  1057.916667  954.6875  948.041667  ...   1151.5  1159.852941
4   1076.5  1057.916667  954.6875  948.041667  ...   1151.5  1159.852941

       2019-05  2019-06      2019-07      2019-08      2019-09      2019-10  \
0  1160.833333   1167.5  1167.617647  1168.872549  1169.343137  1160.411765
1  1160.833333   1167.5  1167.617647  1168.872549  1169.343137  1160.411765
2  1160.833333   1167.5  1167.617647  1168.872549  1169.343137  1160.411765
3  1160.833333   1167.5  1167.617647  1168.872549  1169.343137  1160.411765
4  1160.833333   1167.5  1167.617647  1168.872549  1169.343137  1160.411765

       2019-11      2019-12
0  1162.019608  1163.892157
1  1162.019608  1163.892157
2  1162.019608  1163.892157
3  1162.019608  1163.892157
4  1162.019608  1163.892157

[5 rows x 121 columns]
   RegionName  SizeRank  2010-01  2010-02      2010-03      2010-04  \
0  California      26.0   2100.0   1100.0  1090.966667  1104.666667
1       Texas      26.0   2100.0   1100.0  1090.966667  1104.666667
2    New York      26.0   2100.0   1100.0  1090.966667  1104.666667
3     Florida      26.0   2100.0   1100.0  1090.966667  1104.666667
4    Illinois      26.0   2100.0   1100.0  1090.966667  1104.666667

       2010-05      2010-06     2010-07      2010-08  ...      2019-03  \
0  1106.333333  1119.666667  1170.46875  1139.416667  ...  1325.588235
1  1106.333333  1119.666667  1170.46875  1139.416667  ...  1325.588235
2  1106.333333  1119.666667  1170.46875  1139.416667  ...  1325.588235
3  1106.333333  1119.666667  1170.46875  1139.416667  ...  1325.588235
4  1106.333333  1119.666667  1170.46875  1139.416667  ...  1325.588235

       2019-04      2019-05      2019-06      2019-07      2019-08  \
0  1341.441176  1349.686275  1356.519608  1351.068627  1348.058824
1  1341.441176  1349.686275  1356.519608  1351.068627  1348.058824
2  1341.441176  1349.686275  1356.519608  1351.068627  1348.058824
3  1341.441176  1349.686275  1356.519608  1351.068627  1348.058824
4  1341.441176  1349.686275  1356.519608  1351.068627  1348.058824

       2019-09      2019-10      2019-11      2019-12
0  1343.607843  1335.970588  1330.303922  1329.970588
1  1343.607843  1335.970588  1330.303922  1329.970588
2  1343.607843  1335.970588  1330.303922  1329.970588
3  1343.607843  1335.970588  1330.303922  1329.970588
4  1343.607843  1335.970588  1330.303922  1329.970588

[5 rows x 122 columns]
   RegionName  SizeRank  2010-02     2010-03      2010-04   2010-05  \
0  California      26.5  1249.25  1350.71875  1340.763158  1330.625
1       Texas      26.5  1249.25  1350.71875  1340.763158  1330.625
2    New York      26.5  1249.25  1350.71875  1340.763158  1330.625
3     Florida      26.5  1249.25  1350.71875  1340.763158  1330.625
4    Illinois      26.5  1249.25  1350.71875  1340.763158  1330.625

       2010-06      2010-07      2010-08  2010-09  ...      2019-03  2019-04  \
0  1337.142857  1309.166667  1297.708333  1246.22  ...  1583.769231  1611.75
1  1337.142857  1309.166667  1297.708333  1246.22  ...  1583.769231  1611.75
2  1337.142857  1309.166667  1297.708333  1246.22  ...  1583.769231  1611.75
3  1337.142857  1309.166667  1297.708333  1246.22  ...  1583.769231  1611.75
4  1337.142857  1309.166667  1297.708333  1246.22  ...  1583.769231  1611.75

       2019-05      2019-06      2019-07      2019-08      2019-09  \
0  1623.942308  1629.932692  1624.432692  1617.365385  1609.567308
1  1623.942308  1629.932692  1624.432692  1617.365385  1609.567308
2  1623.942308  1629.932692  1624.432692  1617.365385  1609.567308
3  1623.942308  1629.932692  1624.432692  1617.365385  1609.567308
4  1623.942308  1629.932692  1624.432692  1617.365385  1609.567308

       2019-10      2019-11      2019-12
0  1590.971154  1584.471154  1579.346154
1  1590.971154  1584.471154  1579.346154
2  1590.971154  1584.471154  1579.346154
3  1590.971154  1584.471154  1579.346154
4  1590.971154  1584.471154  1579.346154

[5 rows x 121 columns]
     RegionName  SizeRank  2010-02      2010-03  2010-04  2010-05  2010-06  \
0    California      24.5   1925.0  1732.222222   1774.2  1774.25   1759.5
1         Texas      24.5   1925.0  1732.222222   1774.2  1774.25   1759.5
2       Florida      24.5   1925.0  1732.222222   1774.2  1774.25   1759.5
3      Illinois      24.5   1925.0  1732.222222   1774.2  1774.25   1759.5
4  Pennsylvania      24.5   1925.0  1732.222222   1774.2  1774.25   1759.5

   2010-07  2010-08  2010-09  ...     2019-03      2019-04      2019-05  \
0   1749.0   1723.5  1724.25  ...  1866.28125  1909.166667  1937.354167
1   1749.0   1723.5  1724.25  ...  1866.28125  1909.166667  1937.354167
2   1749.0   1723.5  1724.25  ...  1866.28125  1909.166667  1937.354167
3   1749.0   1723.5  1724.25  ...  1866.28125  1909.166667  1937.354167
4   1749.0   1723.5  1724.25  ...  1866.28125  1909.166667  1937.354167

       2019-06     2019-07      2019-08      2019-09   2019-10    2019-11  \
0  1948.291667  1927.78125  1898.197917  1882.666667  1876.875  1866.6875
1  1948.291667  1927.78125  1898.197917  1882.666667  1876.875  1866.6875
2  1948.291667  1927.78125  1898.197917  1882.666667  1876.875  1866.6875
3  1948.291667  1927.78125  1898.197917  1882.666667  1876.875  1866.6875
4  1948.291667  1927.78125  1898.197917  1882.666667  1876.875  1866.6875

      2019-12
0  1870.84375
1  1870.84375
2  1870.84375
3  1870.84375
4  1870.84375


In [19]:
for idf in enumerate(imputed_cleaned_mrp_dataframes):
    print(idf[1].head())

    RegionName State                             Metro          CountyName  \
0     New York    NY       New York-Newark-Jersey City       Queens County
1  Los Angeles    CA    Los Angeles-Long Beach-Anaheim  Los Angeles County
2      Houston    TX  Houston-The Woodlands-Sugar Land       Harris County
3      Chicago    IL          Chicago-Naperville-Elgin         Cook County
4  San Antonio    TX         San Antonio-New Braunfels        Bexar County

     SizeRank      2010-02      2010-03      2010-04  2010-05  2010-06  ...  \
0  409.498778  1521.666667  1463.333333  1491.666667  1643.75  1692.25  ...
1  409.498778  1521.666667  1463.333333  1491.666667  1643.75  1692.25  ...
2  409.498778  1521.666667  1463.333333  1491.666667  1643.75  1692.25  ...
3  409.498778  1521.666667  1463.333333  1491.666667  1643.75  1692.25  ...
4  409.498778  1521.666667  1463.333333  1491.666667  1643.75  1692.25  ...

       2019-03      2019-04      2019-05      2019-06      2019-07  \
0  1367.775061  1375.256724  1383.422372  1391.526284  1393.319071
1  1367.775061  1375.256724  1383.422372  1391.526284  1393.319071
2  1367.775061  1375.256724  1383.422372  1391.526284  1393.319071
3  1367.775061  1375.256724  1383.422372  1391.526284  1393.319071
4  1367.775061  1375.256724  1383.422372  1391.526284  1393.319071

       2019-08      2019-09      2019-10      2019-11      2019-12
0  1390.609413  1386.911369  1384.099633  1381.577017  1384.483496
1  1390.609413  1386.911369  1384.099633  1381.577017  1384.483496
2  1390.609413  1386.911369  1384.099633  1381.577017  1384.483496
3  1390.609413  1386.911369  1384.099633  1381.577017  1384.483496
4  1390.609413  1386.911369  1384.099633  1381.577017  1384.483496

[5 rows x 124 columns]
    RegionName State                             Metro          CountyName  \
0     New York    NY       New York-Newark-Jersey City       Queens County
1  Los Angeles    CA    Los Angeles-Long Beach-Anaheim  Los Angeles County
2      Houston    TX  Houston-The Woodlands-Sugar Land       Harris County
3      Chicago    IL          Chicago-Naperville-Elgin         Cook County
4  San Antonio    TX         San Antonio-New Braunfels        Bexar County

     SizeRank  2010-02      2010-03     2010-04  2010-05  2010-06  ...  \
0  632.996047   1373.5  1298.466667  1280.46875   1305.0  1343.75  ...
1  632.996047   1373.5  1298.466667  1280.46875   1305.0  1343.75  ...
2  632.996047   1373.5  1298.466667  1280.46875   1305.0  1343.75  ...
3  632.996047   1373.5  1298.466667  1280.46875   1305.0  1343.75  ...
4  632.996047   1373.5  1298.466667  1280.46875   1305.0  1343.75  ...

       2019-03      2019-04      2019-05      2019-06     2019-07  \
0  1547.283004  1558.955731  1568.083794  1578.505534  1579.27668
1  1547.283004  1558.955731  1568.083794  1578.505534  1579.27668
2  1547.283004  1558.955731  1568.083794  1578.505534  1579.27668
3  1547.283004  1558.955731  1568.083794  1578.505534  1579.27668
4  1547.283004  1558.955731  1568.083794  1578.505534  1579.27668

       2019-08      2019-09      2019-10      2019-11      2019-12
0  1580.555731  1576.118972  1569.226087  1564.598024  1566.388142
1  1580.555731  1576.118972  1569.226087  1564.598024  1566.388142
2  1580.555731  1576.118972  1569.226087  1564.598024  1566.388142
3  1580.555731  1576.118972  1569.226087  1564.598024  1566.388142
4  1580.555731  1576.118972  1569.226087  1564.598024  1566.388142

[5 rows x 124 columns]
    RegionName State                             Metro          CountyName  \
0     New York    NY       New York-Newark-Jersey City       Queens County
1  Los Angeles    CA    Los Angeles-Long Beach-Anaheim  Los Angeles County
2      Houston    TX  Houston-The Woodlands-Sugar Land       Harris County
3      Chicago    IL          Chicago-Naperville-Elgin         Cook County
4  San Antonio    TX         San Antonio-New Braunfels        Bexar County

     SizeRank      2010-02      2010-03      2010-04      2010-05  \
0  495.493939  1184.772727  1261.833333  1295.470588  1332.305556
1  495.493939  1184.772727  1261.833333  1295.470588  1332.305556
2  495.493939  1184.772727  1261.833333  1295.470588  1332.305556
3  495.493939  1184.772727  1261.833333  1295.470588  1332.305556
4  495.493939  1184.772727  1261.833333  1295.470588  1332.305556

       2010-06  ...      2019-03      2019-04      2019-05  2019-06  \
0  1342.777778  ...  1948.180303  1967.066162  1981.621212   1985.7
1  1342.777778  ...  1948.180303  1967.066162  1981.621212   1985.7
2  1342.777778  ...  1948.180303  1967.066162  1981.621212   1985.7
3  1342.777778  ...  1948.180303  1967.066162  1981.621212   1985.7
4  1342.777778  ...  1948.180303  1967.066162  1981.621212   1985.7

       2019-07      2019-08      2019-09      2019-10      2019-11  \
0  1988.918687  1979.261111  1967.120707  1960.441919  1967.223737
1  1988.918687  1979.261111  1967.120707  1960.441919  1967.223737
2  1988.918687  1979.261111  1967.120707  1960.441919  1967.223737
3  1988.918687  1979.261111  1967.120707  1960.441919  1967.223737
4  1988.918687  1979.261111  1967.120707  1960.441919  1967.223737

       2019-12
0  1969.811616
1  1969.811616
2  1969.811616
3  1969.811616
4  1969.811616

[5 rows x 124 columns]
    RegionName State                             Metro          CountyName  \
0     New York    NY       New York-Newark-Jersey City       Queens County
1  Los Angeles    CA    Los Angeles-Long Beach-Anaheim  Los Angeles County
2      Houston    TX  Houston-The Woodlands-Sugar Land       Harris County
3      Chicago    IL          Chicago-Naperville-Elgin         Cook County
4  San Antonio    TX         San Antonio-New Braunfels        Bexar County

   SizeRank      2010-02  2010-03  2010-04  2010-05  2010-06  ...  \
0     158.5  1511.666667  1591.25   1592.0   1584.0   1616.5  ...
1     158.5  1511.666667  1591.25   1592.0   1584.0   1616.5  ...
2     158.5  1511.666667  1591.25   1592.0   1584.0   1616.5  ...
3     158.5  1511.666667  1591.25   1592.0   1584.0   1616.5  ...
4     158.5  1511.666667  1591.25   1592.0   1584.0   1616.5  ...

       2019-03  2019-04      2019-05      2019-06      2019-07      2019-08  \
0  3071.257911   3092.5  3113.131329  3127.049051  3107.004747  3059.968354
1  3071.257911   3092.5  3113.131329  3127.049051  3107.004747  3059.968354
2  3071.257911   3092.5  3113.131329  3127.049051  3107.004747  3059.968354
3  3071.257911   3092.5  3113.131329  3127.049051  3107.004747  3059.968354
4  3071.257911   3092.5  3113.131329  3127.049051  3107.004747  3059.968354

       2019-09      2019-10      2019-11     2019-12
0  3035.289557  3048.297468  3036.647152  3055.15981
1  3035.289557  3048.297468  3036.647152  3055.15981
2  3035.289557  3048.297468  3036.647152  3055.15981
3  3035.289557  3048.297468  3036.647152  3055.15981
4  3035.289557  3048.297468  3036.647152  3055.15981

[5 rows x 124 columns]
     RegionName State                             Metro           CountyName  \
0   Los Angeles    CA    Los Angeles-Long Beach-Anaheim   Los Angeles County
1       Houston    TX  Houston-The Woodlands-Sugar Land        Harris County
2   San Antonio    TX         San Antonio-New Braunfels         Bexar County
3  Philadelphia    PA    Philadelphia-Camden-Wilmington  Philadelphia County
4     Las Vegas    NV      Las Vegas-Henderson-Paradise         Clark County

   SizeRank  2011-01  2011-02  2011-03      2011-04   2011-05  ...  \
0      24.5    797.5   1297.5   1287.5  1508.333333  1685.625  ...
1      24.5    797.5   1297.5   1287.5  1508.333333  1685.625  ...
2      24.5    797.5   1297.5   1287.5  1508.333333  1685.625  ...
3      24.5    797.5   1297.5   1287.5  1508.333333  1685.625  ...
4      24.5    797.5   1297.5   1287.5  1508.333333  1685.625  ...

      2019-03      2019-04      2019-05    2019-06     2019-07      2019-08  \
0  3330.65625  3385.072917  3358.333333  3384.5625  3356.90625  3380.479167
1  3330.65625  3385.072917  3358.333333  3384.5625  3356.90625  3380.479167
2  3330.65625  3385.072917  3358.333333  3384.5625  3356.90625  3380.479167
3  3330.65625  3385.072917  3358.333333  3384.5625  3356.90625  3380.479167
4  3330.65625  3385.072917  3358.333333  3384.5625  3356.90625  3380.479167

       2019-09      2019-10  2019-11      2019-12
0  3407.072917  3377.395833  3356.25  3383.854167
1  3407.072917  3377.395833  3356.25  3383.854167
2  3407.072917  3377.395833  3356.25  3383.854167
3  3407.072917  3377.395833  3356.25  3383.854167
4  3407.072917  3377.395833  3356.25  3383.854167

[5 rows x 113 columns]
    RegionName State                             Metro          CountyName  \
0     New York    NY       New York-Newark-Jersey City       Queens County
1  Los Angeles    CA    Los Angeles-Long Beach-Anaheim  Los Angeles County
2      Houston    TX  Houston-The Woodlands-Sugar Land       Harris County
3      Chicago    IL          Chicago-Naperville-Elgin         Cook County
4  San Antonio    TX         San Antonio-New Braunfels        Bexar County

     SizeRank  2010-01      2010-02      2010-03   2010-04      2010-05  ...  \
0  849.992348    895.0  1408.433333  1343.040323  1408.325  1420.361446  ...
1  849.992348    895.0  1408.433333  1343.040323  1408.325  1420.361446  ...
2  849.992348    895.0  1408.433333  1343.040323  1408.325  1420.361446  ...
3  849.992348    895.0  1408.433333  1343.040323  1408.325  1420.361446  ...
4  849.992348    895.0  1408.433333  1343.040323  1408.325  1420.361446  ...

       2019-03      2019-04      2019-05      2019-06      2019-07  \
0  1922.993231  1940.743967  1958.058564  1961.466157  1959.818128
1  1922.993231  1940.743967  1958.058564  1961.466157  1959.818128
2  1922.993231  1940.743967  1958.058564  1961.466157  1959.818128
3  1922.993231  1940.743967  1958.058564  1961.466157  1959.818128
4  1922.993231  1940.743967  1958.058564  1961.466157  1959.818128

       2019-08      2019-09      2019-10      2019-11      2019-12
0  1948.314891  1937.666569  1933.940259  1923.351383  1929.953208
1  1948.314891  1937.666569  1933.940259  1923.351383  1929.953208
2  1948.314891  1937.666569  1933.940259  1923.351383  1929.953208
3  1948.314891  1937.666569  1933.940259  1923.351383  1929.953208
4  1948.314891  1937.666569  1933.940259  1923.351383  1929.953208

[5 rows x 125 columns]
    RegionName State                             Metro          CountyName  \
0     New York    NY       New York-Newark-Jersey City       Queens County
1  Los Angeles    CA    Los Angeles-Long Beach-Anaheim  Los Angeles County
2      Houston    TX  Houston-The Woodlands-Sugar Land       Harris County
3      Chicago    IL          Chicago-Naperville-Elgin         Cook County
4  San Antonio    TX         San Antonio-New Braunfels        Bexar County

     SizeRank  2010-01      2010-02      2010-03      2010-04      2010-05  \
0  731.491792    925.0  1290.526316  1287.682692  1385.238095  1405.536765
1  731.491792    925.0  1290.526316  1287.682692  1385.238095  1405.536765
2  731.491792    925.0  1290.526316  1287.682692  1385.238095  1405.536765
3  731.491792    925.0  1290.526316  1287.682692  1385.238095  1405.536765
4  731.491792    925.0  1290.526316  1287.682692  1385.238095  1405.536765

   ...      2019-03      2019-04      2019-05      2019-06      2019-07  \
0  ...  2041.160055  2061.194938  2078.397059  2076.226402  2063.312585
1  ...  2041.160055  2061.194938  2078.397059  2076.226402  2063.312585
2  ...  2041.160055  2061.194938  2078.397059  2076.226402  2063.312585
3  ...  2041.160055  2061.194938  2078.397059  2076.226402  2063.312585
4  ...  2041.160055  2061.194938  2078.397059  2076.226402  2063.312585

       2019-08      2019-09      2019-10      2019-11      2019-12
0  2045.150821  2033.161423  2029.471956  2028.799248  2037.677839
1  2045.150821  2033.161423  2029.471956  2028.799248  2037.677839
2  2045.150821  2033.161423  2029.471956  2028.799248  2037.677839
3  2045.150821  2033.161423  2029.471956  2028.799248  2037.677839
4  2045.150821  2033.161423  2029.471956  2028.799248  2037.677839

[5 rows x 125 columns]
    RegionName State                             Metro          CountyName  \
0     New York    NY       New York-Newark-Jersey City       Queens County
1  Los Angeles    CA    Los Angeles-Long Beach-Anaheim  Los Angeles County
2      Houston    TX  Houston-The Woodlands-Sugar Land       Harris County
3      Chicago    IL          Chicago-Naperville-Elgin         Cook County
4  San Antonio    TX         San Antonio-New Braunfels        Bexar County

     SizeRank      2010-02      2010-03      2010-04      2010-05    2010-06  \
0  172.997101  1549.166667  1281.666667  1311.666667  1226.785714  1210.9375
1  172.997101  1549.166667  1281.666667  1311.666667  1226.785714  1210.9375
2  172.997101  1549.166667  1281.666667  1311.666667  1226.785714  1210.9375
3  172.997101  1549.166667  1281.666667  1311.666667  1226.785714  1210.9375
4  172.997101  1549.166667  1281.666667  1311.666667  1226.785714  1210.9375

   ...      2019-03      2019-04      2019-05      2019-06      2019-07  \
0  ...  1710.434783  1721.565217  1739.407246  1742.144928  1738.156522
1  ...  1710.434783  1721.565217  1739.407246  1742.144928  1738.156522
2  ...  1710.434783  1721.565217  1739.407246  1742.144928  1738.156522
3  ...  1710.434783  1721.565217  1739.407246  1742.144928  1738.156522
4  ...  1710.434783  1721.565217  1739.407246  1742.144928  1738.156522

       2019-08      2019-09      2019-10      2019-11      2019-12
0  1710.505797  1705.411594  1715.863768  1706.998551  1719.247826
1  1710.505797  1705.411594  1715.863768  1706.998551  1719.247826
2  1710.505797  1705.411594  1715.863768  1706.998551  1719.247826
3  1710.505797  1705.411594  1715.863768  1706.998551  1719.247826
4  1710.505797  1705.411594  1715.863768  1706.998551  1719.247826

[5 rows x 124 columns]
   RegionName  SizeRank      2010-02      2010-03      2010-04      2010-05  \
0  California      26.0  1065.833333  1005.083333  1049.583333  1022.083333
1       Texas      26.0  1065.833333  1005.083333  1049.583333  1022.083333
2    New York      26.0  1065.833333  1005.083333  1049.583333  1022.083333
3     Florida      26.0  1065.833333  1005.083333  1049.583333  1022.083333
4    Illinois      26.0  1065.833333  1005.083333  1049.583333  1022.083333

   2010-06      2010-07   2010-08     2010-09  ...  2019-03      2019-04  \
0   1076.5  1057.916667  954.6875  948.041667  ...   1151.5  1159.852941
1   1076.5  1057.916667  954.6875  948.041667  ...   1151.5  1159.852941
2   1076.5  1057.916667  954.6875  948.041667  ...   1151.5  1159.852941
3   1076.5  1057.916667  954.6875  948.041667  ...   1151.5  1159.852941
4   1076.5  1057.916667  954.6875  948.041667  ...   1151.5  1159.852941

       2019-05  2019-06      2019-07      2019-08      2019-09      2019-10  \
0  1160.833333   1167.5  1167.617647  1168.872549  1169.343137  1160.411765
1  1160.833333   1167.5  1167.617647  1168.872549  1169.343137  1160.411765
2  1160.833333   1167.5  1167.617647  1168.872549  1169.343137  1160.411765
3  1160.833333   1167.5  1167.617647  1168.872549  1169.343137  1160.411765
4  1160.833333   1167.5  1167.617647  1168.872549  1169.343137  1160.411765

       2019-11      2019-12
0  1162.019608  1163.892157
1  1162.019608  1163.892157
2  1162.019608  1163.892157
3  1162.019608  1163.892157
4  1162.019608  1163.892157

[5 rows x 121 columns]
   RegionName  SizeRank  2010-01  2010-02      2010-03      2010-04  \
0  California      26.0   2100.0   1100.0  1090.966667  1104.666667
1       Texas      26.0   2100.0   1100.0  1090.966667  1104.666667
2    New York      26.0   2100.0   1100.0  1090.966667  1104.666667
3     Florida      26.0   2100.0   1100.0  1090.966667  1104.666667
4    Illinois      26.0   2100.0   1100.0  1090.966667  1104.666667

       2010-05      2010-06     2010-07      2010-08  ...      2019-03  \
0  1106.333333  1119.666667  1170.46875  1139.416667  ...  1325.588235
1  1106.333333  1119.666667  1170.46875  1139.416667  ...  1325.588235
2  1106.333333  1119.666667  1170.46875  1139.416667  ...  1325.588235
3  1106.333333  1119.666667  1170.46875  1139.416667  ...  1325.588235
4  1106.333333  1119.666667  1170.46875  1139.416667  ...  1325.588235

       2019-04      2019-05      2019-06      2019-07      2019-08  \
0  1341.441176  1349.686275  1356.519608  1351.068627  1348.058824
1  1341.441176  1349.686275  1356.519608  1351.068627  1348.058824
2  1341.441176  1349.686275  1356.519608  1351.068627  1348.058824
3  1341.441176  1349.686275  1356.519608  1351.068627  1348.058824
4  1341.441176  1349.686275  1356.519608  1351.068627  1348.058824

       2019-09      2019-10      2019-11      2019-12
0  1343.607843  1335.970588  1330.303922  1329.970588
1  1343.607843  1335.970588  1330.303922  1329.970588
2  1343.607843  1335.970588  1330.303922  1329.970588
3  1343.607843  1335.970588  1330.303922  1329.970588
4  1343.607843  1335.970588  1330.303922  1329.970588

[5 rows x 122 columns]
   RegionName  SizeRank  2010-02     2010-03      2010-04   2010-05  \
0  California      26.5  1249.25  1350.71875  1340.763158  1330.625
1       Texas      26.5  1249.25  1350.71875  1340.763158  1330.625
2    New York      26.5  1249.25  1350.71875  1340.763158  1330.625
3     Florida      26.5  1249.25  1350.71875  1340.763158  1330.625
4    Illinois      26.5  1249.25  1350.71875  1340.763158  1330.625

       2010-06      2010-07      2010-08  2010-09  ...      2019-03  2019-04  \
0  1337.142857  1309.166667  1297.708333  1246.22  ...  1583.769231  1611.75
1  1337.142857  1309.166667  1297.708333  1246.22  ...  1583.769231  1611.75
2  1337.142857  1309.166667  1297.708333  1246.22  ...  1583.769231  1611.75
3  1337.142857  1309.166667  1297.708333  1246.22  ...  1583.769231  1611.75
4  1337.142857  1309.166667  1297.708333  1246.22  ...  1583.769231  1611.75

       2019-05      2019-06      2019-07      2019-08      2019-09  \
0  1623.942308  1629.932692  1624.432692  1617.365385  1609.567308
1  1623.942308  1629.932692  1624.432692  1617.365385  1609.567308
2  1623.942308  1629.932692  1624.432692  1617.365385  1609.567308
3  1623.942308  1629.932692  1624.432692  1617.365385  1609.567308
4  1623.942308  1629.932692  1624.432692  1617.365385  1609.567308

       2019-10      2019-11      2019-12
0  1590.971154  1584.471154  1579.346154
1  1590.971154  1584.471154  1579.346154
2  1590.971154  1584.471154  1579.346154
3  1590.971154  1584.471154  1579.346154
4  1590.971154  1584.471154  1579.346154

[5 rows x 121 columns]
     RegionName  SizeRank  2010-02      2010-03  2010-04  2010-05  2010-06  \
0    California      24.5   1925.0  1732.222222   1774.2  1774.25   1759.5
1         Texas      24.5   1925.0  1732.222222   1774.2  1774.25   1759.5
2       Florida      24.5   1925.0  1732.222222   1774.2  1774.25   1759.5
3      Illinois      24.5   1925.0  1732.222222   1774.2  1774.25   1759.5
4  Pennsylvania      24.5   1925.0  1732.222222   1774.2  1774.25   1759.5

   2010-07  2010-08  2010-09  ...     2019-03      2019-04      2019-05  \
0   1749.0   1723.5  1724.25  ...  1866.28125  1909.166667  1937.354167
1   1749.0   1723.5  1724.25  ...  1866.28125  1909.166667  1937.354167
2   1749.0   1723.5  1724.25  ...  1866.28125  1909.166667  1937.354167
3   1749.0   1723.5  1724.25  ...  1866.28125  1909.166667  1937.354167
4   1749.0   1723.5  1724.25  ...  1866.28125  1909.166667  1937.354167

       2019-06     2019-07      2019-08      2019-09   2019-10    2019-11  \
0  1948.291667  1927.78125  1898.197917  1882.666667  1876.875  1866.6875
1  1948.291667  1927.78125  1898.197917  1882.666667  1876.875  1866.6875
2  1948.291667  1927.78125  1898.197917  1882.666667  1876.875  1866.6875
3  1948.291667  1927.78125  1898.197917  1882.666667  1876.875  1866.6875
4  1948.291667  1927.78125  1898.197917  1882.666667  1876.875  1866.6875

      2019-12
0  1870.84375
1  1870.84375
2  1870.84375
3  1870.84375
4  1870.84375


In [20]:
zhvi_csv_files = [f for f in all_csvFiles if 'zhvi' in f or 'Zhvi' in f]

In [21]:
zhvi_dataframes = []

for zdf in zhvi_csv_files:
    data = pd.read_csv(zdf, encoding='latin1',header=0)
    zhvi_dataframes.append(data)

In [22]:
for zdf in enumerate(zhvi_dataframes):
    print(zdf[1].head())

   Unnamed: 0  RegionID  SizeRank   RegionName RegionType StateName State  \
0           0      6181         0     New York       City        NY    NY
1           1     12447         1  Los Angeles       City        CA    CA
2           2     39051         2      Houston       City        TX    TX
3           3     17426         3      Chicago       City        IL    IL
4           4      6915         4  San Antonio       City        TX    TX

                              Metro          CountyName  1996-01-31  ...  \
0       New York-Newark-Jersey City       Queens County    139028.0  ...
1    Los Angeles-Long Beach-Anaheim  Los Angeles County    114152.0  ...
2  Houston-The Woodlands-Sugar Land       Harris County     68246.0  ...
3          Chicago-Naperville-Elgin         Cook County     95803.0  ...
4         San Antonio-New Braunfels        Bexar County     55420.0  ...

   2019-06-30  2019-07-31  2019-08-31  2019-09-30  2019-10-31  2019-11-30  \
0    606162.0    604457.0    603126.0    601368.0    600138.0    598527.0
1    531014.0    530916.0    530814.0    531586.0    533161.0    534943.0
2    104937.0    105155.0    105502.0    105618.0    106083.0    106186.0
3    238850.0    239106.0    239230.0    239070.0    238942.0    238700.0
4     90717.0     91135.0     91256.0     91958.0     92577.0     93383.0

   2019-12-31  2020-01-31  2020-02-29  2020-03-31
0    597268.0    597019.0    596725.0    596432.0
1    537784.0    541161.0    546048.0    550710.0
2    106299.0    106161.0    106271.0    106635.0
3    238530.0    238580.0    239266.0    240143.0
4     93500.0     93963.0     94115.0     94557.0

[5 rows x 300 columns]
   Unnamed: 0  RegionID  SizeRank   RegionName RegionType StateName State  \
0           0      6181         0     New York       City        NY    NY
1           1     12447         1  Los Angeles       City        CA    CA
2           2     39051         2      Houston       City        TX    TX
3           3     17426         3      Chicago       City        IL    IL
4           4      6915         4  San Antonio       City        TX    TX

                              Metro          CountyName  1996-01-31  ...  \
0       New York-Newark-Jersey City       Queens County    221378.0  ...
1    Los Angeles-Long Beach-Anaheim  Los Angeles County    160588.0  ...
2  Houston-The Woodlands-Sugar Land       Harris County     68930.0  ...
3          Chicago-Naperville-Elgin         Cook County    106560.0  ...
4         San Antonio-New Braunfels        Bexar County     59783.0  ...

   2019-06-30  2019-07-31  2019-08-31  2019-09-30  2019-10-31  2019-11-30  \
0    758437.0    757140.0    755798.0    754176.0    752930.0    751581.0
1    630320.0    630983.0    632244.0    634144.0    637111.0    639818.0
2    139385.0    140043.0    140703.0    141259.0    142048.0    142366.0
3    231696.0    231893.0    231898.0    231586.0    231307.0    231035.0
4    121176.0    121916.0    122386.0    123370.0    124026.0    124762.0

   2019-12-31  2020-01-31  2020-02-29  2020-03-31
0    750470.0    749923.0    749112.0    748076.0
1    644225.0    649077.0    656189.0    663476.0
2    142724.0    142883.0    143623.0    144587.0
3    230780.0    230781.0    230826.0    231117.0
4    124743.0    125185.0    125329.0    125778.0

[5 rows x 300 columns]
   Unnamed: 0  RegionID  SizeRank   RegionName RegionType StateName State  \
0           0      6181         0     New York       City        NY    NY
1           1     12447         1  Los Angeles       City        CA    CA
2           2     39051         2      Houston       City        TX    TX
3           3     17426         3      Chicago       City        IL    IL
4           4      6915         4  San Antonio       City        TX    TX

                              Metro          CountyName  1996-01-31  ...  \
0       New York-Newark-Jersey City       Queens County    206340.0  ...
1    Los Angeles-Long Beach-Anaheim  Los Angeles County    182221.0  ...
2  Houston-The Woodlands-Sugar Land       Harris County     84660.0  ...
3          Chicago-Naperville-Elgin         Cook County    123550.0  ...
4         San Antonio-New Braunfels        Bexar County     86633.0  ...

   2019-06-30  2019-07-31  2019-08-31  2019-09-30  2019-10-31  2019-11-30  \
0    669867.0    669301.0    668754.0    667939.0    667235.0    666403.0
1    679709.0    680905.0    682903.0    685596.0    689404.0    692833.0
2    172367.0    172991.0    173649.0    174131.0    174780.0    175298.0
3    235644.0    235933.0    235997.0    235715.0    235477.0    235328.0
4    172391.0    172988.0    173547.0    174437.0    175060.0    175790.0

   2019-12-31  2020-01-31  2020-02-29  2020-03-31
0    665999.0    665829.0    665469.0    664884.0
1    698102.0    703865.0    712243.0    720780.0
2    175883.0    176138.0    176669.0    177605.0
3    235333.0    235600.0    236052.0    236676.0
4    175967.0    176519.0    176722.0    177330.0

[5 rows x 300 columns]
   Unnamed: 0  RegionID  SizeRank   RegionName RegionType StateName State  \
0           0      6181         0     New York       City        NY    NY
1           1     12447         1  Los Angeles       City        CA    CA
2           2     39051         2      Houston       City        TX    TX
3           3     17426         3      Chicago       City        IL    IL
4           4      6915         4  San Antonio       City        TX    TX

                              Metro          CountyName  1996-01-31  ...  \
0       New York-Newark-Jersey City       Queens County    233213.0  ...
1    Los Angeles-Long Beach-Anaheim  Los Angeles County    225449.0  ...
2  Houston-The Woodlands-Sugar Land       Harris County    132240.0  ...
3          Chicago-Naperville-Elgin         Cook County    148277.0  ...
4         San Antonio-New Braunfels        Bexar County    140643.0  ...

   2019-06-30  2019-07-31  2019-08-31  2019-09-30  2019-10-31  2019-11-30  \
0    813160.0    811868.0    810783.0    809669.0    809085.0    807989.0
1    828586.0    830215.0    832774.0    836060.0    840487.0    844371.0
2    233793.0    234391.0    234813.0    235069.0    235604.0    236122.0
3    302056.0    302479.0    302686.0    302717.0    302727.0    302718.0
4    247512.0    248051.0    248583.0    249442.0    250020.0    250747.0

   2019-12-31  2020-01-31  2020-02-29  2020-03-31
0    807780.0    807388.0    806795.0    805518.0
1    850407.0    856403.0    865482.0    874732.0
2    236717.0    236815.0    237271.0    238273.0
3    302851.0    303337.0    304217.0    305303.0
4    250791.0    251210.0    251167.0    251646.0

[5 rows x 300 columns]
   Unnamed: 0  RegionID  SizeRank   RegionName RegionType StateName State  \
0           0      6181         0     New York       City        NY    NY
1           1     12447         1  Los Angeles       City        CA    CA
2           2     39051         2      Houston       City        TX    TX
3           3     17426         3      Chicago       City        IL    IL
4           4      6915         4  San Antonio       City        TX    TX

                              Metro          CountyName  1996-01-31  ...  \
0       New York-Newark-Jersey City       Queens County    258989.0  ...
1    Los Angeles-Long Beach-Anaheim  Los Angeles County    419938.0  ...
2  Houston-The Woodlands-Sugar Land       Harris County    241920.0  ...
3          Chicago-Naperville-Elgin         Cook County    164589.0  ...
4         San Antonio-New Braunfels        Bexar County    203582.0  ...

   2019-06-30  2019-07-31  2019-08-31  2019-09-30  2019-10-31  2019-11-30  \
0   1053088.0   1052158.0   1050936.0   1049761.0   1049042.0   1047797.0
1   1597885.0   1600091.0   1602572.0   1606059.0   1611326.0   1616454.0
2    399859.0    400303.0    400679.0    400727.0    401211.0    401360.0
3    343671.0    344225.0    344696.0    344855.0    345093.0    345215.0
4    331870.0    332293.0    332731.0    333466.0    333994.0    334721.0

   2019-12-31  2020-01-31  2020-02-29  2020-03-31
0   1047948.0   1048209.0   1048544.0   1048050.0
1   1625317.0   1632646.0   1645434.0   1658508.0
2    401643.0    401345.0    401709.0    402876.0
3    345422.0    346043.0    347066.0    348428.0
4    334730.0    335211.0    335103.0    335631.0

[5 rows x 300 columns]
   Unnamed: 0  RegionID  SizeRank   RegionName RegionType StateName State  \
0           0      6181         0     New York       City        NY    NY
1           1     12447         1  Los Angeles       City        CA    CA
2           2     39051         2      Houston       City        TX    TX
3           3     17426         3      Chicago       City        IL    IL
4           4      6915         4  San Antonio       City        TX    TX

                              Metro          CountyName  1996-01-31  ...  \
0       New York-Newark-Jersey City       Queens County    196258.0  ...
1    Los Angeles-Long Beach-Anaheim  Los Angeles County    185649.0  ...
2  Houston-The Woodlands-Sugar Land       Harris County     93518.0  ...
3          Chicago-Naperville-Elgin         Cook County    130920.0  ...
4         San Antonio-New Braunfels        Bexar County     94041.0  ...

   2019-06-30  2019-07-31  2019-08-31  2019-09-30  2019-10-31  2019-11-30  \
0    659421.0    659007.0    658239.0    656925.0    655613.0    654394.0
1    712660.0    713807.0    715688.0    718245.0    721896.0    725180.0
2    186844.0    187464.0    188070.0    188496.0    189125.0    189612.0
3    248372.0    248646.0    248725.0    248483.0    248278.0    248090.0
4    182732.0    183350.0    183930.0    184846.0    185490.0    186244.0

   2019-12-31  2020-01-31  2020-02-29  2020-03-31
0    653930.0    653901.0    653565.0    652307.0
1    730358.0    735910.0    744137.0    752508.0
2    190179.0    190395.0    190938.0    191907.0
3    248029.0    248220.0    248599.0    249152.0
4    186420.0    186962.0    187129.0    187718.0

[5 rows x 300 columns]
   Unnamed: 0  RegionID  SizeRank   RegionName RegionType StateName State  \
0           0      6181         0     New York       City        NY    NY
1           1     12447         1  Los Angeles       City        CA    CA
2           2     39051         2      Houston       City        TX    TX
3           3     17426         3      Chicago       City        IL    IL
4           4      6915         4  San Antonio       City        TX    TX

                              Metro          CountyName  1996-01-31  ...  \
0       New York-Newark-Jersey City       Queens County    148245.0  ...
1    Los Angeles-Long Beach-Anaheim  Los Angeles County    153875.0  ...
2  Houston-The Woodlands-Sugar Land       Harris County     83874.0  ...
3          Chicago-Naperville-Elgin         Cook County    148520.0  ...
4         San Antonio-New Braunfels        Bexar County     75847.0  ...

   2019-06-30  2019-07-31  2019-08-31  2019-09-30  2019-10-31  2019-11-30  \
0    639468.0    639065.0    637746.0    635577.0    633427.0    631672.0
1    581946.0    582051.0    582725.0    584215.0    586501.0    588477.0
2    126347.0    126540.0    126770.0    126835.0    127088.0    127208.0
3    320724.0    321026.0    321023.0    320659.0    320406.0    319919.0
4    136195.0    136482.0    136761.0    137272.0    137516.0    137833.0

   2019-12-31  2020-01-31  2020-02-29  2020-03-31
0    631165.0    630900.0    630149.0    627785.0
1    591796.0    595372.0    600864.0    606523.0
2    127373.0    127351.0    127518.0    127979.0
3    319567.0    319650.0    320375.0    321311.0
4    137704.0    137896.0    137861.0    138146.0

[5 rows x 300 columns]
   Unnamed: 0  RegionID  SizeRank  RegionName RegionType StateName  \
0           0         9         0  California      State        CA
1           1        54         1       Texas      State        TX
2           2        43         2    New York      State        NY
3           3        14         3     Florida      State        FL
4           4        21         4    Illinois      State        IL

   1996-01-31  1996-02-29  1996-03-31  1996-04-30  ...  2019-06-30  \
0    104045.0    103897.0    103745.0    103456.0  ...    399503.0
1     65737.0     65653.0     65617.0     65713.0  ...    114205.0
2    137520.0    137343.0    137186.0    136960.0  ...    368528.0
3     55385.0     55424.0     55481.0     55581.0  ...    133997.0
4     89837.0     89655.0     89445.0     89267.0  ...    143203.0

   2019-07-31  2019-08-31  2019-09-30  2019-10-31  2019-11-30  2019-12-31  \
0    399949.0    400604.0    401758.0    402858.0    404068.0    406004.0
1    114678.0    115177.0    115813.0    116285.0    116653.0    116733.0
2    368872.0    369362.0    369491.0    369558.0    369476.0    369800.0
3    134349.0    134664.0    134986.0    135379.0    135693.0    135962.0
4    143403.0    143612.0    143730.0    143840.0    143864.0    143913.0

   2020-01-31  2020-02-29  2020-03-31
0    408468.0    411313.0    414067.0
1    116946.0    117178.0    117671.0
2    369933.0    370185.0    370002.0
3    136332.0    137013.0    137644.0
4    144120.0    144414.0    144701.0

[5 rows x 297 columns]
   Unnamed: 0  RegionID  SizeRank  RegionName RegionType StateName  \
0           0         9         0  California      State        CA
1           1        54         1       Texas      State        TX
2           2        43         2    New York      State        NY
3           3        14         3     Florida      State        FL
4           4        21         4    Illinois      State        IL

   1996-01-31  1996-02-29  1996-03-31  1996-04-30  ...  2019-06-30  \
0    130687.0    130515.0    130366.0    130094.0  ...    463038.0
1     63200.0     63235.0     63254.0     63378.0  ...    132747.0
2     91755.0     91500.0     91331.0     91071.0  ...    179806.0
3     76272.0     76345.0     76421.0     76564.0  ...    180595.0
4     99546.0     99348.0     99107.0     98835.0  ...    149367.0

   2019-07-31  2019-08-31  2019-09-30  2019-10-31  2019-11-30  2019-12-31  \
0    463685.0    464712.0    466287.0    467914.0    469608.0    472107.0
1    133428.0    134106.0    134916.0    135473.0    135945.0    136191.0
2    180188.0    180521.0    180833.0    181255.0    181700.0    182251.0
3    181152.0    181675.0    182208.0    182776.0    183366.0    183902.0
4    149628.0    149829.0    149929.0    150000.0    150075.0    150192.0

   2020-01-31  2020-02-29  2020-03-31
0    475167.0    478892.0    482687.0
1    136649.0    137122.0    137750.0
2    182737.0    183245.0    183685.0
3    184605.0    185522.0    186485.0
4    150403.0    150550.0    150795.0

[5 rows x 297 columns]
   Unnamed: 0  RegionID  SizeRank  RegionName RegionType StateName  \
0           0         9         0  California      State        CA
1           1        54         1       Texas      State        TX
2           2        43         2    New York      State        NY
3           3        14         3     Florida      State        FL
4           4        21         4    Illinois      State        IL

   1996-01-31  1996-02-29  1996-03-31  1996-04-30  ...  2019-06-30  \
0    150497.0    150270.0    150140.0    149882.0  ...    517692.0
1     87800.0     87843.0     87889.0     88035.0  ...    189562.0
2     97869.0     97648.0     97517.0     97340.0  ...    192225.0
3    100404.0    100515.0    100640.0    100874.0  ...    244188.0
4    123513.0    123269.0    122952.0    122602.0  ...    191830.0

   2019-07-31  2019-08-31  2019-09-30  2019-10-31  2019-11-30  2019-12-31  \
0    518589.0    519974.0    521874.0    523934.0    526007.0    528877.0
1    190235.0    190887.0    191599.0    192142.0    192691.0    193104.0
2    192647.0    193012.0    193414.0    193946.0    194528.0    195191.0
3    244842.0    245477.0    246135.0    246881.0    247686.0    248455.0
4    192178.0    192434.0    192557.0    192632.0    192696.0    192825.0

   2020-01-31  2020-02-29  2020-03-31
0    532205.0    536329.0    540591.0
1    193582.0    194085.0    194807.0
2    195764.0    196355.0    196892.0
3    249449.0    250668.0    252016.0
4    193021.0    193186.0    193438.0

[5 rows x 297 columns]
   Unnamed: 0  RegionID  SizeRank  RegionName RegionType StateName  \
0           0         9         0  California      State        CA
1           1        54         1       Texas      State        TX
2           2        43         2    New York      State        NY
3           3        14         3     Florida      State        FL
4           4        21         4    Illinois      State        IL

   1996-01-31  1996-02-29  1996-03-31  1996-04-30  ...  2019-06-30  \
0    192896.0    192666.0    192490.0    192158.0  ...    648528.0
1    152569.0    152546.0    152566.0    152667.0  ...    286358.0
2    143375.0    143042.0    142843.0    142529.0  ...    304068.0
3    139848.0    139995.0    140151.0    140441.0  ...    332661.0
4    186577.0    186211.0    185765.0    185217.0  ...    293609.0

   2019-07-31  2019-08-31  2019-09-30  2019-10-31  2019-11-30  2019-12-31  \
0    649708.0    651413.0    653756.0    655973.0    658242.0    661479.0
1    286927.0    287376.0    287897.0    288291.0    288765.0    289082.0
2    304589.0    305030.0    305484.0    306105.0    306838.0    307686.0
3    333335.0    333994.0    334655.0    335430.0    336228.0    337011.0
4    293876.0    293987.0    293992.0    293921.0    293889.0    293950.0

   2020-01-31  2020-02-29  2020-03-31
0    665246.0    669858.0    674654.0
1    289407.0    289810.0    290587.0
2    308405.0    309178.0    309925.0
3    338111.0    339601.0    341217.0
4    294121.0    294271.0    294626.0

[5 rows x 297 columns]
   Unnamed: 0  RegionID  SizeRank  RegionName RegionType StateName  \
0           0         9         0  California      State        CA
1           1        54         1       Texas      State        TX
2           2        43         2    New York      State        NY
3           3        14         3     Florida      State        FL
4           4        21         4    Illinois      State        IL

   1996-01-31  1996-02-29  1996-03-31  1996-04-30  ...  2019-06-30  \
0    262515.0    262347.0    262147.0    261866.0  ...    878628.0
1    232679.0    232574.0    232547.0    232580.0  ...    426767.0
2    204713.0    204163.0    203767.0    203106.0  ...    525107.0
3    213181.0    213236.0    213350.0    213504.0  ...    492607.0
4    258152.0    257530.0    256821.0    255807.0  ...    403831.0

   2019-07-31  2019-08-31  2019-09-30  2019-10-31  2019-11-30  2019-12-31  \
0    880389.0    882726.0    885891.0    888409.0    890992.0    894925.0
1    427373.0    427820.0    428399.0    428726.0    429171.0    429395.0
2    525519.0    526093.0    526598.0    527080.0    527676.0    528756.0
3    493237.0    493835.0    494428.0    495148.0    495931.0    496638.0
4    404064.0    404102.0    403950.0    403763.0    403609.0    403588.0

   2020-01-31  2020-02-29  2020-03-31
0    899516.0    905217.0    911100.0
1    429805.0    430295.0    431367.0
2    530018.0    531503.0    532637.0
3    497805.0    499553.0    501300.0
4    403738.0    403911.0    404338.0

[5 rows x 297 columns]
   Unnamed: 0  RegionID  SizeRank  RegionName RegionType StateName  \
0           0         9         0  California      State        CA
1           1        54         1       Texas      State        TX
2           2        43         2    New York      State        NY
3           3        14         3     Florida      State        FL
4           4        21         4    Illinois      State        IL

   1996-01-31  1996-02-29  1996-03-31  1996-04-30  ...  2019-06-30  \
0    162238.0    162008.0    161859.0    161569.0  ...    555305.0
1     97631.0     97656.0     97684.0     97811.0  ...    206423.0
2    139108.0    138793.0    138607.0    138327.0  ...    323518.0
3    100595.0    100691.0    100803.0    101013.0  ...    244754.0

In [23]:
cleaned_zhvi_dataframes = []

for zdf in enumerate(zhvi_dataframes):
    cleaned_data = organize_df(zdf[1])
    print(cleaned_data.head())
    cleaned_zhvi_dataframes.append(cleaned_data)

    RegionName RegionType StateName State                             Metro  \
0     New York       City        NY    NY       New York-Newark-Jersey City
1  Los Angeles       City        CA    CA    Los Angeles-Long Beach-Anaheim
2      Houston       City        TX    TX  Houston-The Woodlands-Sugar Land
3      Chicago       City        IL    IL          Chicago-Naperville-Elgin
4  San Antonio       City        TX    TX         San Antonio-New Braunfels

           CountyName  RegionID  SizeRank  1996-01-31  1996-02-29  ...  \
0       Queens County       NaN       NaN         NaN         NaN  ...
1  Los Angeles County       NaN       NaN         NaN         NaN  ...
2       Harris County       NaN       NaN         NaN         NaN  ...
3         Cook County       NaN       NaN         NaN         NaN  ...
4        Bexar County       NaN       NaN         NaN         NaN  ...

   2019-06-30  2019-07-31  2019-08-31  2019-09-30  2019-10-31  2019-11-30  \
0         NaN         NaN         NaN         NaN         NaN         NaN
1         NaN         NaN         NaN         NaN         NaN         NaN
2         NaN         NaN         NaN         NaN         NaN         NaN
3         NaN         NaN         NaN         NaN         NaN         NaN
4         NaN         NaN         NaN         NaN         NaN         NaN

   2019-12-31  2020-01-31  2020-02-29  2020-03-31
0         NaN         NaN         NaN         NaN
1         NaN         NaN         NaN         NaN
2         NaN         NaN         NaN         NaN
3         NaN         NaN         NaN         NaN
4         NaN         NaN         NaN         NaN

[5 rows x 299 columns]
    RegionName RegionType StateName State                             Metro  \
0     New York       City        NY    NY       New York-Newark-Jersey City
1  Los Angeles       City        CA    CA    Los Angeles-Long Beach-Anaheim
2      Houston       City        TX    TX  Houston-The Woodlands-Sugar Land
3      Chicago       City        IL    IL          Chicago-Naperville-Elgin
4  San Antonio       City        TX    TX         San Antonio-New Braunfels

           CountyName  RegionID  SizeRank  1996-01-31  1996-02-29  ...  \
0       Queens County       NaN       NaN         NaN         NaN  ...
1  Los Angeles County       NaN       NaN         NaN         NaN  ...
2       Harris County       NaN       NaN         NaN         NaN  ...
3         Cook County       NaN       NaN         NaN         NaN  ...
4        Bexar County       NaN       NaN         NaN         NaN  ...

   2019-06-30  2019-07-31  2019-08-31  2019-09-30  2019-10-31  2019-11-30  \
0         NaN         NaN         NaN         NaN         NaN         NaN
1         NaN         NaN         NaN         NaN         NaN         NaN
2         NaN         NaN         NaN         NaN         NaN         NaN
3         NaN         NaN         NaN         NaN         NaN         NaN
4         NaN         NaN         NaN         NaN         NaN         NaN

   2019-12-31  2020-01-31  2020-02-29  2020-03-31
0         NaN         NaN         NaN         NaN
1         NaN         NaN         NaN         NaN
2         NaN         NaN         NaN         NaN
3         NaN         NaN         NaN         NaN
4         NaN         NaN         NaN         NaN

[5 rows x 299 columns]
    RegionName RegionType StateName State                             Metro  \
0     New York       City        NY    NY       New York-Newark-Jersey City
1  Los Angeles       City        CA    CA    Los Angeles-Long Beach-Anaheim
2      Houston       City        TX    TX  Houston-The Woodlands-Sugar Land
3      Chicago       City        IL    IL          Chicago-Naperville-Elgin
4  San Antonio       City        TX    TX         San Antonio-New Braunfels

           CountyName  RegionID  SizeRank  1996-01-31  1996-02-29  ...  \
0       Queens County       NaN       NaN         NaN         NaN  ...
1  Los Angeles County       NaN       NaN         NaN         NaN  ...
2       Harris County       NaN       NaN         NaN         NaN  ...
3         Cook County       NaN       NaN         NaN         NaN  ...
4        Bexar County       NaN       NaN         NaN         NaN  ...

   2019-06-30  2019-07-31  2019-08-31  2019-09-30  2019-10-31  2019-11-30  \
0         NaN         NaN         NaN         NaN         NaN         NaN
1         NaN         NaN         NaN         NaN         NaN         NaN
2         NaN         NaN         NaN         NaN         NaN         NaN
3         NaN         NaN         NaN         NaN         NaN         NaN
4         NaN         NaN         NaN         NaN         NaN         NaN

   2019-12-31  2020-01-31  2020-02-29  2020-03-31
0         NaN         NaN         NaN         NaN
1         NaN         NaN         NaN         NaN
2         NaN         NaN         NaN         NaN
3         NaN         NaN         NaN         NaN
4         NaN         NaN         NaN         NaN

[5 rows x 299 columns]
    RegionName RegionType StateName State                             Metro  \
0     New York       City        NY    NY       New York-Newark-Jersey City
1  Los Angeles       City        CA    CA    Los Angeles-Long Beach-Anaheim
2      Houston       City        TX    TX  Houston-The Woodlands-Sugar Land
3      Chicago       City        IL    IL          Chicago-Naperville-Elgin
4  San Antonio       City        TX    TX         San Antonio-New Braunfels

           CountyName  RegionID  SizeRank  1996-01-31  1996-02-29  ...  \
0       Queens County       NaN       NaN         NaN         NaN  ...
1  Los Angeles County       NaN       NaN         NaN         NaN  ...
2       Harris County       NaN       NaN         NaN         NaN  ...
3         Cook County       NaN       NaN         NaN         NaN  ...
4        Bexar County       NaN       NaN         NaN         NaN  ...

   2019-06-30  2019-07-31  2019-08-31  2019-09-30  2019-10-31  2019-11-30  \
0         NaN         NaN         NaN         NaN         NaN         NaN
1         NaN         NaN         NaN         NaN         NaN         NaN
2         NaN         NaN         NaN         NaN         NaN         NaN
3         NaN         NaN         NaN         NaN         NaN         NaN
4         NaN         NaN         NaN         NaN         NaN         NaN

   2019-12-31  2020-01-31  2020-02-29  2020-03-31
0         NaN         NaN         NaN         NaN
1         NaN         NaN         NaN         NaN
2         NaN         NaN         NaN         NaN
3         NaN         NaN         NaN         NaN
4         NaN         NaN         NaN         NaN

[5 rows x 299 columns]
    RegionName RegionType StateName State                             Metro  \
0     New York       City        NY    NY       New York-Newark-Jersey City
1  Los Angeles       City        CA    CA    Los Angeles-Long Beach-Anaheim
2      Houston       City        TX    TX  Houston-The Woodlands-Sugar Land
3      Chicago       City        IL    IL          Chicago-Naperville-Elgin
4  San Antonio       City        TX    TX         San Antonio-New Braunfels

           CountyName  RegionID  SizeRank  1996-01-31  1996-02-29  ...  \
0       Queens County       NaN       NaN         NaN         NaN  ...
1  Los Angeles County       NaN       NaN         NaN         NaN  ...
2       Harris County       NaN       NaN         NaN         NaN  ...
3         Cook County       NaN       NaN         NaN         NaN  ...
4        Bexar County       NaN       NaN         NaN         NaN  ...

   2019-06-30  2019-07-31  2019-08-31  2019-09-30  2019-10-31  2019-11-30  \
0         NaN         NaN         NaN         NaN         NaN         NaN
1         NaN         NaN         NaN         NaN         NaN         NaN
2         NaN         NaN         NaN         NaN         NaN         NaN
3         NaN         NaN         NaN         NaN         NaN         NaN
4         NaN         NaN         NaN         NaN         NaN         NaN

   2019-12-31  2020-01-31  2020-02-29  2020-03-31
0         NaN         NaN         NaN         NaN
1         NaN         NaN         NaN         NaN
2         NaN         NaN         NaN         NaN
3         NaN         NaN         NaN         NaN
4         NaN         NaN         NaN         NaN

[5 rows x 299 columns]
    RegionName RegionType StateName State                             Metro  \
0     New York       City        NY    NY       New York-Newark-Jersey City
1  Los Angeles       City        CA    CA    Los Angeles-Long Beach-Anaheim
2      Houston       City        TX    TX  Houston-The Woodlands-Sugar Land
3      Chicago       City        IL    IL          Chicago-Naperville-Elgin
4  San Antonio       City        TX    TX         San Antonio-New Braunfels

           CountyName  RegionID  SizeRank  1996-01-31  1996-02-29  ...  \
0       Queens County       NaN       NaN         NaN         NaN  ...
1  Los Angeles County       NaN       NaN         NaN         NaN  ...
2       Harris County       NaN       NaN         NaN         NaN  ...
3         Cook County       NaN       NaN         NaN         NaN  ...
4        Bexar County       NaN       NaN         NaN         NaN  ...

   2019-06-30  2019-07-31  2019-08-31  2019-09-30  2019-10-31  2019-11-30  \
0         NaN         NaN         NaN         NaN         NaN         NaN
1         NaN         NaN         NaN         NaN         NaN         NaN
2         NaN         NaN         NaN         NaN         NaN         NaN
3         NaN         NaN         NaN         NaN         NaN         NaN
4         NaN         NaN         NaN         NaN         NaN         NaN

   2019-12-31  2020-01-31  2020-02-29  2020-03-31
0         NaN         NaN         NaN         NaN
1         NaN         NaN         NaN         NaN
2         NaN         NaN         NaN         NaN
3         NaN         NaN         NaN         NaN
4         NaN         NaN         NaN         NaN

[5 rows x 299 columns]
    RegionName RegionType StateName State                             Metro  \
0     New York       City        NY    NY       New York-Newark-Jersey City
1  Los Angeles       City        CA    CA    Los Angeles-Long Beach-Anaheim
2      Houston       City        TX    TX  Houston-The Woodlands-Sugar Land
3      Chicago       City        IL    IL          Chicago-Naperville-Elgin
4  San Antonio       City        TX    TX         San Antonio-New Braunfels

           CountyName  RegionID  SizeRank  1996-01-31  1996-02-29  ...  \
0       Queens County       NaN       NaN         NaN         NaN  ...
1  Los Angeles County       NaN       NaN         NaN         NaN  ...
2       Harris County       NaN       NaN         NaN         NaN  ...
3         Cook County       NaN       NaN         NaN         NaN  ...
4        Bexar County       NaN       NaN         NaN         NaN  ...

   2019-06-30  2019-07-31  2019-08-31  2019-09-30  2019-10-31  2019-11-30  \
0         NaN         NaN         NaN         NaN         NaN         NaN
1         NaN         NaN         NaN         NaN         NaN         NaN
2         NaN         NaN         NaN         NaN         NaN         NaN
3         NaN         NaN         NaN         NaN         NaN         NaN
4         NaN         NaN         NaN         NaN         NaN         NaN

   2019-12-31  2020-01-31  2020-02-29  2020-03-31
0         NaN         NaN         NaN         NaN
1         NaN         NaN         NaN         NaN
2         NaN         NaN         NaN         NaN
3         NaN         NaN         NaN         NaN
4         NaN         NaN         NaN         NaN

[5 rows x 299 columns]
   RegionName RegionType StateName  RegionID  SizeRank  1996-01-31  \
0  California      State        CA       NaN       NaN         NaN
1       Texas      State        TX       NaN       NaN         NaN
2    New York      State        NY       NaN       NaN         NaN
3     Florida      State        FL       NaN       NaN         NaN
4    Illinois      State        IL       NaN       NaN         NaN

   1996-02-29  1996-03-31  1996-04-30  1996-05-31  ...  2019-06-30  \
0         NaN         NaN         NaN         NaN  ...         NaN
1         NaN         NaN         NaN         NaN  ...         NaN
2         NaN         NaN         NaN         NaN  ...         NaN
3         NaN         NaN         NaN         NaN  ...         NaN
4         NaN         NaN         NaN         NaN  ...         NaN

   2019-07-31  2019-08-31  2019-09-30  2019-10-31  2019-11-30  2019-12-31  \
0         NaN         NaN         NaN         NaN         NaN         NaN
1         NaN         NaN         NaN         NaN         NaN         NaN
2         NaN         NaN         NaN         NaN         NaN         NaN
3         NaN         NaN         NaN         NaN         NaN         NaN
4         NaN         NaN         NaN         NaN         NaN         NaN

   2020-01-31  2020-02-29  2020-03-31
0         NaN         NaN         NaN
1         NaN         NaN         NaN
2         NaN         NaN         NaN
3         NaN         NaN         NaN
4         NaN         NaN         NaN

[5 rows x 296 columns]
   RegionName RegionType StateName  RegionID  SizeRank  1996-01-31  \
0  California      State        CA       NaN       NaN         NaN
1       Texas      State        TX       NaN       NaN         NaN
2    New York      State        NY       NaN       NaN         NaN
3     Florida      State        FL       NaN       NaN         NaN
4    Illinois      State        IL       NaN       NaN         NaN

   1996-02-29  1996-03-31  1996-04-30  1996-05-31  ...  2019-06-30  \
0         NaN         NaN         NaN         NaN  ...         NaN
1         NaN         NaN         NaN         NaN  ...         NaN
2         NaN         NaN         NaN         NaN  ...         NaN
3         NaN         NaN         NaN         NaN  ...         NaN
4         NaN         NaN         NaN         NaN  ...         NaN

   2019-07-31  2019-08-31  2019-09-30  2019-10-31  2019-11-30  2019-12-31  \
0         NaN         NaN         NaN         NaN         NaN         NaN
1         NaN         NaN         NaN         NaN         NaN         NaN
2         NaN         NaN         NaN         NaN         NaN         NaN
3         NaN         NaN         NaN         NaN         NaN         NaN
4         NaN         NaN         NaN         NaN         NaN         NaN

   2020-01-31  2020-02-29  2020-03-31
0         NaN         NaN         NaN
1         NaN         NaN         NaN
2         NaN         NaN         NaN
3         NaN         NaN         NaN
4         NaN         NaN         NaN

[5 rows x 296 columns]
   RegionName RegionType StateName  RegionID  SizeRank  1996-01-31  \
0  California      State        CA       NaN       NaN         NaN
1       Texas      State        TX       NaN       NaN         NaN
2    New York      State        NY       NaN       NaN         NaN
3     Florida      State        FL       NaN       NaN         NaN
4    Illinois      State        IL       NaN       NaN         NaN

   1996-02-29  1996-03-31  1996-04-30  1996-05-31  ...  2019-06-30  \
0         NaN         NaN         NaN         NaN  ...         NaN
1         NaN         NaN         NaN         NaN  ...         NaN
2         NaN         NaN         NaN         NaN  ...         NaN
3         NaN         NaN         NaN         NaN  ...         NaN
4         NaN         NaN         NaN         NaN  ...         NaN

   2019-07-31  2019-08-31  2019-09-30  2019-10-31  2019-11-30  2019-12-31  \
0         NaN         NaN         NaN         NaN         NaN         NaN
1         NaN         NaN         NaN         NaN         NaN         NaN
2         NaN         NaN         NaN         NaN         NaN         NaN
3         NaN         NaN         NaN         NaN         NaN         NaN
4         NaN         NaN         NaN         NaN         NaN         NaN

   2020-01-31  2020-02-29  2020-03-31
0         NaN         NaN         NaN
1         NaN         NaN         NaN
2         NaN         NaN         NaN
3         NaN         NaN         NaN
4         NaN         NaN         NaN

[5 rows x 296 columns]
   RegionName RegionType StateName  RegionID  SizeRank  1996-01-31  \
0  California      State        CA       NaN       NaN         NaN
1       Texas      State        TX       NaN       NaN         NaN
2    New York      State        NY       NaN       NaN         NaN
3     Florida      State        FL       NaN       NaN         NaN
4    Illinois      State        IL       NaN       NaN         NaN

   1996-02-29  1996-03-31  1996-04-30  1996-05-31  ...  2019-06-30  \
0         NaN         NaN         NaN         NaN  ...         NaN
1         NaN         NaN         NaN         NaN  ...         NaN
2         NaN         NaN         NaN         NaN  ...         NaN
3         NaN         NaN         NaN         NaN  ...         NaN
4         NaN         NaN         NaN         NaN  ...         NaN

   2019-07-31  2019-08-31  2019-09-30  2019-10-31  2019-11-30  2019-12-31  \
0         NaN         NaN         NaN         NaN         NaN         NaN
1         NaN         NaN         NaN         NaN         NaN         NaN
2         NaN         NaN         NaN         NaN         NaN         NaN
3         NaN         NaN         NaN         NaN         NaN         NaN
4         NaN         NaN         NaN         NaN         NaN         NaN

   2020-01-31  2020-02-29  2020-03-31
0         NaN         NaN         NaN
1         NaN         NaN         NaN
2         NaN         NaN         NaN
3         NaN         NaN         NaN
4         NaN         NaN         NaN

[5 rows x 296 columns]
   RegionName RegionType StateName  RegionID  SizeRank  1996-01-31  \
0  California      State        CA       NaN       NaN         NaN
1       Texas      State        TX       NaN       NaN         NaN
2    New York      State        NY       NaN       NaN         NaN
3     Florida      State        FL       NaN       NaN         NaN
4    Illinois      State        IL       NaN       NaN         NaN

   1996-02-29  1996-03-31  1996-04-30  1996-05-31  ...  2019-06-30  \
0         NaN         NaN         NaN         NaN  ...         NaN
1         NaN         NaN         NaN         NaN  ...         NaN
2         NaN         NaN         NaN         NaN  ...         NaN
3         NaN         NaN         NaN         NaN  ...         NaN
4         NaN         NaN         NaN         NaN  ...         NaN

   2019-07-31  2019-08-31  2019-09-30  2019-10-31  2019-11-30  2019-12-31  \
0         NaN         NaN         NaN         NaN         NaN         NaN
1         NaN         NaN         NaN         NaN         NaN         NaN
2         NaN         NaN         NaN         NaN         NaN         NaN
3         NaN         NaN         NaN         NaN         NaN         NaN
4         NaN         NaN         NaN         NaN         NaN         NaN

   2020-01-31  2020-02-29  2020-03-31
0         NaN         NaN         NaN
1         NaN         NaN         NaN
2         NaN         NaN         NaN
3         NaN         NaN         NaN
4         NaN         NaN         NaN

[5 rows x 296 columns]
   RegionName RegionType StateName  RegionID  SizeRank  1996-01-31  \
0  California      State        CA       NaN       NaN         NaN
1       Texas      State        TX       NaN       NaN         NaN
2    New York      State        NY       NaN       NaN         NaN
3     Florida      State        FL       NaN       NaN         NaN
4    Illinois      State        IL       NaN       NaN         NaN

   1996-02-29  1996-03-31  1996-04-30  1996-05-31  ...  2019-06-30  \
0         NaN         NaN         NaN         NaN  ...         NaN
1         NaN         NaN         NaN         NaN  ...         NaN
2         NaN         NaN         NaN         NaN  ...         NaN
3         NaN         NaN         NaN         NaN  ...         NaN

In [24]:
for zdf in cleaned_zhvi_dataframes:
    print(zdf.head())

    RegionName RegionType StateName State                             Metro  \
0     New York       City        NY    NY       New York-Newark-Jersey City
1  Los Angeles       City        CA    CA    Los Angeles-Long Beach-Anaheim
2      Houston       City        TX    TX  Houston-The Woodlands-Sugar Land
3      Chicago       City        IL    IL          Chicago-Naperville-Elgin
4  San Antonio       City        TX    TX         San Antonio-New Braunfels

           CountyName  RegionID  SizeRank  1996-01-31  1996-02-29  ...  \
0       Queens County       NaN       NaN         NaN         NaN  ...
1  Los Angeles County       NaN       NaN         NaN         NaN  ...
2       Harris County       NaN       NaN         NaN         NaN  ...
3         Cook County       NaN       NaN         NaN         NaN  ...
4        Bexar County       NaN       NaN         NaN         NaN  ...

   2019-06-30  2019-07-31  2019-08-31  2019-09-30  2019-10-31  2019-11-30  \
0         NaN         NaN         NaN         NaN         NaN         NaN
1         NaN         NaN         NaN         NaN         NaN         NaN
2         NaN         NaN         NaN         NaN         NaN         NaN
3         NaN         NaN         NaN         NaN         NaN         NaN
4         NaN         NaN         NaN         NaN         NaN         NaN

   2019-12-31  2020-01-31  2020-02-29  2020-03-31
0         NaN         NaN         NaN         NaN
1         NaN         NaN         NaN         NaN
2         NaN         NaN         NaN         NaN
3         NaN         NaN         NaN         NaN
4         NaN         NaN         NaN         NaN

[5 rows x 299 columns]
    RegionName RegionType StateName State                             Metro  \
0     New York       City        NY    NY       New York-Newark-Jersey City
1  Los Angeles       City        CA    CA    Los Angeles-Long Beach-Anaheim
2      Houston       City        TX    TX  Houston-The Woodlands-Sugar Land
3      Chicago       City        IL    IL          Chicago-Naperville-Elgin
4  San Antonio       City        TX    TX         San Antonio-New Braunfels

           CountyName  RegionID  SizeRank  1996-01-31  1996-02-29  ...  \
0       Queens County       NaN       NaN         NaN         NaN  ...
1  Los Angeles County       NaN       NaN         NaN         NaN  ...
2       Harris County       NaN       NaN         NaN         NaN  ...
3         Cook County       NaN       NaN         NaN         NaN  ...
4        Bexar County       NaN       NaN         NaN         NaN  ...

   2019-06-30  2019-07-31  2019-08-31  2019-09-30  2019-10-31  2019-11-30  \
0         NaN         NaN         NaN         NaN         NaN         NaN
1         NaN         NaN         NaN         NaN         NaN         NaN
2         NaN         NaN         NaN         NaN         NaN         NaN
3         NaN         NaN         NaN         NaN         NaN         NaN
4         NaN         NaN         NaN         NaN         NaN         NaN

   2019-12-31  2020-01-31  2020-02-29  2020-03-31
0         NaN         NaN         NaN         NaN
1         NaN         NaN         NaN         NaN
2         NaN         NaN         NaN         NaN
3         NaN         NaN         NaN         NaN
4         NaN         NaN         NaN         NaN

[5 rows x 299 columns]
    RegionName RegionType StateName State                             Metro  \
0     New York       City        NY    NY       New York-Newark-Jersey City
1  Los Angeles       City        CA    CA    Los Angeles-Long Beach-Anaheim
2      Houston       City        TX    TX  Houston-The Woodlands-Sugar Land
3      Chicago       City        IL    IL          Chicago-Naperville-Elgin
4  San Antonio       City        TX    TX         San Antonio-New Braunfels

           CountyName  RegionID  SizeRank  1996-01-31  1996-02-29  ...  \
0       Queens County       NaN       NaN         NaN         NaN  ...
1  Los Angeles County       NaN       NaN         NaN         NaN  ...
2       Harris County       NaN       NaN         NaN         NaN  ...
3         Cook County       NaN       NaN         NaN         NaN  ...
4        Bexar County       NaN       NaN         NaN         NaN  ...

   2019-06-30  2019-07-31  2019-08-31  2019-09-30  2019-10-31  2019-11-30  \
0         NaN         NaN         NaN         NaN         NaN         NaN
1         NaN         NaN         NaN         NaN         NaN         NaN
2         NaN         NaN         NaN         NaN         NaN         NaN
3         NaN         NaN         NaN         NaN         NaN         NaN
4         NaN         NaN         NaN         NaN         NaN         NaN

   2019-12-31  2020-01-31  2020-02-29  2020-03-31
0         NaN         NaN         NaN         NaN
1         NaN         NaN         NaN         NaN
2         NaN         NaN         NaN         NaN
3         NaN         NaN         NaN         NaN
4         NaN         NaN         NaN         NaN

[5 rows x 299 columns]
    RegionName RegionType StateName State                             Metro  \
0     New York       City        NY    NY       New York-Newark-Jersey City
1  Los Angeles       City        CA    CA    Los Angeles-Long Beach-Anaheim
2      Houston       City        TX    TX  Houston-The Woodlands-Sugar Land
3      Chicago       City        IL    IL          Chicago-Naperville-Elgin
4  San Antonio       City        TX    TX         San Antonio-New Braunfels

           CountyName  RegionID  SizeRank  1996-01-31  1996-02-29  ...  \
0       Queens County       NaN       NaN         NaN         NaN  ...
1  Los Angeles County       NaN       NaN         NaN         NaN  ...
2       Harris County       NaN       NaN         NaN         NaN  ...
3         Cook County       NaN       NaN         NaN         NaN  ...
4        Bexar County       NaN       NaN         NaN         NaN  ...

   2019-06-30  2019-07-31  2019-08-31  2019-09-30  2019-10-31  2019-11-30  \
0         NaN         NaN         NaN         NaN         NaN         NaN
1         NaN         NaN         NaN         NaN         NaN         NaN
2         NaN         NaN         NaN         NaN         NaN         NaN
3         NaN         NaN         NaN         NaN         NaN         NaN
4         NaN         NaN         NaN         NaN         NaN         NaN

   2019-12-31  2020-01-31  2020-02-29  2020-03-31
0         NaN         NaN         NaN         NaN
1         NaN         NaN         NaN         NaN
2         NaN         NaN         NaN         NaN
3         NaN         NaN         NaN         NaN
4         NaN         NaN         NaN         NaN

[5 rows x 299 columns]
    RegionName RegionType StateName State                             Metro  \
0     New York       City        NY    NY       New York-Newark-Jersey City
1  Los Angeles       City        CA    CA    Los Angeles-Long Beach-Anaheim
2      Houston       City        TX    TX  Houston-The Woodlands-Sugar Land
3      Chicago       City        IL    IL          Chicago-Naperville-Elgin
4  San Antonio       City        TX    TX         San Antonio-New Braunfels

           CountyName  RegionID  SizeRank  1996-01-31  1996-02-29  ...  \
0       Queens County       NaN       NaN         NaN         NaN  ...
1  Los Angeles County       NaN       NaN         NaN         NaN  ...
2       Harris County       NaN       NaN         NaN         NaN  ...
3         Cook County       NaN       NaN         NaN         NaN  ...
4        Bexar County       NaN       NaN         NaN         NaN  ...

   2019-06-30  2019-07-31  2019-08-31  2019-09-30  2019-10-31  2019-11-30  \
0         NaN         NaN         NaN         NaN         NaN         NaN
1         NaN         NaN         NaN         NaN         NaN         NaN
2         NaN         NaN         NaN         NaN         NaN         NaN
3         NaN         NaN         NaN         NaN         NaN         NaN
4         NaN         NaN         NaN         NaN         NaN         NaN

   2019-12-31  2020-01-31  2020-02-29  2020-03-31
0         NaN         NaN         NaN         NaN
1         NaN         NaN         NaN         NaN
2         NaN         NaN         NaN         NaN
3         NaN         NaN         NaN         NaN
4         NaN         NaN         NaN         NaN

[5 rows x 299 columns]
    RegionName RegionType StateName State                             Metro  \
0     New York       City        NY    NY       New York-Newark-Jersey City
1  Los Angeles       City        CA    CA    Los Angeles-Long Beach-Anaheim
2      Houston       City        TX    TX  Houston-The Woodlands-Sugar Land
3      Chicago       City        IL    IL          Chicago-Naperville-Elgin
4  San Antonio       City        TX    TX         San Antonio-New Braunfels

           CountyName  RegionID  SizeRank  1996-01-31  1996-02-29  ...  \
0       Queens County       NaN       NaN         NaN         NaN  ...
1  Los Angeles County       NaN       NaN         NaN         NaN  ...
2       Harris County       NaN       NaN         NaN         NaN  ...
3         Cook County       NaN       NaN         NaN         NaN  ...
4        Bexar County       NaN       NaN         NaN         NaN  ...

   2019-06-30  2019-07-31  2019-08-31  2019-09-30  2019-10-31  2019-11-30  \
0         NaN         NaN         NaN         NaN         NaN         NaN
1         NaN         NaN         NaN         NaN         NaN         NaN
2         NaN         NaN         NaN         NaN         NaN         NaN
3         NaN         NaN         NaN         NaN         NaN         NaN
4         NaN         NaN         NaN         NaN         NaN         NaN

   2019-12-31  2020-01-31  2020-02-29  2020-03-31
0         NaN         NaN         NaN         NaN
1         NaN         NaN         NaN         NaN
2         NaN         NaN         NaN         NaN
3         NaN         NaN         NaN         NaN
4         NaN         NaN         NaN         NaN

[5 rows x 299 columns]
    RegionName RegionType StateName State                             Metro  \
0     New York       City        NY    NY       New York-Newark-Jersey City
1  Los Angeles       City        CA    CA    Los Angeles-Long Beach-Anaheim
2      Houston       City        TX    TX  Houston-The Woodlands-Sugar Land
3      Chicago       City        IL    IL          Chicago-Naperville-Elgin
4  San Antonio       City        TX    TX         San Antonio-New Braunfels

           CountyName  RegionID  SizeRank  1996-01-31  1996-02-29  ...  \
0       Queens County       NaN       NaN         NaN         NaN  ...
1  Los Angeles County       NaN       NaN         NaN         NaN  ...
2       Harris County       NaN       NaN         NaN         NaN  ...
3         Cook County       NaN       NaN         NaN         NaN  ...
4        Bexar County       NaN       NaN         NaN         NaN  ...

   2019-06-30  2019-07-31  2019-08-31  2019-09-30  2019-10-31  2019-11-30  \
0         NaN         NaN         NaN         NaN         NaN         NaN
1         NaN         NaN         NaN         NaN         NaN         NaN
2         NaN         NaN         NaN         NaN         NaN         NaN
3         NaN         NaN         NaN         NaN         NaN         NaN
4         NaN         NaN         NaN         NaN         NaN         NaN

   2019-12-31  2020-01-31  2020-02-29  2020-03-31
0         NaN         NaN         NaN         NaN
1         NaN         NaN         NaN         NaN
2         NaN         NaN         NaN         NaN
3         NaN         NaN         NaN         NaN
4         NaN         NaN         NaN         NaN

[5 rows x 299 columns]
   RegionName RegionType StateName  RegionID  SizeRank  1996-01-31  \
0  California      State        CA       NaN       NaN         NaN
1       Texas      State        TX       NaN       NaN         NaN
2    New York      State        NY       NaN       NaN         NaN
3     Florida      State        FL       NaN       NaN         NaN
4    Illinois      State        IL       NaN       NaN         NaN

   1996-02-29  1996-03-31  1996-04-30  1996-05-31  ...  2019-06-30  \
0         NaN         NaN         NaN         NaN  ...         NaN
1         NaN         NaN         NaN         NaN  ...         NaN
2         NaN         NaN         NaN         NaN  ...         NaN
3         NaN         NaN         NaN         NaN  ...         NaN
4         NaN         NaN         NaN         NaN  ...         NaN

   2019-07-31  2019-08-31  2019-09-30  2019-10-31  2019-11-30  2019-12-31  \
0         NaN         NaN         NaN         NaN         NaN         NaN
1         NaN         NaN         NaN         NaN         NaN         NaN
2         NaN         NaN         NaN         NaN         NaN         NaN
3         NaN         NaN         NaN         NaN         NaN         NaN
4         NaN         NaN         NaN         NaN         NaN         NaN

   2020-01-31  2020-02-29  2020-03-31
0         NaN         NaN         NaN
1         NaN         NaN         NaN
2         NaN         NaN         NaN
3         NaN         NaN         NaN
4         NaN         NaN         NaN

[5 rows x 296 columns]
   RegionName RegionType StateName  RegionID  SizeRank  1996-01-31  \
0  California      State        CA       NaN       NaN         NaN
1       Texas      State        TX       NaN       NaN         NaN
2    New York      State        NY       NaN       NaN         NaN
3     Florida      State        FL       NaN       NaN         NaN
4    Illinois      State        IL       NaN       NaN         NaN

   1996-02-29  1996-03-31  1996-04-30  1996-05-31  ...  2019-06-30  \
0         NaN         NaN         NaN         NaN  ...         NaN
1         NaN         NaN         NaN         NaN  ...         NaN
2         NaN         NaN         NaN         NaN  ...         NaN
3         NaN         NaN         NaN         NaN  ...         NaN
4         NaN         NaN         NaN         NaN  ...         NaN

   2019-07-31  2019-08-31  2019-09-30  2019-10-31  2019-11-30  2019-12-31  \
0         NaN         NaN         NaN         NaN         NaN         NaN
1         NaN         NaN         NaN         NaN         NaN         NaN
2         NaN         NaN         NaN         NaN         NaN         NaN
3         NaN         NaN         NaN         NaN         NaN         NaN
4         NaN         NaN         NaN         NaN         NaN         NaN

   2020-01-31  2020-02-29  2020-03-31
0         NaN         NaN         NaN
1         NaN         NaN         NaN
2         NaN         NaN         NaN
3         NaN         NaN         NaN
4         NaN         NaN         NaN

[5 rows x 296 columns]
   RegionName RegionType StateName  RegionID  SizeRank  1996-01-31  \
0  California      State        CA       NaN       NaN         NaN
1       Texas      State        TX       NaN       NaN         NaN
2    New York      State        NY       NaN       NaN         NaN
3     Florida      State        FL       NaN       NaN         NaN
4    Illinois      State        IL       NaN       NaN         NaN

   1996-02-29  1996-03-31  1996-04-30  1996-05-31  ...  2019-06-30  \
0         NaN         NaN         NaN         NaN  ...         NaN
1         NaN         NaN         NaN         NaN  ...         NaN
2         NaN         NaN         NaN         NaN  ...         NaN
3         NaN         NaN         NaN         NaN  ...         NaN
4         NaN         NaN         NaN         NaN  ...         NaN

   2019-07-31  2019-08-31  2019-09-30  2019-10-31  2019-11-30  2019-12-31  \
0         NaN         NaN         NaN         NaN         NaN         NaN
1         NaN         NaN         NaN         NaN         NaN         NaN
2         NaN         NaN         NaN         NaN         NaN         NaN
3         NaN         NaN         NaN         NaN         NaN         NaN
4         NaN         NaN         NaN         NaN         NaN         NaN

   2020-01-31  2020-02-29  2020-03-31
0         NaN         NaN         NaN
1         NaN         NaN         NaN
2         NaN         NaN         NaN
3         NaN         NaN         NaN
4         NaN         NaN         NaN

[5 rows x 296 columns]
   RegionName RegionType StateName  RegionID  SizeRank  1996-01-31  \
0  California      State        CA       NaN       NaN         NaN
1       Texas      State        TX       NaN       NaN         NaN
2    New York      State        NY       NaN       NaN         NaN
3     Florida      State        FL       NaN       NaN         NaN
4    Illinois      State        IL       NaN       NaN         NaN

   1996-02-29  1996-03-31  1996-04-30  1996-05-31  ...  2019-06-30  \
0         NaN         NaN         NaN         NaN  ...         NaN
1         NaN         NaN         NaN         NaN  ...         NaN
2         NaN         NaN         NaN         NaN  ...         NaN
3         NaN         NaN         NaN         NaN  ...         NaN
4         NaN         NaN         NaN         NaN  ...         NaN

   2019-07-31  2019-08-31  2019-09-30  2019-10-31  2019-11-30  2019-12-31  \
0         NaN         NaN         NaN         NaN         NaN         NaN
1         NaN         NaN         NaN         NaN         NaN         NaN
2         NaN         NaN         NaN         NaN         NaN         NaN
3         NaN         NaN         NaN         NaN         NaN         NaN
4         NaN         NaN         NaN         NaN         NaN         NaN

   2020-01-31  2020-02-29  2020-03-31
0         NaN         NaN         NaN
1         NaN         NaN         NaN
2         NaN         NaN         NaN
3         NaN         NaN         NaN
4         NaN         NaN         NaN

[5 rows x 296 columns]
   RegionName RegionType StateName  RegionID  SizeRank  1996-01-31  \
0  California      State        CA       NaN       NaN         NaN
1       Texas      State        TX       NaN       NaN         NaN
2    New York      State        NY       NaN       NaN         NaN
3     Florida      State        FL       NaN       NaN         NaN
4    Illinois      State        IL       NaN       NaN         NaN

   1996-02-29  1996-03-31  1996-04-30  1996-05-31  ...  2019-06-30  \
0         NaN         NaN         NaN         NaN  ...         NaN
1         NaN         NaN         NaN         NaN  ...         NaN
2         NaN         NaN         NaN         NaN  ...         NaN
3         NaN         NaN         NaN         NaN  ...         NaN
4         NaN         NaN         NaN         NaN  ...         NaN

   2019-07-31  2019-08-31  2019-09-30  2019-10-31  2019-11-30  2019-12-31  \
0         NaN         NaN         NaN         NaN         NaN         NaN
1         NaN         NaN         NaN         NaN         NaN         NaN
2         NaN         NaN         NaN         NaN         NaN         NaN
3         NaN         NaN         NaN         NaN         NaN         NaN
4         NaN         NaN         NaN         NaN         NaN         NaN

   2020-01-31  2020-02-29  2020-03-31
0         NaN         NaN         NaN
1         NaN         NaN         NaN
2         NaN         NaN         NaN
3         NaN         NaN         NaN
4         NaN         NaN         NaN

[5 rows x 296 columns]
   RegionName RegionType StateName  RegionID  SizeRank  1996-01-31  \
0  California      State        CA       NaN       NaN         NaN
1       Texas      State        TX       NaN       NaN         NaN
2    New York      State        NY       NaN       NaN         NaN
3     Florida      State        FL       NaN       NaN         NaN
4    Illinois      State        IL       NaN       NaN         NaN

   1996-02-29  1996-03-31  1996-04-30  1996-05-31  ...  2019-06-30  \
0         NaN         NaN         NaN         NaN  ...         NaN
1         NaN         NaN         NaN         NaN  ...         NaN
2         NaN         NaN         NaN         NaN  ...         NaN
3         NaN         NaN         NaN         NaN  ...         NaN